﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title != null ? ViewBag.Title : DCPPortalWeb.Localization.Home.Resource.ModuleTitle)</title>
    @Styles.Render("~/Contents/MainCss", "~/Content/CommonCss")


    @RenderSection("styles", required: false)
    @RenderSection("headerscripts", required: false)

    <script type="text/javascript">

        var GOOGLE_MAP_KEY = '@DCPPortalWeb.Settings.Constants.GoogleMapKey';

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.setAttribute('defer', '');
        script.setAttribute('async', '');

        script.src = 'https://maps.googleapis.com/maps/api/js?v=3' +
            '&key=' + GOOGLE_MAP_KEY + '&libraries=places';

       document.getElementsByTagName("head")[0].appendChild(script);

    </script>

</head>

<body onkeypress="$bind.handleEnter(event)">

    @Scripts.Render("~/bundles/MainJs")
    <script src="~/Scripts/Bootstrap/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/JQuery/jQuery.browser.mobile.js"></script>
    <script src="~/Component/tosrus/js/hammer.min.js"></script>
    <script src="~/Component/tosrus/FlameViewportScale.js"></script>
    <script src="~/Component/tosrus/js/jquery.tosrus.all.min.js"></script>
    @Scripts.Render("~/bundles/HomeJs")

    @Html.Hidden("sNoofRoom", @DCPPortalWeb.Localization.Home.Resource.NoofRoom)
    @Html.Hidden("sNoofConference", @DCPPortalWeb.Localization.Home.Resource.NoofConference)
    @Html.Hidden("sSizeofLargestroom", @DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom)
    @Html.Hidden("sCapacityOfRoom", @DCPPortalWeb.Localization.Home.Resource.CapacityOfRoom)
    @Html.Hidden("sCapacityOfRestaurant", @DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant)
    @Html.Hidden("sRentalCost", @DCPPortalWeb.Localization.Home.Resource.RentalCost)
    @Html.Hidden("sDeleteConfirm", @DCPPortalWeb.Localization.Common.Resource.DeleteConfirmation)
    @Html.Hidden("sDeleteConfirmTitle", @DCPPortalWeb.Localization.Common.Resource.Confirmation)
    @Html.Hidden("sDeleteConfirmOk", @DCPPortalWeb.Localization.Common.Resource.OK)
    @Html.Hidden("sDeleteConfirmCancel", @DCPPortalWeb.Localization.Common.Resource.Cancel)
    @Html.Hidden("sAddBookmark", @DCPPortalWeb.Localization.Common.Resource.AddBookmark)
    @Html.Hidden("sRemoveBookmark", @DCPPortalWeb.Localization.Common.Resource.RemoveBookmark)
    @Html.Hidden("sGreenTitle", @DCPPortalWeb.Localization.Home.Resource.Green)
    @Html.Hidden("sReopenTitle", @DCPPortalWeb.Localization.Home.Resource.Reopen)

    @Html.Hidden("sCateringPartnerTitle", @DCPPortalWeb.Localization.Home.Resource.Catering)
    @Html.Hidden("sTechnicalPartnerTitle", @DCPPortalWeb.Localization.Home.Resource.Technik)
    @Html.Hidden("sAccessibleForCarsTitle", @DCPPortalWeb.Localization.Home.Resource.CarDrive)


    @Html.Hidden("hdnLanguage", (string)ViewBag.Language)
    @Html.Hidden("hdnUser", (string)ViewBag.username)
    @Html.Hidden("sNearByRestaurant", @DCPPortalWeb.Localization.Home.Resource.NearByRestaurant)
    @Html.Hidden("sNearByLocation", @DCPPortalWeb.Localization.Home.Resource.NearByLocation)
    @Html.Hidden("sNearByHotel", @DCPPortalWeb.Localization.Home.Resource.NearByHotel)
    @Html.Hidden("sNoRecords", @DCPPortalWeb.Localization.Common.Resource.NoRecordsAvailable)
    @Html.Hidden("sViewOnMap", @DCPPortalWeb.Localization.Home.Resource.ViewOnMap)
    @Html.Hidden("s360degreeview", @DCPPortalWeb.Localization.Home.Resource.GooglePanaroma)
    @Html.Hidden("sMIn", @DCPPortalWeb.Localization.Home.Resource.MIn)
    @Html.Hidden("sMax", @DCPPortalWeb.Localization.Home.Resource.Max)
    @Html.Hidden("sSet", @DCPPortalWeb.Localization.Home.Resource.Set)
    @Html.Hidden("sMore", @DCPPortalWeb.Localization.Home.Resource.More)
    @Html.Hidden("hdnhotel", @DCPPortalWeb.Localization.Home.Resource.Hotels)
    @Html.Hidden("hdnrestaurant", @DCPPortalWeb.Localization.Home.Resource.Restaurants)
    @Html.Hidden("hdnlocation", @DCPPortalWeb.Localization.Home.Resource.Locations)
    @Html.Hidden("hdnselectcountry", @DCPPortalWeb.Localization.Home.Resource.SearchCountry)
    @Html.Hidden("hdnselectradius", @DCPPortalWeb.Localization.Home.Resource.SearchRadius)
    @Html.Hidden("hdnselecthotel", @DCPPortalWeb.Localization.Home.Resource.HotelTypeDesc)
    @Html.Hidden("hdninfohoteltype", @DCPPortalWeb.Localization.Home.Resource.HotelType)
    @Html.Hidden("hdnselecthotelchain", @DCPPortalWeb.Localization.Home.Resource.HotelChainDesc)
    @Html.Hidden("hdnselectlocation", @DCPPortalWeb.Localization.Home.Resource.LocationTypeDesc)
    @Html.Hidden("hdninfolocationtype", @DCPPortalWeb.Localization.Home.Resource.LocationType)
    @Html.Hidden("hdnselectsuitablefor", @DCPPortalWeb.Localization.Home.Resource.SuitableForDesc)
    @Html.Hidden("hdninfosuitable", @DCPPortalWeb.Localization.Home.Resource.Suitable)
    @Html.Hidden("hdnselectkitchen", @DCPPortalWeb.Localization.Home.Resource.KitchenDesc)
    @Html.Hidden("hdninfokitchen", @DCPPortalWeb.Localization.Home.Resource.KitchenType)
    @Html.Hidden("hdnselectrestaurant", @DCPPortalWeb.Localization.Home.Resource.RestaurantTypeDesc)
    @Html.Hidden("hdninforestauranttype", @DCPPortalWeb.Localization.Home.Resource.RestaurantType)
    @Html.Hidden("hdnAPIBaseURL", DCPPortalWeb.Settings.Constants.APIBaseURL)
    @Html.Hidden("hdnImageBaseURL", DCPPortalWeb.Settings.Constants.ImageBaseURL)
    @Html.Hidden("NearByKM", DCPPortalWeb.Settings.Constants.NearByKM)
    @Html.Hidden("hdnadd", @DCPPortalWeb.Localization.Home.Resource.Add)
    @Html.Hidden("hdnremove", @DCPPortalWeb.Localization.Home.Resource.Remove)
    @Html.Hidden("hdnview", @DCPPortalWeb.Localization.Home.Resource.View)
    @Html.Hidden("hdnrunningdays", @DCPPortalWeb.Localization.RFP.Resource.RunningDays)
    @Html.Hidden("hdncreatedon", @DCPPortalWeb.Localization.RFP.Resource.CreatedOn)
    @Html.Hidden("hdncreatedBy", @DCPPortalWeb.Localization.RFP.Resource.CreatedBy)
    @Html.Hidden("hdnstatus", @DCPPortalWeb.Localization.Home.Resource.Status)
    @Html.Hidden("hdnNoUpdate", @DCPPortalWeb.Localization.RFP.Resource.NoUpdate)
    @Html.Hidden("hdnChangePass", @DCPPortalWeb.Localization.Home.Resource.ChangePassword)
    @Html.Hidden("hdnEditProfile", @DCPPortalWeb.Localization.Login.Resource.EditProfile)

    @Html.Hidden("hdnMandateRadius", @DCPPortalWeb.Localization.Home.Resource.MandateRadius)
    @Html.Hidden("hdnMandateDestination", @DCPPortalWeb.Localization.Home.Resource.MandateDestination)
    @Html.Hidden("hdnHotelLabel", @DCPPortalWeb.Localization.Home.Resource.Hotel)
    @Html.Hidden("hdnRestaurantLabel", @DCPPortalWeb.Localization.Home.Resource.Restaurant)
    @Html.Hidden("hdnLocationLabel", @DCPPortalWeb.Localization.Home.Resource.Location)
    @Html.Hidden("hdnDestinationValidation", DCPPortalWeb.Localization.Home.Resource.DestinationValidation)
    @*Code*@
    @Html.Hidden("E701", @DCPPortalWeb.Localization.ManageCode.Resource.E701)
    @Html.Hidden("E702", @DCPPortalWeb.Localization.ManageCode.Resource.E702)
    @Html.Hidden("C401", @DCPPortalWeb.Localization.ManageCode.Resource.C401)
    @Html.Hidden("C403", @DCPPortalWeb.Localization.ManageCode.Resource.C403)
    @Html.Hidden("C410", @DCPPortalWeb.Localization.ManageCode.Resource.C410)
    @Html.Hidden("C411", @DCPPortalWeb.Localization.ManageCode.Resource.C411)
    @Html.Hidden("E601", @DCPPortalWeb.Localization.ManageCode.Resource.E601)
    @Html.Hidden("E602", @DCPPortalWeb.Localization.ManageCode.Resource.E602)
    @Html.Hidden("E603", @DCPPortalWeb.Localization.ManageCode.Resource.E603)
    @Html.Hidden("E604", @DCPPortalWeb.Localization.ManageCode.Resource.E604)
    @Html.Hidden("E605", @DCPPortalWeb.Localization.ManageCode.Resource.E605)
    @Html.Hidden("E606", @DCPPortalWeb.Localization.ManageCode.Resource.E606)
    @Html.Hidden("E608", @DCPPortalWeb.Localization.ManageCode.Resource.E608)
    @Html.Hidden("E609", @DCPPortalWeb.Localization.ManageCode.Resource.E609)
    @Html.Hidden("E610", @DCPPortalWeb.Localization.ManageCode.Resource.E610)

    <a href="#" id="back-to-top" title="@DCPPortalWeb.Localization.Home.Resource.TopFilter" class="blborder show-tooltip"><span class="glyphicon glyphicon-menu-up"></span></a>

    <nav class="navbar navbar-inverse navbar-static-top fixheaders">
        <div class="col-lg-12">
            <div class="navbar-header">
                <a class="navbar-brand text-hide" href="/home">
                    <img src="~/Images/logo_header.png" />
                </a>
                <div class="navbar-toggler">
                    <span class="glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#navbar6">
                    </span>
                </div>
            </div>
            <div id="navbar6" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="active tabs" id="lihome"><a href="/home"><span class="glyphicon glyphicon-home r5"></span>@DCPPortalWeb.Localization.Home.Resource.Home</a></li>*@
                    <li class="tabs" id="limyrfp"><a href="/RFP/MyRFP" target="_blank" class="myrequestheader font16header">&nbsp; @DCPPortalWeb.Localization.Home.Resource.MyRFP</a></li>
                    <li class="tabs" id="licart"><a href="/Cart" target="_blank" class="bookmarkheader font16header">&nbsp; @DCPPortalWeb.Localization.Home.Resource.Cart</a> <div id="bookmarkCartCount" class="d-none"></div><div id="cartCountloader" class="d-none"><i class="glyphicon glyphicon-repeat gly-spin"></i></div></li>
                    <li class="tabs" id="liname"><a class="font16header" href="#"><span id="spanuser"></span></a></li>
                    <li class="tabs dropdown" id="limenu">
                        <a href="#" class="dropdown-toggle carets m0p0" data-toggle="dropdown" role="button" aria-expanded="false"><img src="~/Images/avatar.png" alt="Avatar" class="avatar" id="imgCurrentUser"></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Info/Profile" target="_blank" id="aprofile">@DCPPortalWeb.Localization.Home.Resource.Setting</a></li>
                            <li class="divider" id="divider1"></li>
                            <li><a href="/User" target="_blank" id="amanageuser">@DCPPortalWeb.Localization.Home.Resource.ManageUser</a></li>
                            <li class="divider"></li>
                            <li><a href="/Login" class="fontgrey">@DCPPortalWeb.Localization.Home.Resource.LogOut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="maindiv min440">
        <div id="mloader" class="Mloader box1 displaynone"></div>
        @RenderBody()
    </div>

    <footer class="navbar-default navbar-fixed-bottom">
        @*<div class="row">
                <div class="col-md-3 col-sm-4 col-xs-5">
                    <span class="glyphicon glyphicon-time"></span> &nbsp;@DCPPortalWeb.Localization.Home.Resource.LastAccess&nbsp;<span id="spanLAD"></span>
                </div>
            </div>*@
        <div class="LEGEL">
            <span class="CONTENT4">@DCPPortalWeb.Localization.Home.Resource.Legel</span>
        </div>
        <div class="COMMENTS">
            <label class="CONTENT1">@DCPPortalWeb.Localization.Login.Resource.signupheader1</label>
            <label class="CONTENT2">@DCPPortalWeb.Localization.Login.Resource.signupheader2</label>
        </div>
        <div class="INFORMATION">
            <img src="~/Images/logo_footer.png" /><br />
            <span class="CONTENT3">@Html.Raw(DCPPortalWeb.Localization.Login.Resource.Address)</span>
        </div>
        <div class="flags">
            <ul>
                <li><a class="hover" href="/Base/ChangeCulture?lang=de-DE"><img src="~/Images/language_german_footer.png" /></a></li>
                <li><a class="hover" href="/Base/ChangeCulture?lang=en-US"><img src="~/Images/language_english_footer.png" /></a></li>
            </ul>
        </div>
    </footer>

    @Html.Partial("~/Views/Home/_ModalView.cshtml")



    @RenderSection("scripts", required: false)
    @RenderSection("partialscripts", required: false)

</body>
</html>

