﻿<div id="divControls" style="display:none">
    @Html.Hidden("hdnMiceRequestId", "")
    <input type="hidden" value="@DCPPortalWeb.Localization.RFP.Resource.CheckinDateValidationMsg" id="hdnCheckinDateValidationMsg" />
    <input type="hidden" value="@DCPPortalWeb.Localization.RFP.Resource.CheckOutDateValidationMsg" id="hdnCheckOutDateValidationMsg" />
</div>

<div class="rfp-addroom">
    <div class="row">

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtCheckedInDate" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.CheckedInDateLabel
                </label>
                <i class="glyphicon glyphicon-calendar yellow"></i>
                <input class="form-control" type="text" id="txtCheckedInDate" />
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtdestinationname" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.CheckedOutDateLabel
                </label>
                <i class="glyphicon glyphicon-calendar yellow"></i>
                <input class="form-control" type="text" id="txtCheckedOutDate" />
            </div>
        </div>
    </div>

    <div class="clear10"></div>
    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="ddlRoomType" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.RoomTypeLabel
                </label>
                <div id="ddlRoomType" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.RFP.Resource.SelectRoomType'>
                </div>
            </div>
        </div>
    </div>

    <div class="clear10"></div>

    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtNoOfRooms" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.NoOfRoomLabel
                </label>
                <input class="form-control numeric" type="number" id="txtNoOfRooms" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterRoom" />
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">

                <label for="txtBudget" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.BudgetPerRoom (&nbsp;<span class='glyphicon glyphicon-euro euroSign'></span>&nbsp;)
                </label>
                <input class="form-control numeric" type="number" id="txtBudget" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterBudget" />
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <hr />
    <div class="clear10"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <button type="button" class="btn draw-borderO fr mr5" id="btnAbortRoom" onclick="$rfp.closemodel('#addroommodelcontainer')"><i class="glyphicon glyphicon-remove"></i> @DCPPortalWeb.Localization.Home.Resource.Cancel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnAddRoom" onclick="$rfp.saveRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.AddButtonLabel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnUpdateRoom" style="display:none;" onclick="$rfp.saveRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.Update</button>
        </div>
    </div>
</div>