﻿
<div style="display:none">
    <input type="hidden" value="@DCPPortalWeb.Localization.RFP.Resource.EventDayValidationMsg" id="hdnGroupEventDayValidationMsg" />

</div>


<div class="rfp-addgrouproom">
    <div class="row">
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtGroupRoomEventDate" class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventDayLabel</label>
                <i class="glyphicon glyphicon-calendar yellow"></i>
                <input class="form-control" type="text" placeholder='@DCPPortalWeb.Localization.RFP.Resource.SelectEventDay' id="txtGroupRoomEventDate" />
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 typeclass">

            @*<div id="ddlGroupRoomStartTimeInterval" class="add-form-elements">
                </div>*@
            <div class="inner-addon left-addon">
                <label for="txtGroupRoomStartTimeInterval" class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventStartLabel</label>
                <i class="glyphicon glyphicon-time yellow"></i>
                <input id="txtGroupRoomStartTimeInterval" type="text" class="form-control input-small">
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 typeclass">

            @*<div id="ddlGroupRoomEndTimeInterval" class="add-form-elements">
                </div>*@

            <div class="inner-addon left-addon">
                <label for="txtGroupRoomEndTimeInterval" class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventEndLabel</label>
                <i class="glyphicon glyphicon-time yellow"></i>
                <input id="txtGroupRoomEndTimeInterval" type="text" class="form-control input-small">
            </div>

        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtGroupRoomParticipants" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                </label>
                <input class="form-control numeric" type="number" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterParticipant"
                       id="txtGroupRoomParticipants" />
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass mt20">
            <div class="inner-addon left-addon">
                <label for="ddlGroupRoomSeatingType" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                </label>
                <div id="ddlGroupRoomSeatingType" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.RFP.Resource.SelectSeatingTypeLabel'>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon">
                <label for="txtGroupRoomRoomSize" class="labelheader">
                    @DCPPortalWeb.Localization.RFP.Resource.RoomSizeLabel
                </label>
                <input class="form-control numeric" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterRoomSize" type="number" id="txtGroupRoomRoomSize" />
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 typeclass">
            <div class="inner-addon left-addon" >
                <label for="txtGroupRoomRoomBudget" class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.BudgetPerRoom (&nbsp;<span class='glyphicon glyphicon-euro euroSign'></span>&nbsp;) </label>
                <input class="form-control numeric" type="number" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterBudget" id="txtGroupRoomRoomBudget" />
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <hr />
    <div class="clear10"></div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <button type="button" class="btn draw-borderO fr mr5" id="btnAbortGroupRoom" onclick="$rfp.closemodel('#addgrouproommodelcontainer')"><i class="glyphicon glyphicon-remove"></i> @DCPPortalWeb.Localization.Home.Resource.Cancel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnAddGroupRoom" onclick="$rfp.saveGroupRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.AddButtonLabel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnUpdateGroupRoom" style="display:none;" onclick="$rfp.saveGroupRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.Update</button>

        </div>
    </div>
    <div class="clear10"></div>
</div>






