﻿<div id="divControls" style="display:none">
    @Html.Hidden("hdnMiceRequestId", "")

</div>

<div class="rfp-addresource">
    <div class="row search-result">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-8 typeclass">
            <div class="inner-addon left-addon">
                <label for="ddlResource" class="labelheader">
                    <span>@DCPPortalWeb.Localization.RFP.Resource.SelectHotel</span>
                </label>
                <div id="ddlResource" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.RFP.Resource.SelectHotel'>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span style="display: none; color: red;" id="validationmsg">
                @DCPPortalWeb.Localization.RFP.Resource.AlreadySelected
            </span>
        </div>
        @*<div class="col-md-12 rfpSearchResources">

        </div>*@
    </div>
    <div class="row rfpAddResources">

    </div>
        <div class="clear10"></div>
        <hr />
        <div class="clear10"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <button type="button" class="btn draw-borderO fr mr5" id="btnAbortResource" onclick="$rfp.closemodel('#addToCartmodelcontainer')"><i class="glyphicon glyphicon-remove"></i> @DCPPortalWeb.Localization.Home.Resource.Cancel</button>
                <button type="button" class="btn draw-borderB fr mr5" id="btnSaveResource" onclick="$rfp.saveRFPCart('#addToCartmodelcontainer')"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.Save</button>
            </div>
        </div>
    </div>