﻿<div class="rfp-addconferenceroom">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading panelgrey active" role="tab" id="headingOne"
                     data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title bluefont">
                        <i class="glyphicon glyphicon-th"></i> @DCPPortalWeb.Localization.RFP.Resource.GeneralInformation
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="clear10"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4 col-lg-4 typeclass">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventDayLabel</label>
                                    <i class="glyphicon glyphicon-calendar yellow"></i>
                                    <input class=" form-control" style="padding-left: 30px !important;" type="text" id="txtEventDate" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EventDayLabel" />
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-lg-4">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventStartLabel</label>
                                    <i class="glyphicon glyphicon-time yellow"></i>
                                    <input id="txtStartTimeInterval" type="text" class="form-control input-small">
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-lg-4">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventEndLabel</label>
                                    <i class="glyphicon glyphicon-time yellow"></i>
                                    <input id="txtEndTimeInterval" type="text" class="form-control input-small">
                                </div>
                            </div>
                        </div>

                        <div class="clear10"></div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel</label>
                                    <input class=" form-control" type="number" id="txtParticipants" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterParticipant" />
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-lg-6 mt20">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel</label>
                                    <div id="ddlSeatingType" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.RFP.Resource.SelectSeatingTypeLabel'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear10"></div>
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.RoomSizeLabel</label>
                                    <input class=" form-control" type="number" id="txtRoomSize" min="0" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterRoomSize" />
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                <div class="inner-addon left-addon">
                                    <label class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.BudgetPerRoom (&nbsp;<span class='glyphicon glyphicon-euro euroSign'></span>&nbsp;)</label>
                                    <input class=" form-control" type="number" id="txtConferenceRoomBudget" min="0" placeholder="@DCPPortalWeb.Localization.RFP.Resource.EnterBudget" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10 for-hotel"></div>
    <div class="row for-hotel">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading panelgrey active" role="tab" id="headingOne"
                     data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title bluefont">
                        <i class="glyphicon glyphicon-book"></i> @DCPPortalWeb.Localization.RFP.Resource.RoomEquipmentLabel
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body" id="divRoomEquipment">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading panelgrey active" role="tab" id="headingTwo"
                     data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h4 class="panel-title bluefont">
                        <i class="glyphicon glyphicon-glass"></i> @DCPPortalWeb.Localization.RFP.Resource.FoodAndBeverageLabel
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body" id="divConferenceFoods">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading panelgrey active" role="tab" id="headingTwo"
                     data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h4 class="panel-title bluefont">
                        <i class="glyphicon glyphicon-comment"></i> @DCPPortalWeb.Localization.RFP.Resource.CommentsLabel
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <textarea id="txtComments" class=" form-control" rows="3" placeholder="@DCPPortalWeb.Localization.RFP.Resource.CommentsLabel"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <button type="button" class="btn draw-borderO fr mr5" id="btnAbortConferenceRoom" onclick="$rfp.closemodel('#addconferenceroommodelcontainer')"><i class="glyphicon glyphicon-remove"></i> @DCPPortalWeb.Localization.Home.Resource.Cancel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnAddConferenceRoom" onclick="$rfp.saveConferenceRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.AddButtonLabel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnUpdateConferenceRoom" style="display:none;" onclick="$rfp.saveConferenceRoomInformation()"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.Update</button>
        </div>
    </div>
    <div class="clear10"></div>
</div>


<script>
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>