﻿@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabMyRFPTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Contents/RFPCss")
}
<div id="localization" style="display:none">
    @Html.Hidden("hdnAbortReason", @DCPPortalWeb.Localization.RFP.Resource.AbortReason)
    @Html.Hidden("hdnAbort", @DCPPortalWeb.Localization.RFP.Resource.Abort)
    @Html.Hidden("hdnBook", @DCPPortalWeb.Localization.RFP.Resource.Book)
    @Html.Hidden("hdnCheckInDate", @DCPPortalWeb.Localization.RFP.Resource.CheckedInDateLabel)
    @Html.Hidden("hdnCheckOutDate", @DCPPortalWeb.Localization.RFP.Resource.CheckedOutDateLabel)
    @Html.Hidden("hdnConferenceRoom", @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel)
    @Html.Hidden("hdnDateTime", @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel)
    @Html.Hidden("hdnParticipants", @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel)

    @Html.Hidden("hdnPensandNotepads", @DCPPortalWeb.Localization.RFP.Resource.PensandNotepads)
    @Html.Hidden("hdnScreen", @DCPPortalWeb.Localization.RFP.Resource.Screen)
    @Html.Hidden("hdnLCDProjector", @DCPPortalWeb.Localization.RFP.Resource.LCDProjector)
    @Html.Hidden("hdnFlipchart", @DCPPortalWeb.Localization.RFP.Resource.LCDProjector)
    @Html.Hidden("hdnPinboard", @DCPPortalWeb.Localization.RFP.Resource.Pinboard)
    @Html.Hidden("hdnMeetingKit", @DCPPortalWeb.Localization.RFP.Resource.MeetingKit)
    @Html.Hidden("hdnWhiteboard", @DCPPortalWeb.Localization.RFP.Resource.Whiteboard)
    @Html.Hidden("hdnISDN", @DCPPortalWeb.Localization.RFP.Resource.ISDN)
    @Html.Hidden("hdnInternet", @DCPPortalWeb.Localization.RFP.Resource.Internet)
    @Html.Hidden("hdnMicrophone", @DCPPortalWeb.Localization.RFP.Resource.Microphone)
    @Html.Hidden("hdnWirelessMicrophone", @DCPPortalWeb.Localization.RFP.Resource.WirelessMicrophone)
    @Html.Hidden("hdnSoundSystem", @DCPPortalWeb.Localization.RFP.Resource.SoundSystem)
    @Html.Hidden("hdnLectern", @DCPPortalWeb.Localization.RFP.Resource.Lectern)

    @Html.Hidden("hdnmorning_two_drinks", @DCPPortalWeb.Localization.RFP.Resource.morning_two_drinks)
    @Html.Hidden("hdnmorning_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.morning_drinks_flat)
    @Html.Hidden("hdnmorning_coffee_and_tea", @DCPPortalWeb.Localization.RFP.Resource.morning_coffee_and_tea)
    @Html.Hidden("hdnmorning_welcome_coffee_and_tea", @DCPPortalWeb.Localization.RFP.Resource.morning_welcome_coffee_and_tea)
    @Html.Hidden("hdnmorning_coffee_and_tea_break", @DCPPortalWeb.Localization.RFP.Resource.morning_coffee_and_tea_break)
    @Html.Hidden("hdnmidday_coffee_and_tea_break", @DCPPortalWeb.Localization.RFP.Resource.midday_coffee_and_tea_break)
    @Html.Hidden("hdnsecond_coffebreak", @DCPPortalWeb.Localization.RFP.Resource.second_coffebreak)
    @Html.Hidden("hdnevening_dinner_buffet", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_buffet)
    @Html.Hidden("hdnevening_dinner_one_dish", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_one_dish)
    @Html.Hidden("hdnevening_dinner_two_course_meal", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_two_course_meal)
    @Html.Hidden("hdnevening_dinner_three_course_meal", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_three_course_meal)
    @Html.Hidden("hdnevening_dinner_snack", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_snack)
    @Html.Hidden("hdngala_dinner", @DCPPortalWeb.Localization.RFP.Resource.gala_dinner)
    @Html.Hidden("hdnevening_one_drink", @DCPPortalWeb.Localization.RFP.Resource.evening_one_drink)
    @Html.Hidden("hdnevening_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.evening_drinks_flat)

    @Html.Hidden("hdnmidday_lunch_snack", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_snack)
    @Html.Hidden("hdnmidday_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.midday_drinks_flat)
    @Html.Hidden("hdnmidday_lunch_buffet", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_buffet)
    @Html.Hidden("hdnmidday_lunch_one_dish", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_one_dish)
    @Html.Hidden("hdnmidday_lunch_three_course_meal", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_three_course_meal)
    @Html.Hidden("hdnmidday_lunch_two_course_meal", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_two_course_meal)
    @Html.Hidden("hdnmidday_one_drink", @DCPPortalWeb.Localization.RFP.Resource.midday_one_drink)

    @Html.Hidden("hdnYes", @DCPPortalWeb.Localization.Common.Resource.Yes)
    @Html.Hidden("hdnNo", @DCPPortalWeb.Localization.Common.Resource.No)

    @Html.Hidden("hdnEquipment", @DCPPortalWeb.Localization.RFP.Resource.RoomEquipmentLabel)
    @Html.Hidden("hdnFood", @DCPPortalWeb.Localization.RFP.Resource.FoodAndBeverageLabel)

</div>

<div class="">
    <div class="col-xs-12 col-md-12">
        <div class="pull-left">
            <label class="CONTENTHEADER">&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;<b>@DCPPortalWeb.Localization.RFP.Resource.MyRFP</b></label>
        </div>
        <a href="javascript:void(0)" onclick="$bind.RedirectStartRFP();" class="btn draw-borderB fr mr5 pull-right show-tooltip mt-50" id="btnstartrfp" title="@DCPPortalWeb.Localization.Home.Resource.StartRFP"><i class="glyphicon glyphicon-send"></i>&nbsp;@DCPPortalWeb.Localization.Home.Resource.StartRFP</a>
        <a href="/home/index?history=1" class="btn draw-borderO fr mr5 pull-right mt-50" id="btnBackrfp"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Back</a>
    </div>
</div>
<div class="clear10"></div>
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-11 col-xs-offset-1 mt3">
    <div class="blurdiv">
        <div class="panel panel-default bhoechie-tab-container mtb0">

            <div class="panel-body bluefont" id="DivGeneralInfo">

                <div class="row">
                    <div class="form-group col-lg-8 col-md-8 col-sm-6 col-xs-12 typeclass mb0">
                        <div class="inner-addon left-addon">
                            <label for="txtEventName" class="labelheader"> @DCPPortalWeb.Localization.Home.Resource.Search</label>
                            <input class="form-control" id="txtsearchevent" name="searchevent" placeholder="@DCPPortalWeb.Localization.RFP.Resource.SearchEvent" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 typeclass mb0">
                        <div class="mt20">

                            <a class="dropdown-toggle ac btn-select show-tooltip linktextcss bluefont" title="" id="sorted" data-toggle="dropdown" href="#">@DCPPortalWeb.Localization.Home.Resource.SortBy: @DCPPortalWeb.Localization.RFP.Resource.CreatedOn&nbsp;<span data-sort="CreatedDateDesc" class="sortby glyphicon glyphicon-arrow-down pointer bluefont"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu fr" id="sorting">
                                <li class="psort mt10"><span class="name">@DCPPortalWeb.Localization.RFP.Resource.EventName</span>&nbsp;&nbsp;<span onclick="$search.applyrfpsortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="EventNameAsc" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp;<span onclick="$search.applyrfpsortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="EventNameDesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                                <li class="psort mt10"><span class="name">@DCPPortalWeb.Localization.RFP.Resource.CreatedOn</span> &nbsp;&nbsp;<span onclick="$search.applyrfpsortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="CreatedDateAsc" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp; <span onclick="$search.applyrfpsortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="CreatedDateDesc" class="sortby glyphicon glyphicon-arrow-down pointer bluefont"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clear10"></div>

<div class="Ccontainer mt3">
    <div class="row" id="divMyRFPInfo">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt10">
            <div class="tabback">
                <div class="nav nav-pills nav-bar bottomshadow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtpb15" >
                        <span class="bluefont ac show-tooltip"><span class="glyphicon glyphicon-edit"></span>&nbsp;@DCPPortalWeb.Localization.RFP.Resource.Drafts</span>
                    </div>
                </div>
                <div class="tab-content clearfix" id="myrfpdraftdiv">
                    <div class="timeline-item col-lg-12 mt15">
                        <div class="animated-background loaders">
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                    <div class="timeline-item col-lg-12 mt15">
                        <div class="animated-background loaders">
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt10">
            <div class="tabback">
                <div class="nav nav-pills nav-bar bottomshadow">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtpb15">
                        <span class="bluefont ac show-tooltip"> <span class="glyphicon glyphicon-check"></span>&nbsp;@DCPPortalWeb.Localization.RFP.Resource.Request</span>
                    </div>
                </div>
                <div class="tab-content clearfix" id="myrfpdiv">
                    <div class="timeline-item col-lg-12 mt15">
                        <div class="animated-background loaders">
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                    <div class="timeline-item col-lg-12 mt15">
                        <div class="animated-background loaders">
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row mo displaynone" id="drawbutton">
            <div class="ac">
                <button type="button" class="btn ac btnloadmore show-tooltip w90 blueback mb40" title="@DCPPortalWeb.Localization.Home.Resource.LoadMore" id="btnloadmore" onclick="$MRFP.GetRFPListData(false);"><i class="glyphicon glyphicon-hourglass"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.LoadMore</button>
            </div>
        </div>

        <br />
        <div class="clear10"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/MYRFPJs")
}
