﻿@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabRFPDetailTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Contents/RfpDetailCss")

<script src="~/Scripts/RFP/MyRFP.js"></script>
<script src="~/Scripts/RFP/rfpDetail.js"></script>
@Html.Hidden("hdnAbortReason", @DCPPortalWeb.Localization.RFP.Resource.AbortReason)
@Html.Hidden("hdnAbort", @DCPPortalWeb.Localization.RFP.Resource.Abort)
@Html.Hidden("hdnCheckInDate", @DCPPortalWeb.Localization.RFP.Resource.CheckedInDateLabel)
@Html.Hidden("hdnCheckOutDate", @DCPPortalWeb.Localization.RFP.Resource.CheckedOutDateLabel)

@Html.Hidden("hdnConferenceRoom", @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel)
@Html.Hidden("hdnDateTime", @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel)
@Html.Hidden("hdnParticipants", @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel)

@Html.Hidden("hdnPensandNotepads", @DCPPortalWeb.Localization.RFP.Resource.PensandNotepads)
@Html.Hidden("hdnScreen", @DCPPortalWeb.Localization.RFP.Resource.Screen)
@Html.Hidden("hdnLCDProjector", @DCPPortalWeb.Localization.RFP.Resource.LCDProjector)
@Html.Hidden("hdnFlipchart", @DCPPortalWeb.Localization.RFP.Resource.LCDProjector)
@Html.Hidden("hdnPinboard", @DCPPortalWeb.Localization.RFP.Resource.Pinboard)
@Html.Hidden("hdnMeetingKit", @DCPPortalWeb.Localization.RFP.Resource.MeetingKit)
@Html.Hidden("hdnWhiteboard", @DCPPortalWeb.Localization.RFP.Resource.Whiteboard)
@Html.Hidden("hdnISDN", @DCPPortalWeb.Localization.RFP.Resource.ISDN)
@Html.Hidden("hdnInternet", @DCPPortalWeb.Localization.RFP.Resource.Internet)
@Html.Hidden("hdnMicrophone", @DCPPortalWeb.Localization.RFP.Resource.Microphone)
@Html.Hidden("hdnWirelessMicrophone", @DCPPortalWeb.Localization.RFP.Resource.WirelessMicrophone)
@Html.Hidden("hdnSoundSystem", @DCPPortalWeb.Localization.RFP.Resource.SoundSystem)
@Html.Hidden("hdnLectern", @DCPPortalWeb.Localization.RFP.Resource.Lectern)

@Html.Hidden("hdnmorning_two_drinks", @DCPPortalWeb.Localization.RFP.Resource.morning_two_drinks)
@Html.Hidden("hdnmorning_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.morning_drinks_flat)
@Html.Hidden("hdnmorning_coffee_and_tea", @DCPPortalWeb.Localization.RFP.Resource.morning_coffee_and_tea)
@Html.Hidden("hdnmorning_welcome_coffee_and_tea", @DCPPortalWeb.Localization.RFP.Resource.morning_welcome_coffee_and_tea)
@Html.Hidden("hdnmorning_coffee_and_tea_break", @DCPPortalWeb.Localization.RFP.Resource.morning_coffee_and_tea_break)
@Html.Hidden("hdnmidday_coffee_and_tea_break", @DCPPortalWeb.Localization.RFP.Resource.midday_coffee_and_tea_break)
@Html.Hidden("hdnsecond_coffebreak", @DCPPortalWeb.Localization.RFP.Resource.second_coffebreak)
@Html.Hidden("hdnevening_dinner_buffet", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_buffet)
@Html.Hidden("hdnevening_dinner_one_dish", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_one_dish)
@Html.Hidden("hdnevening_dinner_two_course_meal", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_two_course_meal)
@Html.Hidden("hdnevening_dinner_three_course_meal", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_three_course_meal)
@Html.Hidden("hdnevening_dinner_snack", @DCPPortalWeb.Localization.RFP.Resource.evening_dinner_snack)
@Html.Hidden("hdngala_dinner", @DCPPortalWeb.Localization.RFP.Resource.gala_dinner)
@Html.Hidden("hdnevening_one_drink", @DCPPortalWeb.Localization.RFP.Resource.evening_one_drink)
@Html.Hidden("hdnevening_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.evening_drinks_flat)

@Html.Hidden("hdnmidday_lunch_snack", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_snack)
@Html.Hidden("hdnmidday_drinks_flat", @DCPPortalWeb.Localization.RFP.Resource.midday_drinks_flat)
@Html.Hidden("hdnmidday_lunch_buffet", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_buffet)
@Html.Hidden("hdnmidday_lunch_one_dish", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_one_dish)
@Html.Hidden("hdnmidday_lunch_three_course_meal", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_three_course_meal)
@Html.Hidden("hdnmidday_lunch_two_course_meal", @DCPPortalWeb.Localization.RFP.Resource.midday_lunch_two_course_meal)
@Html.Hidden("hdnmidday_one_drink", @DCPPortalWeb.Localization.RFP.Resource.midday_one_drink)

@Html.Hidden("hdnYes", @DCPPortalWeb.Localization.Common.Resource.Yes)

@Html.Hidden("hdnBook", @DCPPortalWeb.Localization.RFP.Resource.Book)
@Html.Hidden("hdnNo", @DCPPortalWeb.Localization.Common.Resource.No)

@Html.Hidden("hdnEquipment", @DCPPortalWeb.Localization.RFP.Resource.RoomEquipmentLabel)
@Html.Hidden("hdnFood", @DCPPortalWeb.Localization.RFP.Resource.FoodAndBeverageLabel)

@Html.Hidden("hdnRequest", @DCPPortalWeb.Localization.RFP.Resource.Request)
@Html.Hidden("hdnAccomodation", @DCPPortalWeb.Localization.RFP.Resource.AccomodationLabel)
@Html.Hidden("hdnGroupRoom", @DCPPortalWeb.Localization.Home.Resource.GroupRoom)
@Html.Hidden("hdnConferenceRoom", @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel)
@Html.Hidden("hdnAbortedDate", @DCPPortalWeb.Localization.RFP.Resource.AbortedDate)
@Html.Hidden("hdnSelectReason", @DCPPortalWeb.Localization.RFP.Resource.SelectReason)

<div class="clear10"></div>
<div class="mt15">
    <div class="col-xs-12 col-md-12 mt10">
        <div class="pull-left">
            <label class="CONTENTHEADER">&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;<b><span id="rfpinfotitle"></span></b></label>
        </div>
        <a href="/home" class="btn draw-borderO fr mr5 pull-right mt-50" id="btnBackrfpdetail"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Back</a>
    </div>
</div>
<div class="clear10"></div>


@*<div class="Ccontainer mt15p">
        <div class="row bhoechie-tab-container" id="">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="tabback"></div>
            </div>
        </div>
    </div>*@

<div class="Ccontainer mt15p">
    <div class="row bhoechie-tab-container" id="">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="clear10"></div>
            <div class="row" id="divMyRFPInfo">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="row mrml0">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p0" id="RFPDiv">
                            <div class="clear10"></div>

                            <div class="wrapper center-block">
                                <div class="panel-group prl10" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel">
                                        <div class="panel-heading active panelgrey Contingents" role="tab" id="headingOne">
                                            <h4 class="mt10">
                                                <a role="button" class="CONTENTLink collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <span class="glyphicon glyphicon-asterisk"></span>   @DCPPortalWeb.Localization.Home.Resource.Contingents
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse mb15 p10 col-lg-12 col-md-12 col-sm-12 col-xs-12" role="tabpanel" aria-labelledby="headingOne">

                                            <div id="material-tabs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                                <a id="Accotab-tab" href="#Accotab" class="active col-lg-3 col-md-3 col-sm-3 col-xs-11 largemenu ml10"> @DCPPortalWeb.Localization.RFP.Resource.AccomodationLabel</a>
                                                <a id="Conftab-tab" href="#Conftab" class="col-lg-3 col-md-3 col-sm-3 col-xs-11 largemenu ml10"> @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel</a>
                                                <a id="Grptab-tab" href="#Grptab" class="col-lg-3 col-md-3 col-sm-3 col-xs-11 largemenu ml10"> @DCPPortalWeb.Localization.Home.Resource.GroupRoom</a>
                                                <span class="yellow-bar"></span>
                                            </div>

                                            <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-15">

                                                <div>
                                                    <div class="row" id="Accotab">
                                                        <div class="timeline-item col-lg-4 mt10 ml10">
                                                            <div class="animated-background loaders">
                                                                <div class="background-masker header-top"></div>
                                                                <div class="background-masker header-left"></div>
                                                                <div class="background-masker header-right"></div>
                                                                <div class="background-masker header-bottom"></div>
                                                                <div class="background-masker subheader-left"></div>
                                                                <div class="background-masker subheader-right"></div>
                                                                <div class="background-masker subheader-bottom"></div>
                                                                <div class="background-masker content-top"></div>
                                                                <div class="background-masker content-first-end"></div>
                                                                <div class="background-masker content-second-line"></div>
                                                                <div class="background-masker content-second-end"></div>
                                                                <div class="background-masker content-third-line"></div>
                                                                <div class="background-masker content-third-end"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <div class="row" id="Conftab">
                                                        <div class="timeline-item col-lg-4 mt10 ml10">
                                                            <div class="animated-background loaders">
                                                                <div class="background-masker header-top"></div>
                                                                <div class="background-masker header-left"></div>
                                                                <div class="background-masker header-right"></div>
                                                                <div class="background-masker header-bottom"></div>
                                                                <div class="background-masker subheader-left"></div>
                                                                <div class="background-masker subheader-right"></div>
                                                                <div class="background-masker subheader-bottom"></div>
                                                                <div class="background-masker content-top"></div>
                                                                <div class="background-masker content-first-end"></div>
                                                                <div class="background-masker content-second-line"></div>
                                                                <div class="background-masker content-second-end"></div>
                                                                <div class="background-masker content-third-line"></div>
                                                                <div class="background-masker content-third-end"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <div class="row" id="Grptab">
                                                        <div class="timeline-item col-lg-4 mt10 ml10">
                                                            <div class="animated-background loaders">
                                                                <div class="background-masker header-top"></div>
                                                                <div class="background-masker header-left"></div>
                                                                <div class="background-masker header-right"></div>
                                                                <div class="background-masker header-bottom"></div>
                                                                <div class="background-masker subheader-left"></div>
                                                                <div class="background-masker subheader-right"></div>
                                                                <div class="background-masker subheader-bottom"></div>
                                                                <div class="background-masker content-top"></div>
                                                                <div class="background-masker content-first-end"></div>
                                                                <div class="background-masker content-second-line"></div>
                                                                <div class="background-masker content-second-end"></div>
                                                                <div class="background-masker content-third-line"></div>
                                                                <div class="background-masker content-third-end"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="infoplace">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
