﻿@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabStartRFPTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Contents/VerticalTabCss", "~/Contents/RFPCss")

<link rel="stylesheet" href="~/Content/Bootstrap/bootstrap-timepicker.css" />

<div id="divLocalization" style="display:none">
    @Html.Hidden("hdnSelectEventType", @DCPPortalWeb.Localization.RFP.Resource.SelectEventType)
    @Html.Hidden("hdnSelectDuration", @DCPPortalWeb.Localization.RFP.Resource.SelectDuration)
    @Html.Hidden("hdnAddRoomLabel", @DCPPortalWeb.Localization.RFP.Resource.AddRoomButtonLable)
    @Html.Hidden("hdnSelectRoomType", @DCPPortalWeb.Localization.RFP.Resource.SelectRoomType)
    @Html.Hidden("hdnSelectSeatingType", @DCPPortalWeb.Localization.RFP.Resource.SelectSeatingTypeLabel)
    @Html.Hidden("hdnRFPSavedSuccessMessage", @DCPPortalWeb.Localization.RFP.Resource.RFPSavedSuccessMessage)
    @Html.Hidden("hdnRFPSubmitSuccessMessage", @DCPPortalWeb.Localization.RFP.Resource.RFPSubmitSuccessMessage)
    @Html.Hidden("hdnSelectStartTime", @DCPPortalWeb.Localization.RFP.Resource.SelectStartTimeLabel)
    @Html.Hidden("hdnSelectEndTime", @DCPPortalWeb.Localization.RFP.Resource.SelectEndTimeLabel)
    @Html.Hidden("hdnConferenceRoomButtonLabel", @DCPPortalWeb.Localization.RFP.Resource.AddConferenceRoomButtonLabel)
    @Html.Hidden("hdnRoomButtonLabel", @DCPPortalWeb.Localization.RFP.Resource.AddRoomButtonLable)
    @Html.Hidden("hdnEventNameValidation", @DCPPortalWeb.Localization.RFP.Resource.EventNameValidation)
    @Html.Hidden("hdnDurationValidation", @DCPPortalWeb.Localization.RFP.Resource.DurationValidation)

    @Html.Hidden("hdnNoUpdate", @DCPPortalWeb.Localization.RFP.Resource.NoUpdate)
    @Html.Hidden("hdnBook", @DCPPortalWeb.Localization.RFP.Resource.Book)
    @Html.Hidden("hdnHotelValidationMsg", @DCPPortalWeb.Localization.RFP.Resource.HotelValidationMessage)
    @Html.Hidden("hdnRestaurantValidationMsg", @DCPPortalWeb.Localization.RFP.Resource.RestaurantValidationMessage)
    @Html.Hidden("hdnLocationValidationMsg", @DCPPortalWeb.Localization.RFP.Resource.LocationValidationMessage)
    @Html.Hidden("hdnConfParticipantMessage", @DCPPortalWeb.Localization.RFP.Resource.ParticipantMessage)
    @Html.Hidden("hdnGroupRoomParticipantMessage", @DCPPortalWeb.Localization.RFP.Resource.ParticipantMessage)
    <input type="hidden" value="@DCPPortalWeb.Localization.RFP.Resource.EventDayValidationMsg" id="hdnEventDayValidationMsg" />

    @Html.Hidden("hdnRFPSubmitUnSuccessMessage", @DCPPortalWeb.Localization.RFP.Resource.RFPSubmitUnSuccessMessage)

    @Html.Hidden("hdnSelectHotel", @DCPPortalWeb.Localization.RFP.Resource.SelectHotel)
    @Html.Hidden("hdnSelectRestaurant", @DCPPortalWeb.Localization.RFP.Resource.SelectRestaurant)
    @Html.Hidden("hdnSelectLocation", @DCPPortalWeb.Localization.RFP.Resource.SelectLocation)

    @Html.Hidden("hdnAddHotel", @DCPPortalWeb.Localization.RFP.Resource.AddHotel)
    @Html.Hidden("hdnAddRestaurant", @DCPPortalWeb.Localization.RFP.Resource.AddRestaurant)
    @Html.Hidden("hdnAddLocation", @DCPPortalWeb.Localization.RFP.Resource.AddLocation)

    @Html.Hidden("hdnAdd", @DCPPortalWeb.Localization.RFP.Resource.Add)
    @Html.Hidden("hdnRemove", @DCPPortalWeb.Localization.RFP.Resource.Remove)
    @Html.Hidden("hdnSelectedResourceType", "")
    @Html.Hidden("hdnSavedResourceIds")
    @Html.Hidden("hdnNewAddedResourceIds")
</div>
<div id="divVariables" style="display:none">
    @Html.Hidden("hdnRfpId", "0")
    @Html.Hidden("hdnHotelRequestId", "0")
    @Html.Hidden("hdnRestaurantRequestId", "0")
    @Html.Hidden("hdnLocationRequestId", "0")
    @Html.Hidden("hdnDuration", "0")
</div>
<div id="divControls" style="display:none">
    @Html.Hidden("hdnFromType", "")
    @Html.Hidden("hdnModelType", "")
    @Html.Hidden("hdnTableId", "")
    @Html.Hidden("hdnIsViewMode", "")
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="pull-left">
            <label class="CONTENTHEADER">&nbsp;&nbsp;<span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;<b>@DCPPortalWeb.Localization.RFP.Resource.HeaderTitle</b></label>
        </div>
        <button type="button" class="btn draw-borderB fr mr5 pull-right mt-50" id="btnSubmitRFP" onclick="$rfp.saveRFP(true)"><i class="glyphicon glyphicon-send"></i> @DCPPortalWeb.Localization.RFP.Resource.SubmitRFPButtonLabel</button>
        <button type="button" class="btn draw-borderB fr mr5 pull-right mt-50" id="btnSaveRFP" onclick="$rfp.saveRFP(false)"><i class="glyphicon glyphicon-floppy-save"></i> @DCPPortalWeb.Localization.RFP.Resource.SaveButtonLabel</button>
        <a href="/home/index?history=1" class="btn draw-borderO fr mr5 pull-right mt-50" id="btnBackrfp"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Back</a>
    </div>
</div>
<div class="clear10"></div>

<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-11 col-xs-offset-1 mt3">
    <div class="blurdiv">
        <div class="panel panel-default bhoechie-tab-container mtb0">
            @*<div class="panel-heading panelgrey">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    <b>@DCPPortalWeb.Localization.RFP.Resource.GeneralInformation</b>
                </div>*@
            <div class="panel-body bluefont" id="DivGeneralInfo">

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-4 col-xs-12 typeclass mb0">
                        <div class="inner-addon left-addon">
                            <label for="txtEventName" class="labelheader">@DCPPortalWeb.Localization.RFP.Resource.EventName</label>
                            <input class="form-control" type="text" id="txtEventName"
                                   placeholder="@DCPPortalWeb.Localization.RFP.Resource.EventName" />
                        </div>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12 typeclass mb0">
                        <div class="inner-addon left-addon">
                            <label for="txtEventStartDate" class="labelheader">
                                @DCPPortalWeb.Localization.RFP.Resource.EventStartDate
                            </label>
                            <i class="glyphicon glyphicon-calendar yellow"></i>
                            <input class="form-control" type="text" id="txtEventStartDate" />
                        </div>

                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12 typeclass mb0">
                        <div class="inner-addon left-addon">
                            <label for="txtEventEndDate" class="labelheader">
                                @DCPPortalWeb.Localization.RFP.Resource.EventEndDate
                            </label>
                            <i class="glyphicon glyphicon-calendar yellow"></i>
                            <input class="form-control" type="text" id="txtEventEndDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear10"></div>
<div class="Ccontainer mt6">

    <div class="row bhoechie-tab-container" id="divRFPInfo">
        <div class="bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" id="aRFPHotel" class="col-lg-1 col-md-2 col-sm-2 col-xs-3 list-group-item text-center ml20" style="display:none">
                    <img src="/Images/hotel_request.png" id="ihotel" class="t5">
                </a>
                <a href="#" id="aRFPRestaurant" class="col-lg-1 col-md-2 col-sm-2 col-xs-3 list-group-item text-center" style="display:none">
                    <img src="/Images/restaurant_request.png" id="irestaurant" class="t5">
                </a>
                <a href="#" id="aRFPLocation" class="col-lg-1 col-md-2 col-sm-2 col-xs-3 list-group-item text-center" style="display:none">
                    <img src="/Images/location_request.png" id="ilocation" class="t5">
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
            <!-- hotel section -->
            <div id="divRFPHotelSection" class="bhoechie-tab-content">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-5 ">
                        <div class="panel panel-default">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.SelectedHotelTitle</b>
                                <button type="button" class="btn draw-borderB add-more-to-cart" title="@DCPPortalWeb.Localization.RFP.Resource.AddHotel" onclick="$rfp.addToCart('#addToCartmodelcontainer', 'H')"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                            <div class="panel-body">
                                <div id="divHotelSection">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-7 ">
                        <div class="panel panel-default  ">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon glyphicon-pencil"></i>
                                <b id="lblParameterTitle" class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.RequestParameterTitle</b>
                            </div>
                            <div class="panel-body">
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.AccomodationLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblHotelAccomodation">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="DisplayReserveFromDate">
                                                                @DCPPortalWeb.Localization.RFP.Resource.CheckedInDateLabel
                                                            </th>
                                                            <th class="sortable" id="DisplayReserveToDate">
                                                                @DCPPortalWeb.Localization.RFP.Resource.CheckedOutDateLabel
                                                            </th>
                                                            <th class="sortable" id="roomtype">
                                                                @DCPPortalWeb.Localization.RFP.Resource.RoomTypeLabel
                                                            </th>
                                                            <th class="sortable" id="quantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.NoOfRoomLabel
                                                            </th>

                                                            <th class="sortable" id="budget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHotelAccomodation"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-sm-12">
                                            <button type="button" class="btn draw-borderB fr mr5" id="btnHotelAddRoom" onclick="$rfp.openmodel('#addroommodelcontainer','H',false,'#tblHotelAccomodation')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddRoomButtonLable</button>
                                        </div>
                                    </div>
                                    <div class="clear10"></div>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomHotelLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblHotelConferenceRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="DisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>

                                                            <th class="sortable" id="SeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="Cquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>

                                                            <th class="sortable" id="roomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="Cbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHotelConferenceRoom"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-sm-12">
                                            <button type="button" class="btn draw-borderB fr mr5" id="btnHotelAddConferenceRoom" onclick="$rfp.openmodel('#addconferenceroommodelcontainer','H',false,'#tblHotelConferenceRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddConferenceRoomButtonLabel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.GroupRoomLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblHotelGroupRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="GDisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>
                                                            <th class="sortable" id="Gquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>

                                                            <th class="sortable" id="GSeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="Groomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.RoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="Gbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHotelGroupRoom"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                            <div class="col-xs-12 col-md-12 col-sm-12">
                                                <button type="button" class="btn draw-borderB fr mr5" id="btnHotelAddGroupRoom" onclick="$rfp.openmodel('#addgrouproommodelcontainer','H',false,'#tblHotelGroupRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddGroupRoomButtonLabel</button>
                                            </div>
                                        </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.CommentsLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <textarea class="add-form-elements rfp-textarea" id="txtHotelComments" row="1" cols="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- restaurant section -->
            <div id="divRFPRestaurantSection" class="bhoechie-tab-content">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-5 ">
                        <div class="panel panel-default">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.SelectedRestaurantTitle</b>
                                <button type="button" class="btn draw-borderB add-more-to-cart" title="@DCPPortalWeb.Localization.RFP.Resource.AddRestaurant" onclick="$rfp.addToCart('#addToCartmodelcontainer','R')"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                            <div class="panel-body">
                                <div id="divRestaurantSection">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-7 ">
                        <div class="panel panel-default ">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon glyphicon-pencil"></i>
                                <b  class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.RequestTitle</b>
                            </div>
                            <div class="panel-body">
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblRestaurantConferenceRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="RCDisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>
                                                            <th class="sortable" id="RCSeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="RCquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>
                                                            <th class="sortable" id="RCroomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="RCbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbRestaurantConferenceRoom"></tbody>
                                                </table>
                                            </div>
                                             </div>
                                            <div class="col-xs-12 col-md-12 col-sm-12">
                                                <button type="button" class="btn draw-borderB fr mr5" id="btnRestaurantAddConferenceRoom" onclick="$rfp.openmodel('#addconferenceroommodelcontainer','R',false,'#tblRestaurantConferenceRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddRoomLabel</button>
                                            </div>

                                        </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.GroupRoomLabel
                                    </span>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblRestaurantGroupRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="RGDisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>
                                                            <th class="sortable" id="RGquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>

                                                            <th class="sortable" id="RGSeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="RGroomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.RoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="RGbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbRestaurantGroupRoom"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                            <div class="col-xs-12 col-md-12 col-sm-12">
                                                <button type="button" class="btn draw-borderB fr mr5" id="btnRestaurantAddGroupRoom" onclick="$rfp.openmodel('#addgrouproommodelcontainer','R',false,'#tblRestaurantGroupRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddGroupRoomButtonLabel</button>
                                            </div>
                                        </div>
                                </div>
                                <div class="clear10"></div>
                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <span class="bluefont">
                                        @DCPPortalWeb.Localization.RFP.Resource.CommentsLabel
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <textarea class="add-form-elements rfp-textarea" id="txtRestaurantComments" row="1" cols="10"></textarea>
                                        </div>
                                    </div>
                                    <div class="clear10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Location section -->
            <div id="divRFPLocationSection" class="bhoechie-tab-content">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-5 ">
                        <div class="panel panel-default">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.SelectedLocationTitle</b>
                                <button type="button" class="btn draw-borderB add-more-to-cart" title="@DCPPortalWeb.Localization.RFP.Resource.AddLocation" onclick="$rfp.addToCart('#addToCartmodelcontainer', 'L')"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                            <div class="panel-body">
                                <div id="divLocationSection">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-7">
                        <div class="panel panel-default  ">
                            <div class="panel-heading panelgrey">
                                <i class="glyphicon glyphicon glyphicon-pencil"></i>
                                <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.RequestTitle</b>
                            </div>
                            <div class="panel-body">

                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel</b>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblLocationConferenceRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="LCDisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>
                                                            <th class="sortable" id="LCSeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="LCquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>
                                                            <th class="sortable" id="LCroomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="LCbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbLocationConferenceRoom"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                            <div class="col-xs-12 col-md-12 col-sm-12">
                                                <button type="button" class="btn draw-borderB fr mr5" id="btnLocationAddConferenceRoom" onclick="$rfp.openmodel('#addconferenceroommodelcontainer','L',false,'#tblLocationConferenceRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddRoomLabel</button>
                                            </div>
                                        </div>
                                </div>
                                <div class="clear10"></div>

                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.GroupRoomLabel</b>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-sm-12 p0">
                                            <div class="table-responsive">
                                                <table class="table table-condensed table-hover table-responsive dataTable" id="tblLocationGroupRoom">
                                                    <thead>
                                                        <tr>
                                                            <th class="sortable asc" id="LGDisplayDateTime">
                                                                @DCPPortalWeb.Localization.RFP.Resource.DateTimeLabel
                                                            </th>
                                                            <th class="sortable" id="LGquantity">
                                                                @DCPPortalWeb.Localization.RFP.Resource.ParticipantsLabel
                                                            </th>
                                                            <th class="sortable" id="LGSeatingType">
                                                                @DCPPortalWeb.Localization.RFP.Resource.SeatingTypeLabel
                                                            </th>
                                                            <th class="sortable" id="LGroomsize">
                                                                @DCPPortalWeb.Localization.RFP.Resource.RoomSizeLabel
                                                            </th>
                                                            <th class="sortable" id="LGbudget">
                                                                @DCPPortalWeb.Localization.RFP.Resource.BudgetLabel
                                                            </th>
                                                            <th>
                                                                @DCPPortalWeb.Localization.RFP.Resource.ActionsLabel
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbLocationGroupRoom"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-sm-12">
                                            <button type="button" class="btn draw-borderB fr mr5" id="btnLocationAddGroupRoom" onclick="$rfp.openmodel('#addgrouproommodelcontainer','L',false,'#tblLocationGroupRoom')"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.RFP.Resource.AddGroupRoomButtonLabel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear10"></div>

                                <div class="panel-heading panelgrey">
                                    <i class="bluefont glyphicon glyphicon-th-list"></i>
                                    <b class="bluefont">@DCPPortalWeb.Localization.RFP.Resource.CommentsLabel</b>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <textarea class="add-form-elements rfp-textarea" id="txtLocationComments" row="1" cols="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear10"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addroommodelcontainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal" onclick="$rfp.closemodel('#addroommodelcontainer');">&times;</button>
                <h4 class="modal-title fl h45"><span id="rfpmodeltitle" class="bluefont"><i class="glyphicon glyphicon-edit"></i>&nbsp;@DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel</span></h4>
            </div>
            <div id="rfpmodelbody" class="modal-body">
                @Html.Partial("_AddRoom")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addconferenceroommodelcontainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal" onclick="$rfp.closemodel('#addconferenceroommodelcontainer');">&times;</button>
                <h4 class="modal-title fl h45"><span id="rfpconferenceroommodeltitle" class="bluefont"><i class="glyphicon glyphicon-edit"></i>&nbsp;@DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomHotelLabel</span></h4>
            </div>
            <div id="rfpmodelbody" class="modal-body">
                @Html.Partial("_AddConferenceRoom")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addgrouproommodelcontainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal" onclick="$rfp.closemodel('#addgrouproommodelcontainer');">&times;</button>
                <h4 class="modal-title fl h45"><span id="rfpmodeltitle" class="bluefont"><i class="glyphicon glyphicon-edit"></i>&nbsp;@DCPPortalWeb.Localization.RFP.Resource.GroupRoomLabel</span></h4>
            </div>
            <div id="rfpmodelbody" class="modal-body">
                @Html.Partial("_AddGroupRoom")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addToCartmodelcontainer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal" onclick="$rfp.closemodel('#addToCartmodelcontainer');">&times;</button>
                <h4 class="modal-title fl h45"><span id="rfpmodeltitle" class="bluefont"><i class="glyphicon glyphicon-plus"></i>&nbsp;
                       <span class="rfpModalTitle"></span>
                       </span></h4>
            </div>
            <div id="rfpmodelbody" class="modal-body">
                @Html.Partial("_AddToCart")
            </div>
        </div>
    </div>
</div>
<div class="clear10"></div>
<br />
<div class="clear10"></div>

<script type="text/javascript" src="~/Scripts/Bootstrap/bootstrap-timepicker.min.js"></script>


@Scripts.Render("~/bundles/RFPJs")


