﻿
body {
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.img-fluid, .img-strip {
    min-height: 430px !important;
    width: 100% !important;
    object-fit: cover;
}

.tos-inline {
    height: 500px !important;
    /*width: 100% !important;*/
}

.info-content .info-name {
    margin-bottom: 5px;
    margin-top: 0px !important;
}

.info-rating {
    margin-bottom: 6px;
    color: #fc9c29 !important;
}

.info-content .info-basic-detail {
    padding-bottom: 10px;
}

    .info-content .info-basic-detail div {
        line-height: 22px;
    }

.info-content .info-extra-detail {
    padding-top: 10px;
    color: gray;
}

    .info-content .info-extra-detail .uiList ul {
        padding-inline-start: 35px;
    }

    .info-content .info-extra-detail .uiListRound ul {
        padding-inline-start: 0px;
    }

.d-none {
    display: none;
}

.info-content .uiList ul li {
    display: block;
    line-height: 22px;
    text-transform: capitalize;
}

    .info-content .uiList ul li:before {
        content: "\e067";
        font-size: 15px;
        margin-left: -22px;
    }
/*.info-content .uiListRound ul li:before {
    content: "\e013";
    font-size: 11px;
    margin-left: -18px;
}*/
/*.info-content .uiList ul li:before,
.info-content .uiListRound ul li:before {
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 0px;
    color: #777;
}*/


.uiListRound ul li {
    text-transform: capitalize;
    margin-right: 5px;
    margin-top: 5px;
    padding: 8px 8px 8px 8px;
    font-size: 12px;
    font-weight: normal;
    line-height: 8px;
    height: 25px;
    text-align: center;
    display: inline-block;
    color: #6f6f6f;
    border-radius: 12px;
    background-color: #f7fafa;
    border: solid 1px rgba(187, 187, 187, 0.5);
}

.titleRound {
    color: #ff4619;
    margin-top: 12px;
}

.info-content .room-content {
    text-align: center;
    padding: 0px 25px 15px 25px;
}

    .info-content .room-content .room-box {
        border: 1px solid #eaeaea;
        box-shadow: 1px 1px 10px #eaeaea;
    }

    .info-content .room-content .numeric {
        font-size: 18px;
        color: #ff4619;
    }

    .info-content .room-content .r-icon {
        font-size: 20px;
        padding-left: 0px;
        text-align: center;
        line-height: 54px;
    }

    .info-content .room-content .r-content {
        border-left: 1px solid #eaeaea;
    }

    .info-content .room-content .r-count {
        border-bottom: 1px solid #eaeaea;
        padding: 0px;
    }

    .info-content .room-content .r-text {
        font-weight: bold;
        padding: 0px;
        font-size: 11px;
        line-height: 25px;
    }

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}
/*.amenities {
    margin-bottom: 20px;
    margin-top: 15px;
}*/
.amenities > div {
    /*border-right: 1px solid #eaeaea;*/
    margin-bottom: 14px;
}

    .amenities > div:last-child {
        border-right: 0px !important;
    }

.amenities .amenities-icon, .amenities p {
    text-align: center;
}



.color-green {
    color: #049e09;
}

.amenities p {
    color: #9a9a9a;
    font-size: 12px;
    padding-left: 0px;
    text-transform: capitalize;
    vertical-align: middle;
    margin: 0px;
}

.request-rfp {
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    float: right;
    /*margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;*/
}




.viewMap {
    height: 50px;
    width: 60px;
    position: absolute;
    bottom: 15px;
    background-color: white;
    left: 30px;
    text-align: center;
    border: 2px solid #ff4619;
    cursor: pointer;
}

    .viewMap:hover {
        box-shadow: 1px 1px 20px white;
    }

    .viewMap .map-label {
        color: gray;
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        top: 0px;
        left: 4px;
    }

    .viewMap .map-icon {
        color: #ff4619;
        font-size: 25px;
        position: absolute;
        top: 17px;
        left: 15px;
    }

    .viewMap .map-icon-container {
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .viewMap .map-bg-image {
        -webkit-filter: saturate(7);
        filter: saturate(7);
    }

.imageGallery {
    padding-right: 0px;
    box-shadow: 10px 10px 10px #d6d6d6;
}

.hw2020 {
    height: 25px !important;
    width: 25px !important;
}

.btn-container {
    min-height: 55px;
}

.imageText {
    width: 66px
}

#addtocart {
    position: absolute;
    right: 0px;
    z-index: 99999;
}

.bookmarkfont {
    font-size: 20px !important;
    padding-top: 2px !important;
}

.whitefont {
    color: white !important;
}

.ml15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mtb15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.img-fluid, .img-strip {
    object-fit: cover !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.tos-slider, .tos-wrapper {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.mt-35 {
    margin-top: -35px !important;
}

.tos-close, .tos-next, .tos-prev {
    width: 50px !important;
}

.tos-next, .tos-prev {
    height: 50px !important;
    top: 40% !important;
    margin-top: 0px !important;
}

@media only screen and (max-width: 770px) {

    .tos-inline {
        height: 350px !important;
    }

    .img-fluid, .img-strip {
        min-height: 350px !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    .ellipsis {
        width: 200px !important;
    }
}

@media only screen and (max-width: 1030px) {

    .ml15 {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}


.mt15p {
    margin-top: 15%;
}



/*.mt3
{
    margin-top:16%!important;
}
.pdLock{
    padding-left:0px!important;
    padding-top:8px!important
}

.pdbottombutton{
    padding-right:50px!important;
}

.pdmgicon {
    margin-left: -20px !important;
    padding-top: 22px !important
}
.mt{
    margin-top:13px!important;
}
.pageTitle
{
    font-weight:bold;
}

.sectionTitle {
    font-weight: bold;
}*/

.radius10{
    border-radius:10px;
}
.hw_2228{
    width:22px;
    height:28px
}
.hw_3232 {
    width: 32px;
    height: 32px
}

.hw_2427 {
    width: 24px;
    height: 27px
}

.hw_2424 {
    width: 24px;
    height: 24px
}

.hw_2828 {
    width: 28px;
    height: 28px
}

.hw_2628 {
    width: 26px;
    height: 28px
}

.hw_3018 {
    width: 30px;
    height: 18px
}
.hw_2426 {
    width: 24px;
    height: 26px
}

.hw_2429 {
    width: 24px;
    height: 29px
}

.hw_2624 {
    width: 26px;
    height: 24px
}