﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@DCPPortalWeb.Localization.Common.Resource.TabLoginTitle</title>
    @Styles.Render("~/Contents/LoginCss")
</head>
<body>

    @Html.Hidden("hdnAPIBaseURL", @System.Configuration.ConfigurationManager.AppSettings["APIBaseURL"])

    @*Code*@

    @Html.Hidden("C401", @DCPPortalWeb.Localization.ManageCode.Resource.C401)
    @Html.Hidden("C403", @DCPPortalWeb.Localization.ManageCode.Resource.C403)
    @Html.Hidden("C410", @DCPPortalWeb.Localization.ManageCode.Resource.C410)
    @Html.Hidden("C411", @DCPPortalWeb.Localization.ManageCode.Resource.C411)
    @Html.Hidden("E601", @DCPPortalWeb.Localization.ManageCode.Resource.E601)
    @Html.Hidden("E605", @DCPPortalWeb.Localization.ManageCode.Resource.E605)
    @Html.Hidden("E606", @DCPPortalWeb.Localization.ManageCode.Resource.E606)
    @Html.Hidden("E608", @DCPPortalWeb.Localization.ManageCode.Resource.E608)
    @Html.Hidden("E609", @DCPPortalWeb.Localization.ManageCode.Resource.E609)
    @Html.Hidden("E610", @DCPPortalWeb.Localization.ManageCode.Resource.E610)
    @Html.Hidden("E707", @DCPPortalWeb.Localization.ManageCode.Resource.E707)
    <div>

        <div class="flags">
            <ul>
                <li><a class="hover" href="/Base/ChangeCulture?lang=de-DE"><img src="~/Images/language_german_header.png" /></a></li>
                <li><a class="hover" href="/Base/ChangeCulture?lang=en-US"><img src="~/Images/language_english_header.png" /></a></li>
            </ul>
        </div>

        <div class="pt15">

            <div class="login-reg-panel">
                <div class="login-background">
                    <img src="~/Images/img_box_bg_login.png" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 white-panel">
                    <div class="col-lg-12">
                        <div class="col-lg-12 p25 tal">
                            <img src="~/Images/logo_header.png" class="w160" />
                        </div>
                        <div class="login-show">
                            <label class="LOGIN-TEXT">@DCPPortalWeb.Localization.Login.Resource.login</label>
                            <input type="text" id="txtemail" placeholder="@DCPPortalWeb.Localization.Login.Resource.Email">
                            <input type="password" id="txtpassword" placeholder="@DCPPortalWeb.Localization.Login.Resource.Password">
                            <input type="button" id="btnlogin" value="@DCPPortalWeb.Localization.Login.Resource.login">
                            <label id="label-login" class="forgetpass under" for="log-login-show">@DCPPortalWeb.Localization.Login.Resource.Forgotpassword</label>
                            <input type="radio" name="active-log-panel" id="log-login-show">
                        </div>
                        <div class="register-show">
                            <label class="LOGIN-TEXT">@DCPPortalWeb.Localization.Login.Resource.ForgetPassword</label>
                            <label class="LOGIN-HEADER-CONTENT3">@DCPPortalWeb.Localization.Login.Resource.ForgetPassworddesc</label>
                            <input type="text" id="txtEmailForForgotPwd" placeholder="@DCPPortalWeb.Localization.Login.Resource.Email">
                            <input type="button" id="btnSend" value="@DCPPortalWeb.Localization.Login.Resource.Send">
                            <label id="label-register" class="forgetpass under" for="log-reg-show">@DCPPortalWeb.Localization.Login.Resource.login1</label>
                            <input type="radio" name="active-log-panel" id="log-reg-show">
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img_login">
                    <div class="LOGIN-HEADER">
                        <label class="LOGIN-HEADER-CONTENT1">@DCPPortalWeb.Localization.Login.Resource.signupheader1</label>
                        <label class="LOGIN-HEADER-CONTENT2">@DCPPortalWeb.Localization.Login.Resource.signupheader2</label>
                        @*<label id="label-register" for="log-reg-show">@DCPPortalWeb.Localization.Login.Resource.login1</label>
                            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">*@
                    </div>
                </div>

            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/LoginJs")

</body>
</html>


