﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    @*<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />*@

    @Styles.Render("~/Contents/ResetPasswordCss")
@*<script src="~/Scripts/Common/common.js"></script>
<script src="~/Scripts/Common/managecode.js"></script>*@
    @Scripts.Render("~/bundles/ResetPasswordJs")



</head>
<body>

    <script src="~/Scripts/Bootstrap/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/JQuery/jQuery.browser.mobile.js"></script>

    @Html.Hidden("hdnConfirmPassMsg", DCPPortalWeb.Localization.Common.Resource.ConfirmPasswordValidation)
    @Html.Hidden("hdnAPIBaseURL", DCPPortalWeb.Settings.Constants.APIBaseURL)
    @Html.Hidden("E615", @DCPPortalWeb.Localization.ManageCode.Resource.E615)
    @Html.Hidden("E609", @DCPPortalWeb.Localization.ManageCode.Resource.E609)
    @Html.Hidden("E614", @DCPPortalWeb.Localization.ManageCode.Resource.E614)
    @Html.Hidden("E723", @DCPPortalWeb.Localization.ManageCode.Resource.E723)
    @Html.Hidden("hdnPasswordValidationMsg", DCPPortalWeb.Localization.Common.Resource.PasswordValidation)
    @Html.Hidden("hdnCaptchaValue", Session["CAPTCHA"])
    @Html.Hidden("hdnWebsiteURL", DCPPortalWeb.Settings.Constants.WebsiteURL)
    @Html.Hidden("hdnSomethingWrongMsg", DCPPortalWeb.Localization.Common.Resource.SomethingWrong)

<nav class="navbar navbar-inverse navbar-static-top fixheaders">
    <div class="col-lg-10">
        <div class="navbar-header">
            <a class="navbar-brand text-hide" href="javascript:void(0);">
                <img src="~/Images/logo_header.png" />
            </a>
        </div>

    </div>
    <div class="col-lg-2 pt10 text-right">
        <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="labelheader" id="lblUserName"></span>
    </div>
</nav>

    <div class="maindiv min440">
        <div id="mloader" class="Mloader box1 displaynone"></div>
        <div class="clear10"></div>


        <div class="Ccontainer">
            <div class="row" id="">
                <div class="col-lg-6 col-md-6 ptpl5 hidden-sm hidden-xs  pl-0">
                    <img src="~/Images/ResetPwd.png" class="hw_650_599 imagePosition" />
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ptpl5">
                    <div class="row" id="lblPageTitle">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ptpl5 ml10 BCONTENTHEADER">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;@DCPPortalWeb.Localization.Common.Resource.ResetPassword
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div class="row" id="divMsgValue">
                        <div class="col-lg-12 col-md-12 text-center">
                            <span class="glyphicon glyphicon-alert labelValidationIcon"></span>&nbsp;&nbsp;<span class="labelValidation" id="lblMsgValue">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divContent">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                                    <div class="inner-addon left-addon">
                                        <label class="labelheader">
                                            @DCPPortalWeb.Localization.Common.Resource.NewPassword &nbsp;<span class="glyphicon glyphicon-info-sign" title="@DCPPortalWeb.Localization.Common.Resource.PasswordValidation"></span>
                                        </label>
                                        @Html.Password("txtnewpass", "", new { @id = "txtnewpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Common.Resource.NewPasswordDesc, @tooltip = @DCPPortalWeb.Localization.Common.Resource.PasswordValidation })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 mt20 p0">
                                    <img src="~/Images/password.png" class="hw_2228" />
                                </div>
                            </div>
                            <div class="clear10"></div>

                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                                    <div class="inner-addon left-addon">
                                        <label class="labelheader">
                                            @DCPPortalWeb.Localization.Common.Resource.ConfirmPassword
                                        </label>
                                        @Html.Password("txtconfirmpass", "", new { @id = "txtconfirmpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Common.Resource.NewPasswordDesc })
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 mt20 p0">
                                    <img src="~/Images/password.png" class="hw_2228" />
                                </div>
                            </div>
                            <div class="clear10"></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="inner-addon left-addon">
                                        <input type="text" name="clientCaptcha" id="txtcaptchatext" autocomplete="off" placeholder="@DCPPortalWeb.Localization.Common.Resource.EnterCaptcha" class="captchaText" /> &nbsp;
                                        <img src="/Login/GetCaptchaImage" title="Captcha" id="imgCaptcha" />
                                        <a href="javascript:void(0)"  class="glyphicon glyphicon-refresh refreshIcon" id="lnkRefreshCaptcha"  ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear10"></div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
                                    <div class="inner-addon left-addon">
                                    </div>
                                </div>
                            </div>
                            <div class="clear10"></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="button" class="btn draw-borderB mr5" id="btnSubmit"><i class="glyphicon glyphicon-send"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Submit</button>
                                    <button type="button" class="btn draw-borderO fr mr5  btnClose" id="btnCancel"><i class="glyphicon glyphicon-remove"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="clear10">
            </div>

        </div>
    </div>

    <footer class="navbar-default navbar-fixed-bottom">
        @*<div class="row">
                <div class="col-md-3 col-sm-4 col-xs-5">
                    <span class="glyphicon glyphicon-time"></span> &nbsp;@DCPPortalWeb.Localization.Home.Resource.LastAccess&nbsp;<span id="spanLAD"></span>
                </div>
            </div>*@
        <div class="LEGEL">
            <span class="CONTENT4">@DCPPortalWeb.Localization.Home.Resource.Legel</span>
        </div>
        <div class="COMMENTS">
            <label class="CONTENT1">@DCPPortalWeb.Localization.Login.Resource.signupheader1</label>
            <label class="CONTENT2">@DCPPortalWeb.Localization.Login.Resource.signupheader2</label>
        </div>
        <div class="INFORMATION">
            <img src="~/Images/logo_footer.png" />
            <span class="CONTENT3">@DCPPortalWeb.Localization.Login.Resource.Address</span>
        </div>
        <div class="flags">
            <ul>
                <li><a class="hover" href="/Base/ChangeCulture?lang=de-DE"><img src="~/Images/language_german_footer.png" /></a></li>
                <li><a class="hover" href="/Base/ChangeCulture?lang=en-US"><img src="~/Images/language_english_footer.png" /></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
