﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    @*<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />*@

    @Styles.Render("~/Contents/ResetPasswordCss")
    @*<script src="~/Scripts/Common/common.js"></script>
        <script src="~/Scripts/Common/managecode.js"></script>*@
    @*@Scripts.Render("~/bundles/ResetPasswordJs")*@

@Scripts.Render("~/bundles/ThankyouJs")
</head>
<body>

    <script src="~/Scripts/Bootstrap/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/JQuery/jQuery.browser.mobile.js"></script>

 
    <input type="hidden" id="hdnWebsiteUrl" value="@DCPPortalWeb.Settings.Constants.WebsiteURL" />
 
  

    <nav class="navbar navbar-inverse navbar-static-top fixheaders">
        <div class="col-lg-10">
            <div class="navbar-header">
                <a class="navbar-brand text-hide" href="javascript:void(0);">
                    <img src="~/Images/logo_header.png" />
                </a>
            </div>
        </div>
        <div class="col-lg-2  pt10 text-right">
            <span class="glyphicon glyphicon-user"></span>&nbsp;<span class="labelheader" id="lblUserName"></span>
        </div>
    </nav>

    <div class="maindiv min440">
        <div id="mloader" class="Mloader box1 displaynone"></div>
        <div class="clear10"></div>


        <div class="Ccontainer">

            <div class="row" id="">
                <div class="col-lg-6 col-md-6 ptpl5 hidden-sm hidden-xs pl-0">
                    <img src="~/Images/ThankYou.png" class="hw_650_599 imagePosition" />
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="row mt-35">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                           <span class="glyphicon glyphicon-ok-sign ThanksIcon"></span> <label class="labelValidation">@DCPPortalWeb.Localization.Common.Resource.ThankYou</label>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="clear10"></div>
                    <div class="row  mt-35">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <label class="labelheader">@DCPPortalWeb.Localization.ManageCode.Resource.E723</label>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            @{
                                string link = @DCPPortalWeb.Settings.Constants.WebsiteURL + "login";
                            }
                            <span class="labelheader">
                                @DCPPortalWeb.Localization.Common.Resource.ClickHere <a href="@link">@DCPPortalWeb.Localization.Common.Resource.login</a>
                            </span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <footer class="navbar-default navbar-fixed-bottom">
        @*<div class="row">
                <div class="col-md-3 col-sm-4 col-xs-5">
                    <span class="glyphicon glyphicon-time"></span> &nbsp;@DCPPortalWeb.Localization.Home.Resource.LastAccess&nbsp;<span id="spanLAD"></span>
                </div>
            </div>*@
        <div class="LEGEL">
            <span class="CONTENT4">@DCPPortalWeb.Localization.Home.Resource.Legel</span>
        </div>
        <div class="COMMENTS">
            <label class="CONTENT1">@DCPPortalWeb.Localization.Login.Resource.signupheader1</label>
            <label class="CONTENT2">@DCPPortalWeb.Localization.Login.Resource.signupheader2</label>
        </div>
        <div class="INFORMATION">
            <img src="~/Images/logo_footer.png" />
            <span class="CONTENT3">@DCPPortalWeb.Localization.Login.Resource.Address</span>
        </div>
        <div class="flags">
            <ul>
                <li><a class="hover" href="/Base/ChangeCulture?lang=de-DE"><img src="~/Images/language_german_footer.png" /></a></li>
                <li><a class="hover" href="/Base/ChangeCulture?lang=en-US"><img src="~/Images/language_english_footer.png" /></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>


