﻿body {
    background-color: #f4f3ef;
    height: 100vh;
    min-height: 550px;
    position: relative;
    overflow-y: hidden;
}

.flags {
    float: right;
}

    .flags ul {
        list-style-type: none;
        padding: 0; 
        margin: 0;
        width: 300px;
        padding-right: 8%;
    }

        .flags ul li {
            display: inline;
        }


a {
    text-decoration: none;
    color: #444444;
}

.login-reg-panel {
    border-radius: 10px;
    box-shadow: 3px -0.1px 14.7px 1.3px rgba(176, 190, 193, 0.63);
    background-color: white !important;
    position: relative;
    height: 450px;
    top: auto;
    text-align: center;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9999;
}

.LOGIN-TEXT {
    width: 100%;
    height: 15px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.LOGIN-HEADER-CONTENT1 {
    font-family: Helvetica;
    font-size: 50px;
    letter-spacing: 2.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-align: center;
    color: #ffd200;
    margin-left: auto;
    margin-right: auto;
}

.LOGIN-HEADER-CONTENT2 {
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffd200;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
}

.LOGIN-HEADER-CONTENT3 {
    width: 100%;
    height: 31px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    padding-top: 15px;
}

.LOGIN-HEADER {
    height: 200px;
    font-family: Helvetica;
    font-size: 38px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffd200;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding-top: 9%;
    margin-top: 22%;
    background: #0c2d0bb0;
    border-radius: 10px 10px 10px 10px;
}

.img_login {
    background-image: url('../../Images/img_login.png');
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0px 10px 10px 0px;
    height: 100% !important;
}

.login-background {
    bottom: -22%;
    left: -15%;
    position: absolute;
    z-index: 99;
}


.login-reg-panel #label-login,
.login-reg-panel #label-register {
    border: 1px solid #9E9E9E;
    padding: 5px 5px;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.login-info-box {
    width: 40%;
    padding: 0 50px;
    top: 20%;
    left: 0;
    position: absolute;
    text-align: left;
}

.register-info-box {
    width: 45%;
    padding: 0 50px;
    top: 20%;
    right: 0;
    position: absolute;
    text-align: left;
}

.white-panel {
    background-color: white;
    z-index: 999;
    min-height: 450px;
    border-radius: 10px 0px 0px 10px;
}

.p25 {
    padding: 25px;
}

.tal {
    text-align: left;
}

.login-show,
.register-show {
    z-index: 1;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #242424;
    text-align: left;
    padding: 25px;
}

.show-log-panel {
    display: block;
    opacity: 0.9;
}

input[type="text"], input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    outline: none;
    border-radius: 10px;
    border: solid 1px rgb(111, 111, 111);
    background-color: #ffffff;
}


input[type="button"] {
    max-width: 174px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
    border: none !important;
    border-radius: 10px;
    background-color: #ffd200;
}

#btnlogin:hover, #btnSend:hover {
    background: #444 !important;
    color: white !important;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #2c7715;
}

.pt15 {
    padding-top: 12%;
}

.hover {
    cursor: pointer;
}

.w160 {
    width: 160px !important;
}

.forgetpass {
    border: none !important;
    width: 100% !important;
    display: block;
    text-align: left !important;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /*letter-spacing: 1.2px;*/
    text-align: left;
    color: #000000;
    padding-top: 10px !important;
}

@media only screen and (max-width: 1400px) {

    .pt15 {
        padding-top: 9%;
    }

    .LOGIN-HEADER {
        width: 70%;
        padding-top: 12%;
        margin-top: 28%;
    }

    .login-background {
        bottom: -21%;
        left: -20%;
        position: absolute;
        z-index: 99;
    }

    .login-show input[type="button"] {
        width: 75%;
    }

    .register-show input[type="button"] {
        width: 75% !important;
    }
}

@media only screen and (max-width: 1030px) {

    .LOGIN-HEADER-CONTENT1 {
        font-size: 35px;
        letter-spacing: 1.5px;
    }

    .LOGIN-HEADER-CONTENT2 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .LOGIN-HEADER {
        width: 70%;
        padding-top: 20%;
        margin-top: 35%;
    }

    .login-show input[type="button"] {
        width: 35% !important;
    }

    .register-show input[type="button"] {
        width: 35% !important;
    }

    .login-reg-panel #label-login, .login-reg-panel #label-register {
        font-size: 14px;
    }
}

@media only screen and (max-width: 770px) {

    .img_login {
        display:none !important;
    }

    .white-panel {
        border-radius: 10px 10px 10px 10px;
    }

    .pt15 {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 375px) {

    .white-panel {
        border-radius: 10px 10px 10px 10px;
    }

    .img_login {
        display: none !important;
    }

    .pt15 {
        padding-top: 25%;
    }

    .flags ul {
        width: 280px;
    }

    .login-show, .register-show {
         padding: 2px;
    }

    .login-reg-panel #label-login, .login-reg-panel #label-register {
        font-size: 10px;
    }

    .login-background {
        bottom: -22%;
        left: -75%;
        position: absolute;
        z-index: 99;
    }
}

#log-login-show {
    display: none;
}

#log-reg-show {
    display: none;
}
