﻿
body {
    background-repeat: no-repeat;
    background-size: 100% 550px;
    font-family: Helvetica !important;
    /*background-image: url(../../Images/IMG_banner_Profile.png)*/
}

.mt15p {
    margin-top: 15%;
}

.navbar-inverse {
    background-color: white !important;
    opacity: 1;
    border: none !important;
    -webkit-box-shadow: 0px 7px 12px -7px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 7px 12px -7px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar-brand {
    margin: 17px 17px 17px 17px;
}

.navbar-brand {
    padding: 0px 0px !important;
}

a {
    /*color: rgb(255, 211, 8);*/
    text-decoration: none;
}

footer.navbar-default.navbar-fixed-bottom {
    opacity: 0.9;
    height: 400px;
    /* width: 100%; */
    background-position: bottom;
    background-position-x: left;
    position: relative;
    bottom: 0px !important;
    background-color: transparent;
    background-image: url(../../Images/img_footer.png);
    background-repeat: no-repeat;
}

.CONTENT1 {
    font-family: Helvetica;
    font-size: 38px;
    position: relative;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffd200;
}

.CONTENT2 {
    font-family: Helvetica;
    font-size: 27px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffd200;
    position: relative;
}

.INFORMATION {
    width: 215px;
    bottom: 200px !important;
    right: 30% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}

.CONTENT3 {
    font-family: Helvetica;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.58px;
    text-align: left;
    color: #000000;
    position: relative;
    margin-top: 20px;
}

.CONTENT4 {
    font-family: Helvetica;
    font-size: 11.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: #000000;
    position: initial;
}

.LEGEL {
    width: 275px;
    bottom: 0% !important;
    left: 16% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}

.COMMENTS {
    width: 215px;
    bottom: 250px !important;
    left: 16% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}



    @media only screen and (max-width: 1400px) {
        .COMMENTS {
            width: 215px;
            bottom: 250px !important;
            left: 23% !important;
            position: absolute;
            z-index: 99999;
            float: left;
        }

        .INFORMATION {
            width: 215px;
            bottom: 200px !important;
            right: 20% !important;
            position: absolute;
            z-index: 99999;
            float: left;
        }
    }

    .flags {
        height: 32px;
        bottom: 40px !important;
        right: 0px !important;
        position: absolute;
        z-index: 99999;
        float: right;
    }

        .flags ul li {
            display: inline;
            padding-right: 12px;
        }

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    background-color: #ffffff;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    -moz-box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    background-clip: padding-box;
    opacity: 1.0;
    filter: alpha(opacity=97);
}

.bottomshadow {
    box-shadow: 0px 0px 12px -4px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0) !important;
}

.mt15p {
    margin-top: 15%;
}

.Ccontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.inner-addon {
    position: relative;
}

.labelheader {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -5px !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block !important;
    margin: 20px 0 !important;
    padding: 15px !important;
    outline: none !important;
    border-radius: 10px !important;
    border: solid 1px rgb(111, 111, 111) !important;
    background-color: #ffffff !important;
}

label {
    font-size: .8125em;
    position: absolute;
    top: -15px;
    opacity: 1;
}

.clear10 {
    clear: both;
    height: 10px;
}

.mt0{
    margin-left:0px!important;
    margin-right:0px!important
}


.draw-borderB, .btn-primary {
    box-shadow: inset 0 0 0 1px #ffd200;
    color: black !important;
    position: relative;
    border-radius: 10px !important;
    background-color: #ffd200 !important;
    font-family: Helvetica;
    font-size: 14px;
    /*font-weight: bold;*/
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    font-size: 14px !important;
    padding:6px 12px;
}

.mr5 {
    margin-right: 5px;
}





.captchaText {
    /*display: block !important;*/
    /*margin: 20px 0 !important;*/
    padding: 8px !important;
    outline: none !important;
    border-radius: 10px !important;
    border: solid 1px rgb(111, 111, 111) !important;
    background-color: #ffffff !important;
    width:50%;
}

.draw-borderO {
    box-shadow: inset 0 0 0 1px #f4f3ef;
    color: black;
    /*transition: color 0.25s 0.08333s;*/
    position: relative;
    border-radius: 10px !important;
    background-color: #f4f3ef !important;
    font-family: Helvetica;
    font-size: 14px;
    /*font-weight: bold;*/
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border: none !important;
    padding-top:8px!important;
    padding-bottom:8px!important;
}

.BCONTENTHEADER {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #767676;
    margin-top: 15px;
}

.hw_2228 {
    width: 22px;
    height: 28px
}

.mt20{
    margin-top:20px !important;
}
.p0 {
    padding:0px !important;
}

.hw_650_599 {
    width: 599px;
    height: 650px;
}

@media only screen and (max-width: 1024px) {
    .hw_650_599 {
        width: 450px;
        height: 550px;
    }
}


@media only screen and (max-width: 1030px) {
    .flags {
        bottom: 225px !important;
    }

    .LEGEL {
        width: 275px;
        bottom: 200px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }
}

@media only screen and (max-width: 770px) {

    .COMMENTS {
        width: 215px;
        bottom: 250px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .INFORMATION {
        width: 215px;
        bottom: 215px !important;
        right: 18% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .flags {
        bottom: 180px !important;
    }

    .LEGEL {
        width: 275px;
        bottom: 150px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }
}

@media only screen and (max-width: 375px) {

    .flags {
        height: 32px;
        bottom: 45px !important;
        right: 20% !important;
        position: absolute;
        z-index: 99999;
        float: right;
    }

    .LEGEL {
        width: 275px;
        bottom: 100px !important;
        left: 15% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .INFORMATION {
        width: 215px;
        bottom: 145px !important;
        right: 18% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .COMMENTS {
        width: 215px;
        bottom: 300px !important;
        left: 20% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }
}

.labelheaderLarge {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -5px !important;
}


    .ErrorMsg {
        color: red !important;
    }

    .Error {
        /*border: none !important;*/
        border: 1px solid red !important;
    }
.mt-35
{

margin-top:35px!important;
}

.labelValidation {
    font-family: Helvetica;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -0px !important;
    top:0px!important;
}

.labelValidationIcon {
    font-size: 25px;
    color:red
}
.pl-0{
    padding-left:0px!important;
}
.imagePosition{
    position:relative;
    top:-30px!important;
}
.ThanksIcon {
    font-size: 30px;
    margin-top: 5px !important;
    color: #000000
}
.pt10
{
    padding-top:10px !important;
}
.refreshIcon{
    color:gray;
}








