﻿@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabBookmarkTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .navbar {
        margin-bottom: 0px !important;
    }
</style>

<div class="">

    <div class="col-md-6 col-sm-6 col-xs-12 al ptpl5 bluefont">
        <h3>&nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<b>@DCPPortalWeb.Localization.Home.Resource.Cart</b></h3>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 fr ptpl5">
        <a href="javascript:void(0)" onclick="$MCV.RedirectStartRFP();" class="btn draw-borderB fr mr5 show-tooltip mt-15" id="btnstartrfp" title="@DCPPortalWeb.Localization.Home.Resource.StartRFP"><i class="glyphicon glyphicon-send"></i>&nbsp;@DCPPortalWeb.Localization.Home.Resource.StartRFP</a>
        <a href="/home/index?history=1" class="btn draw-borderO fr mr5 pull-right mt-15" id="btnBackrfp"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;@DCPPortalWeb.Localization.Common.Resource.Back</a>
    </div>

</div>

<div class="clear10"></div>
<hr />

<div class="Cartwrapper">

    <div class="Cartsidebar col-lg-4 col-md-4 col-sm-4 col-xs-12 scrolls">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" id="drawcontents">
                &nbsp;
            </div>
        </div>

    </div>

    <div class="Tripcontent col-lg-8 col-md-8 col-sm-8 col-xs-12 p0">

        <div class="col-md-8 nomargin mapmsg" id="mapmsg">

            <div class="col-md-8 nomargin ">

                <div class="col-md-8 txtcenter panel norecord f20">
                    <b>
                        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;@DCPPortalWeb.Localization.Common.Resource.NoRecordsAvailable
                    </b>
                </div>

            </div>

        </div>

        <div id="mycartmap" class="col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>

    </div>

</div>
<div class="clear10"></div>

@section scripts {
    @Scripts.Render("~/bundles/CARTJs")
}
