﻿@model DCPPortalWeb.Models.LeftFilters

<div id="exTab">

    <div class="clear10"></div>
    <div class="clear10"></div>

    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="multihoteltypei" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.HotelType
                </label>
                <div id="multihoteltypei" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.HotelTypeDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="multihotelchaini" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.HotelChain
                </label>
                <div id="multihotelchaini" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.HotelChain'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">

        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="inner-addon left-addon">
                <label for="Star" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.Star
                </label>
                <div class="fl-group__btn-group clearfix">
                    <button type="button" title="1 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnlg" data-star="1" onclick="$bind.StarE(this,true);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="12" viewBox="0 0 28 12"><g fill="none" fill-rule="evenodd"><path d="M.56 4.673c-.28.047-.493.26-.547.534-.053.28.074.553.314.7L3.2 7.627 2.033 11.12c-.093.28.007.593.254.76.113.08.246.12.38.12.147 0 .293-.047.413-.147L6 9.52l2.92 2.333c.12.1.267.147.413.147.134 0 .267-.04.38-.12.167-.113.267-.293.28-.48l-7.12-7.113-2.313.386m11.427.534c-.054-.274-.267-.487-.547-.534l-3.6-.6L6.634.453C6.54.187 6.287 0 6 0c-.287 0-.54.187-.634.453L4.494 3.08l4.453 4.46 2.726-1.633c.24-.147.367-.42.314-.7" class="svg-color--secondary" fill="#9BA2A6"></path><path class="svg-color--primary" fill="#697379" d="M27.157 4.676l-3.604-.6-1.206-3.62C22.257.183 22 0 21.714 0c-.287 0-.54.184-.633.455l-1.204 3.62-3.604.6c-.275.047-.492.26-.544.534-.052.273.072.55.312.694l2.875 1.725-1.164 3.492c-.094.28.008.588.25.758.115.08.25.12.38.12.15 0 .296-.05.418-.146l2.917-2.333 2.917 2.335c.123.097.27.146.417.146.133 0 .266-.04.38-.12.24-.17.344-.476.25-.756L24.516 7.63l2.876-1.725c.24-.143.365-.42.314-.696-.053-.276-.27-.49-.546-.535z"></path></g></svg></span></button>
                    <button type="button" title="2 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnlg" data-star="2" onclick="$bind.StarE(this,true);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="12" viewBox="0 0 28 12"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm16 0l-3.604-.6-1.21-3.62C22.542.182 22.287 0 22 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L19.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                    <button type="button" title="3 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnlg" data-star="3" onclick="$bind.StarE(this,true);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="26" viewBox="0 0 28 26"><path d="M19.443 4.676l-3.604-.6-1.21-3.62C14.542.182 14.287 0 14 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L11.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L14 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L16.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm8 14l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 23.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.8 21.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-16 0l-3.604-.6-1.21-3.62C6.543 14.183 6.288 14 6 14s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 21.63 2.034 25.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 23.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 21.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                    <button type="button" title="4 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnlg" data-star="4" onclick="$bind.StarE(this,true);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="27" viewBox="0 0 28 27"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm16 0l-3.604-.6-1.21-3.62C22.542.182 22.287 0 22 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L19.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm0 15l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 24.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.8 22.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-16 0l-3.604-.6-1.21-3.62C6.543 15.183 6.288 15 6 15s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 22.63 2.034 26.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 24.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 22.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                    <button type="button" title="5 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnlg" data-star="5" onclick="$bind.StarE(this,true);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="30" height="30" viewBox="0 0 30 30"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm18 0l-3.604-.6-1.21-3.62C24.542.182 24.287 0 24 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L21.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L24 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L26.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm0 18l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L24 27.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L26.8 25.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-18 0l-3.604-.6-1.21-3.62C6.543 18.183 6.288 18 6 18s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 25.63 2.034 29.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 27.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 25.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm9-9l-3.604-.6-1.21-3.62C15.543 9.183 15.288 9 15 9s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L12.2 16.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L15 18.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L17.8 16.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                </div>
            </div>

        </div>

    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="inner-addon left-addon">
                <label for="aNoofRoom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.NoofRoom
                </label>
                <input class="range-slider" id="rslftotalroom" type="hidden" value="0,6000">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="aNoofConference" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.NoofConference
                </label>
                <input class="range-slider" id="rslftotalconfroom" type="hidden" value="0,700">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="aSizeofLargestroom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom
                </label>
                <input class="range-slider" id="rslfconfsize" type="hidden" value="0,15000">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="aParkingSpaces" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.ParkingSpaces
                </label>
                <input class="range-slider" id="rslfparkingspace" type="hidden" value="0,1000">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="txtsurroundinglocation" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.TransferTimeAirport
                </label>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="inner-addon left-addon">
                <label for="txtdistance" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.Hours
                </label>
                @Html.TextBox("txthours", 0, new { @id = "txthours", @class = "form-control", @type = "number", @min = "0", Value = "0", @onchange = "$bind.commontxtevent('H')" })
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="inner-addon left-addon">
                <label for="txtdistance" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.Minutes
                </label>
                @Html.TextBox("txtminutes", 0, new { @id = "txtminutes", @class = "form-control", @type = "number", @min = "0", Value = "0", @onchange = "$bind.commontxtevent('H')" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="bhr" />
            <div class="clear10"></div>
            <button type="button" class="btn draw-borderO fr mr5 btnresetadvance show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Reset" id="btnresetadvance" onclick="$search.resetcontrols('I','H')"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.Reset</button>
        </div>
    </div>

</div>






