﻿@model DCPPortalWeb.Models.HotelModel

<div class="panel panel-default">
    <div class="panel-body active">

        <div id="divGeneral" class="panel-collapse collapsein tab-content">

            <div class="panel-body">
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-6 col-lg-6 col-md-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.HotelName
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.hotel_name, new { @id = "txtinsidehotelname", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3 col-md-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.HotelChain
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.hotel_chain, new { @id = "txthotelchain", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3 col-md-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Star
                        </label>
                        <div>
                            @if (Model.star != null && Model.star != 0)
                            {

                                for (int i = 0; i < Model.star; i++)
                                {
                            <span><svg xmlns='http://www.w3.org/2000/svg' focusable='false' tabindex='-1' width='12' height='12' viewBox='0 0 12 12'><path class='svg-color--primary' fill='#F6AB3F' d='M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z'></path></svg>&nbsp;</span>
                                }
                            }
                            else
                            {
                            <span>-</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Address
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.street, new { @id = "txthotelstreet", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Country
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.country, new { @id = "txtcountry", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.State
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.state, new { @id = "txthotelstate", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.City
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.city, new { @id = "txthotelCity", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-md-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Zipcode
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.zipcode, new { @id = "txthotelzipcode", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-5 col-lg-5 col-md-5">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.WebAddress
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.webaddress, new { @id = "txthotelwebaddress", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-1 col-lg-1 col-md-1">
                        <label>
                            &nbsp;
                        </label>
                        <div>
                            @if (Model.webaddress != null)
                            {
                                if (Model.webaddress.Contains("http"))
                                {
                            <a href="@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                                else
                                {
                            <a href="http:\\@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">

                    <div class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.NoofRoom
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.total_rooms, new { @id = "txttotalrooms", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.NoofConference
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.total_conference, new { @id = "txttotalconference", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.size_of_largest_conference, new { @id = "txtsizeoflargestconf", @class = "form-control pointernone " })
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3 col-md-3 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.ParkingSpaces
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.parking_spaces, new { @id = "txtparkingspaces", @class = "form-control  pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row pointerevents" id="divairport">
                    <div class="form-group col-sm-6 col-lg-8 col-md-6 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.NearestAirport
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.airport_name, new { @id = "txtairportname", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-lg-4 col-md-6 col-xs-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.TransferTimeAirport
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.airport_transfer_time, new { @id = "txthour", @class = "form-control pointernone  " })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-12 col-lg-12 col-md-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.MiscellaneousInfo
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.miscellaneous_info, new { @id = "txtmiscellaneousinfo", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
               
            </div>

        </div>
    </div>
</div>
