﻿@model DCPPortalWeb.Models.LeftFilters

<div id="exTab">

    <ul class="nav nav-pills">
        <li class="active show-tooltip pl10" id="lifiltermenu">
            <a href="#1b" data-toggle="tab" class="fs20"><span class="glyphicon glyphicon-filter"></span></a>
        </li>
        <li class="pl10" id="limapicon">

            <a class="show_map sr_header--map show-tooltip" href="javascript:void(0);" id="map-header-cta" onclick="$bind.showhidemap();" data-map-id="map-header-cta" data-source="map-header-cta">
                <span class="glyphicon glyphicon-map-marker" id="map-icon" data-title="@DCPPortalWeb.Localization.Home.Resource.ViewOnMap"></span>
                <span class="glyphicon glyphicon-th-list" id="list-icon" data-title="@DCPPortalWeb.Localization.Home.Resource.ViewList" style="display: none;"></span>
            </a>

        </li>
    </ul>

    <div class="tab-content clearfix left-menu-filter">
        <div class="tab-pane active tabback" id="1b">

            <div class="panel-group mb0" id="accordion">
                <div class="clear10"></div>
                <div class="clear10"></div>
                @*<div class="row pa10">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="ddlhotelcountry">
                                @DCPPortalWeb.Localization.Home.Resource.Country
                            </label>
                            <div id="ddlocountry" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SearchCountry'>
                            </div>
                        </div>
                    </div>*@
                @*<div class="row pa10">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label for="txthotelcity">
                                @DCPPortalWeb.Localization.Home.Resource.City
                            </label>
                            @Html.TextBoxFor(m => m.city, new { @id = "txtocity", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Home.Resource.SearchCity })
                        </div>
                    </div>*@
                @*<div class="row pa10">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="funkyradio">
                            <div class="funkyradio-danger displaynone RHotel">
                                <input type="checkbox" name="checkbox" id="chkihotel" />
                                <label for="chkihotel" class="ac"> <img src="/Images/Hotel.png" /> </label>
                            </div>
                            <div class="funkyradio-danger displaynone RRestaurant">
                                <input type="checkbox" name="checkbox" id="chkirestaurant" />
                                <label for="chkirestaurant" class="ml10 ac"> <img src="~/Images/Restaurant.png" /> </label>
                            </div>
                            <div class="funkyradio-danger displaynone RLocation">
                                <input type="checkbox" name="checkbox" id="chkilocation" />
                                <label for="chkilocation" class="ml10 ac"> <img src="~/Images/Location.png" /> </label>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="displaynone panel" id="hotelpanel">
                    <div class="col-lg-12 pb10 h80">
                        <a data-toggle="collapse" data-target="#hotelfilter" data-parent="#accordion"
                           href="#hotelfilter" class="collapsed largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="pb2" src="~/Images/nearby_hotel.png" /> &nbsp; @DCPPortalWeb.Localization.Home.Resource.Hotels
                            <span class="collapse-arrow"></span>
                        </a>
                        <div class="checkbox-inline chkcontainer displaynone RHotel">
                            <div class="can-toggle can-togglesmall demo-rebrand-2">
                                <input type="checkbox" name="checkbox" id="chkihotel" class="checkmark" checked />
                                <label for="chkihotel">
                                    <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="hotelfilter" class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 h300 scrolls">
                        @Html.Partial("_HLeftFilter", Model)
                    </div>
                </div>
                <div class="displaynone panel" id="restaurantpanel">
                    <div class="col-lg-12 pb10 h80">
                        <a data-toggle="collapse" data-target="#restaurantfilter" data-parent="#accordion"
                           href="#restaurantfilter" class="collapsed largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="pb2" src="~/Images/nearby_restaurant.png" /> &nbsp; @DCPPortalWeb.Localization.Home.Resource.Restaurants
                            <span class="collapse-arrow"></span>
                        </a>
                        <div class="checkbox-inline chkcontainer displaynone RRestaurant">
                            <div class="can-toggle can-togglesmall demo-rebrand-2">
                                <input type="checkbox" name="checkbox" id="chkirestaurant" class="checkmark" checked />
                                <label for="chkirestaurant">
                                    <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="restaurantfilter" class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 h300 scrolls">
                        @Html.Partial("_RLeftFilter", Model)
                    </div>
                </div>
                <div class="displaynone panel" id="locationpanel">
                    <div class="col-lg-12 pb10 h80">
                        <a data-toggle="collapse" data-target="#locationfilter" data-parent="#accordion"
                           href="#locationfilter" class="collapsed largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="pb2" src="~/Images/nearby_location.png" /> &nbsp; @DCPPortalWeb.Localization.Home.Resource.Locations
                            <span class="collapse-arrow"></span>
                        </a>
                        <div class="checkbox-inline chkcontainer displaynone RLocation">
                            <div class="can-toggle can-togglesmall demo-rebrand-2">
                                <input type="checkbox" name="checkbox" id="chkilocation" class="checkmark" checked />
                                <label for="chkilocation">
                                    <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="locationfilter" class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12 h300 scrolls">
                        @Html.Partial("_LLeftFilter", Model)
                    </div>
                </div>
                <div class="row pa10">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="clear10"></div>
                        <button type="button" onclick="$search.resetcontrols('I','A')" class="btn draw-borderB fr show-tooltip w100p" title="@DCPPortalWeb.Localization.Home.Resource.ResetAll"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.ResetAll</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script>

    $(document).ready(function () {

        var isFromHistory = false;

        if ($('#isFromHistory').val() != null && $('#isFromHistory').val() == "1" && $v.variables.historyCriteria != null) {
            isFromHistory = true;
        }

        $bind.hotelJrange(false);

        $bind.restaurantJrange(false);

        $bind.locationJrange(false);

        $bind.PopOver();

        $LookUp.ILookUp();

        $validation.ValidateRights();

        if (isFromHistory) {
            $search.applyFromHistory();

        } else {
            $search.applyprimaryinfo();
        }

        setTimeout(function () {
            $bind.Events();
            $search.loadmiddlecontent();
        }, 500);

        $bind.bindInitialMapIcon();

    });

</script>

