﻿@model DCPPortalWeb.Models.LeftFilters

<div id="exTab">

    <div class="clear10"></div>
    <div class="clear10"></div>

    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaKitchen" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.LocationType
                </label>
                <div id="multilocationtypei" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.LocationTypeDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaSuitableFor" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.SuitableFor
                </label>
                <div id="multilocationsuitablefori" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SuitableForDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="inner-addon left-addon">
                <label for="LaNoofConference" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.locNoofConference
                </label>
                <input class="range-slider" id="Lrslftotalconfroom" type="hidden" value="0,220" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="LaSizeofLargestroom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.locSizeofLargestroom
                </label>
                <input class="range-slider" id="Lrslfconfsize" type="hidden" value="0,86000" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="Laroomheight" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.RoomHeight
                </label>
                <input class="range-slider" id="Lrslfroomheight" type="hidden" value="0,50" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="Larentalcost" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.RentalCost
                </label>
                <input class="range-slider" id="Lrslfrentalcost" type="hidden" value="0,200000" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <label for="lblop" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility
            </label>

            <div class="btn-group" id="PP">

                <label for="yes_radioPP" id="yes-lblPP"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radiopp" id="yes_radioPP" onchange="$bind.commontxtevent();">
                <label for="maybe_radioPP" id="maybe-lblPP">?</label><input type="radio" value="B" name="choice_radiopp" id="maybe_radioPP" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioPP" id="no-lblPP"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radiopp" id="no_radioPP" onchange="$bind.commontxtevent();">
                <div class="togglePP"></div>

            </div>

        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <label for="lblCP" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.Catering
            </label>
            <div class="btn-group" id="CP">
                <label for="yes_radioCP" id="yes-lblCP"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radiocp" id="yes_radioCP" onchange="$bind.commontxtevent();">
                <label for="maybe_radioCP" id="maybe-lblPP">?</label><input type="radio" value="B" name="choice_radiocp" id="maybe_radioCP" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioCP" id="no-lblCP"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radiocp" id="no_radioCP" onchange="$bind.commontxtevent();">
                <div class="toggleCP"></div>
            </div>
        </div>
    </div>
    <div class="row mt20">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <label for="lblTP" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.Technik
            </label>
            <div class="btn-group" id="TP">
                <label for="yes_radioTP" id="yes-lblTP"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radiotp" id="yes_radioTP" onchange="$bind.commontxtevent();">
                <label for="maybe_radioTP" id="maybe-lblPP">?</label><input type="radio" value="B" name="choice_radiotp" id="maybe_radioTP" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioTP" id="no-lblTP"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radiotp" id="no_radioTP" onchange="$bind.commontxtevent();">
                <div class="toggleTP"></div>
            </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <label for="lblCD" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.CarDrive
            </label>
            <div class="btn-group" id="CD">
                <label for="yes_radioCD" id="yes-lblCD"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radiocd" id="yes_radioCD" onchange="$bind.commontxtevent();">
                <label for="maybe_radioCD" id="maybe-lblPP">?</label><input type="radio" value="B" name="choice_radiocd" id="maybe_radioCD" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioCD" id="no-lblCD"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radiocd" id="no_radioCD" onchange="$bind.commontxtevent();">
                <div class="toggleCD"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="bhr" />
            <div class="clear10"></div>
            <button type="button" class="btn draw-borderO fr mr5 btnresetadvance show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Reset" id="btnresetadvance" onclick="$search.resetcontrols('I','L')"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.Reset</button>
        </div>
    </div>

</div>
