﻿<div id="MexTab">

    <div class="nav nav-pills nav-bar">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ptpl5">
            <span class="bluefont ac show-tooltip" title="@DCPPortalWeb.Localization.Common.Resource.Total"><span id="lbldisplayed"></span>(<span id="lblmapdisplayed">-</span>) / <span id="lbltotal"> </span></span>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ptpl5">
            <a class="dropdown-toggle btn-select fr show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.SortBy" id="sorted" data-toggle="dropdown" href="#">@DCPPortalWeb.Localization.Home.Resource.SortBy: @DCPPortalWeb.Localization.Home.Resource.Locations&nbsp;<span data-sort="locationasc" class="sortby glyphicon glyphicon-arrow-up pointer bluefont"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu fr" id="sorting">
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.Locations</span>&nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="locationasc" class="sortby glyphicon glyphicon-arrow-up pointer bluefont"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="locationdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.NoofConference </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="confasc" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="confdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="sizeasc" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="sizedesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.RentalCost</span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" data-sort="rentasc" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="L" ata-sort="rentdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
            </ul>
        </div>
    </div>

    <div class="tab-content clearfix" id="main">

        <div class="row mo" id="drawcontents" data-state="1">

        </div>
        <div class="clearfix"></div>
        <div class="row mo displaynone" id="drawbutton">
            <div class="ac">
                <button type="button" class="btn ac btnloadmore show-tooltip w90 blueback mb40" title="@DCPPortalWeb.Localization.Home.Resource.LoadMore" id="btnloadmore" onclick="$search.retrievedata('L', true);"><i class="glyphicon glyphicon-hourglass"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.LoadMore</button>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

       var Istemp = '@TempData["LIsTemp"]';

       if ((Istemp != null && Istemp != '' && Istemp != undefined && Istemp == 'y') || ($v.variables.Isfurtherfilter == true)) {
             $search.retrievedata("L", true);
       } else {
             $search.retrievedata("L", false);
       }

        //var header = $("#guide-template");

        //$(window).scroll(function () {

        //    var middlecontantLength = $("#middlecontent").html().length;

        //    if (parseInt(parseInt($(window).scrollTop().toFixed())) == parseInt($(document).height() - $(window).height())) {

        //        if (parseInt($v.variables.totalRecords) > parseInt($v.variables.recordsDisplayed)) {
        //            $search.retrievedata("L", true);
        //        }
        //    }

        //    if (middlecontantLength > 10) {

        //        var scroll = $(window).scrollTop();

        //        if (scroll > 200 && parseInt(parseInt($(window).scrollTop().toFixed())) != parseInt($(document).height() - $(window).height())) {
        //            header.addClass("fixed");
        //            $('.wizard-inner').hide();
        //            $($c.controls.headersection).addClass("pt31 borderbottom");
        //            $(".nav-pills").addClass("bgtop");
        //        } else {

        //            if (parseInt(parseInt($(window).scrollTop().toFixed())) != parseInt($(document).height() - $(window).height())) {
        //                header.removeClass("fixed");
        //                $('.wizard-inner').show();
        //                $($c.controls.headersection).removeClass("pt31 borderbottom");
        //                $(".nav-pills").removeClass("bgtop");
        //            }

        //        }

        //    }

        //    $bind.backToTop();

        //});
        
    });
</script>