﻿@model DCPPortalWeb.Models.LocationModel

<div class="panel panel-default">
    <div class="panel-body active">
      
        <div id="divGeneral" class="panel-collapse collapsein tab-content">
            <div class="panel-body">
               
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-6 col-lg-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.LocationName
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.location_name, new { @id = "txtinsidelocname", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-lg-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.LocationType
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.location_type, new { @id = "txtlocation_type", @class = "form-control pointernone" })
                        </div>
                    </div>

                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-12 col-lg-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Address
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.street, new { @id = "txtlocationstreet", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Country
                        </label>
                        <div>
                            @Html.TextBoxFor(model => model.country, new { @id = "txtcountry", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.State
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.state, new { @id = "txtlocationstate", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.City
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.city, new { @id = "txtlocationcity", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Zipcode
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.zipcode, new { @id = "txtlocationzipcode", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-11 col-lg-11">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.WebAddress
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.webaddress, new { @id = "txtlocationwebaddress", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-1 col-lg-1 col-md-1">
                        <label>
                            &nbsp;
                        </label>
                        <div>
                            @if (Model.webaddress != null)
                            {
                                if (Model.webaddress.Contains("http"))
                                {
                                    <a href="@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                                else
                                {
                                    <a href="http:\\@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.locNoofConference
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.total_conference, new { @id = "txttotalconference", @class = "form-control pointernone " })
                        </div>
                    </div>
                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.locSizeofLargestroom
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.size_of_largest_conference, new { @id = "txtsizeoflargestroom", @class = "form-control pointernone " })
                        </div>

                    </div>

                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.RoomHeight
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.room_height, new { @id = "txtroomheight", @class = "form-control pointernone" })
                        </div>

                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.RentalCost
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.rent_begining, new { @id = "txtrentbegining", @class = "form-control pointernone" })
                        </div>
                    </div>

                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Catering
                        </label>
                        <div>
                            @if (Model.catering.Value)
                            {
                                <div class="btn-group pointernone" id="OT2">

                                    <label for="yes_radioOT2" id="yes-lblOT2"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT2" id="yes_radioOT2" type="radio">
                                    <label for="maybe_radioOT2" id="maybe-lblOT2">?</label><input value="B" name="choice_radiOT2" id="maybe_radioOT2" type="radio">
                                    <label for="no_radioOT2" id="no-lblOT2"><span class="glyphicon glyphicon-remove"></span></label><input value="N" name="choice_radiOT2" id="no_radioOT2" type="radio">
                                    <div class="toggleOT2"></div>

                                </div>
                            }
                            else
                            {
                                <div class="btn-group pointernone" id="OT2">

                                    <label for="yes_radioOT2" id="yes-lblOT2"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT2" id="yes_radioOT2" type="radio">
                                    <label for="maybe_radioOT2" id="maybe-lblOT2">?</label><input value="B" name="choice_radiOT2" id="maybe_radioOT2" type="radio">
                                    <label for="no_radioOT2" id="no-lblOT2"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT2" id="no_radioOT2" type="radio">
                                    <div class="toggleOT2"></div>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Technik
                        </label>
                        <div>
                            @if (Model.technik.Value)
                            {
                                <div class="btn-group pointernone" id="OT3">

                                    <label for="yes_radioOT3" id="yes-lblOT3"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT3" id="yes_radioOT3" type="radio">
                                    <label for="maybe_radioOT3" id="maybe-lblOT3">?</label><input value="B" name="choice_radiOT3" id="maybe_radioOT3" type="radio">
                                    <label for="no_radioOT3" id="no-lblOT3"><span class="glyphicon glyphicon-remove"></span></label><input value="N" name="choice_radiOT3" id="no_radioOT3" type="radio">
                                    <div class="toggleOT3"></div>

                                </div>
                            }
                            else
                            {
                                <div class="btn-group pointernone" id="OT3">

                                    <label for="yes_radioOT3" id="yes-lblOT3"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT3" id="yes_radioOT3" type="radio">
                                    <label for="maybe_radioOT3" id="maybe-lblOT3">?</label><input value="B" name="choice_radiOT3" id="maybe_radioOT3" type="radio">
                                    <label for="no_radioOT3" id="no-lblOT3"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT3" id="no_radioOT3" type="radio">
                                    <div class="toggleOT3"></div>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.CarDrive
                        </label>
                        <div>
                            @if (Model.car_drive.Value)
                            {
                                <div class="btn-group pointernone" id="OT4">

                                    <label for="yes_radioOT4" id="yes-lblOT4"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT4" id="yes_radioOT4" type="radio">
                                    <label for="maybe_radioOT4" id="maybe-lblOT4">?</label><input value="B" name="choice_radiOT4" id="maybe_radioOT4" type="radio">
                                    <label for="no_radioOT4" id="no-lblOT4"><span class="glyphicon glyphicon-remove"></span></label><input value="N" name="choice_radiOT4" id="no_radioOT4" type="radio">
                                    <div class="toggleOT4"></div>

                                </div>
                            }
                            else
                            {
                                <div class="btn-group pointernone" id="OT4">

                                    <label for="yes_radioOT4" id="yes-lblOT4"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT4" id="yes_radioOT4" type="radio">
                                    <label for="maybe_radioOT4" id="maybe-lblOT4">?</label><input value="B" name="choice_radiOT4" id="maybe_radioOT4" type="radio">
                                    <label for="no_radioOT4" id="no-lblOT4"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT4" id="no_radioOT4" type="radio">
                                    <div class="toggleOT4"></div>

                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility
                        </label>
                        <div>
                            @if (Model.outdoor_possibility.Value)
                            {
                            <div class="btn-group pointernone" id="OT1">

                                <label for="yes_radioOT1" id="yes-lblOT1"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT1" id="yes_radioOT1" type="radio">
                                <label for="maybe_radioOT1" id="maybe-lblOT1">?</label><input value="B" name="choice_radiOT1" id="maybe_radioOT1" type="radio">
                                <label for="no_radioOT1" id="no-lblOT1"><span class="glyphicon glyphicon-remove"></span></label><input value="N" name="choice_radiOT1" id="no_radioOT1" type="radio">
                                <div class="toggleOT1"></div>

                            </div>
                            }
                            else
                            {
                            <div class="btn-group pointernone" id="OT1">

                                <label for="yes_radioOT1" id="yes-lblOT1"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT1" id="yes_radioOT1" type="radio">
                                <label for="maybe_radioOT1" id="maybe-lblOT1">?</label><input value="B" name="choice_radiOT1" id="maybe_radioOT1" type="radio">
                                <label for="no_radioOT1" id="no-lblOT1"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT1" id="no_radioOT1" type="radio">
                                <div class="toggleOT1"></div>

                            </div>
                            }
                        </div>
                    </div>
                    <div class="form-group col-sm-9 col-lg-9">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.OutdoorDetails
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.outdoor_details, new { @id = "txtoutdoordetails", @class = "form-control pointernone", @rows = 2 })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-12 col-lg-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.MiscellaneousInfo
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.miscellaneous_info, new { @id = "txtlocationmiscellaneousinfo", @class = "form-control pointernone", @rows = 3 })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
              
            </div>
        </div>
    </div>
</div>
