﻿@model DCPPortalWeb.Models.HeaderSearch

<input type="hidden" value="@DCPPortalWeb.Localization.Home.Resource.SearchWithDestinationRadius" id="hdnDestinationRadius" />
<input type="hidden" value="@DCPPortalWeb.Localization.Home.Resource.SearchWithCountryCity" id="hdnCountryCity" />

<section id="headersection" class="nav-bar">

    <div class="clear10">
    </div>

    <div class="accordion af">
        <div class="accordion-group">

            @*<div class="accordion-heading area">
                    <span class="accordion-toggle show-tooltip fwb cg fs20" title="@DCPPortalWeb.Localization.Home.Resource.AdvanceFilter" >&nbsp;<span class="glyphicon glyphicon-filter"></span>&nbsp;@DCPPortalWeb.Localization.Home.Resource.AdvanceFilter</span>
                </div>*@

            <div class="accordion-body collapse in" id="af">

                <div class="wizard">
                    <div class="clear10"></div>
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" id="bihotel" class="active col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a href="#hotel" for="H" id="aihotel" data-click="RM" class="show-tooltip largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;" data-toggle="tab" aria-controls="Hotels" role="tab" title="@DCPPortalWeb.Localization.Home.Resource.Hotels">
                                    <span class="hidelabel">  @DCPPortalWeb.Localization.Home.Resource.Hotel</span>
                                </a>
                                <div class="checkbox-inline chkcontainer displaynone RHotel">
                                    <div class="can-toggle demo-rebrand-2">
                                        <input type="checkbox" name="checkbox" id="chkhotel" class="checkmark" checked />
                                        <label for="chkhotel">
                                            <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation" id="birestaurant" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a href="#restaurant" for="R" id="airestaurant" data-click="RM" class="show-tooltip largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;" data-toggle="tab" aria-controls="Restaurants" role="tab" title="@DCPPortalWeb.Localization.Home.Resource.Restaurants">
                                    <span class="hidelabel">  @DCPPortalWeb.Localization.Home.Resource.Restaurant</span>
                                </a>
                                <div class="checkbox-inline chkcontainer displaynone RRestaurant">
                                    <div class="can-toggle demo-rebrand-2">
                                        <input type="checkbox" name="checkbox" id="chkrestaurant" class="checkmark" checked />
                                        <label for="chkrestaurant">
                                            <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li role="presentation" id="bilocation" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <a href="#location" for="L" id="ailocation" data-click="RM" class="show-tooltip largemenu col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="tab" style="display:none;" aria-controls="Locations" role="tab" title="@DCPPortalWeb.Localization.Home.Resource.Locations">
                                    <span class="hidelabel">  @DCPPortalWeb.Localization.Home.Resource.Location</span>
</a>
                                <div class="checkbox-inline chkcontainer displaynone RLocation">
                                    <div class="can-toggle demo-rebrand-2">
                                        <input type="checkbox" name="checkbox" id="chklocation" class="checkmark" checked />
                                        <label for="chklocation">
                                            <div class="can-toggle__switch" data-checked="ON" data-unchecked="OFF"></div>
                                        </label>
                                    </div>
                                    @*<span class="checkmark largechk mt-15"></span>*@
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form mt15">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="hotel">
                                <div class="step1">
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="inner-addon left-addon">
                                                <label for="RaHoteltype" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.HotelType
                                                </label>
                                                <div id="multihoteltype" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.HotelTypeDesc'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt20">

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="inner-addon left-addon">
                                                <label for="Star" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.Star
                                                </label>
                                                <div class="fl-group__btn-group clearfix">
                                                    <button type="button" title="1 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnsm" data-star="1" onclick="$bind.StarE(this,false);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="12" viewBox="0 0 28 12"><g fill="none" fill-rule="evenodd"><path d="M.56 4.673c-.28.047-.493.26-.547.534-.053.28.074.553.314.7L3.2 7.627 2.033 11.12c-.093.28.007.593.254.76.113.08.246.12.38.12.147 0 .293-.047.413-.147L6 9.52l2.92 2.333c.12.1.267.147.413.147.134 0 .267-.04.38-.12.167-.113.267-.293.28-.48l-7.12-7.113-2.313.386m11.427.534c-.054-.274-.267-.487-.547-.534l-3.6-.6L6.634.453C6.54.187 6.287 0 6 0c-.287 0-.54.187-.634.453L4.494 3.08l4.453 4.46 2.726-1.633c.24-.147.367-.42.314-.7" class="svg-color--secondary" fill="#9BA2A6"></path><path class="svg-color--primary" fill="#697379" d="M27.157 4.676l-3.604-.6-1.206-3.62C22.257.183 22 0 21.714 0c-.287 0-.54.184-.633.455l-1.204 3.62-3.604.6c-.275.047-.492.26-.544.534-.052.273.072.55.312.694l2.875 1.725-1.164 3.492c-.094.28.008.588.25.758.115.08.25.12.38.12.15 0 .296-.05.418-.146l2.917-2.333 2.917 2.335c.123.097.27.146.417.146.133 0 .266-.04.38-.12.24-.17.344-.476.25-.756L24.516 7.63l2.876-1.725c.24-.143.365-.42.314-.696-.053-.276-.27-.49-.546-.535z"></path></g></svg></span></button>
                                                    <button type="button" title="2 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnsm" data-star="2" onclick="$bind.StarE(this,false);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="12" viewBox="0 0 28 12"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm16 0l-3.604-.6-1.21-3.62C22.542.182 22.287 0 22 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L19.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                                                    <button type="button" title="3 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnsm" data-star="3" onclick="$bind.StarE(this,false);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="26" viewBox="0 0 28 26"><path d="M19.443 4.676l-3.604-.6-1.21-3.62C14.542.182 14.287 0 14 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L11.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L14 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L16.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm8 14l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 23.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.8 21.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-16 0l-3.604-.6-1.21-3.62C6.543 14.183 6.288 14 6 14s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 21.63 2.034 25.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 23.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 21.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                                                    <button type="button" title="4 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnsm" data-star="4" onclick="$bind.StarE(this,false);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="28" height="27" viewBox="0 0 28 27"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm16 0l-3.604-.6-1.21-3.62C22.542.182 22.287 0 22 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L19.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm0 15l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L22 24.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L24.8 22.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-16 0l-3.604-.6-1.21-3.62C6.543 15.183 6.288 15 6 15s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 22.63 2.034 26.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 24.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 22.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                                                    <button type="button" title="5 @DCPPortalWeb.Localization.Home.Resource.Star" class="show-tooltip fl-group__btn pointer fl-group__btn--stars fl-btnsm" data-star="5" onclick="$bind.StarE(this,false);"><span class="icon-ic fl-group__btn-icn icon-center"><svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="30" height="30" viewBox="0 0 30 30"><path d="M11.443 4.676l-3.604-.6L6.63.456C6.542.182 6.287 0 6 0s-.542.184-.633.455L4.16 4.075l-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.198 7.63l-1.164 3.493c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.145L6 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm18 0l-3.604-.6-1.21-3.62C24.542.182 24.287 0 24 0s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L21.2 7.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L24 9.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L26.802 7.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm0 18l-3.604-.6-1.21-3.62c-.09-.272-.344-.456-.63-.456-.288 0-.543.184-.634.455l-1.206 3.62-3.603.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694l2.874 1.725-1.164 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L24 27.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L26.8 25.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535zm-18 0l-3.604-.6-1.21-3.62C6.543 18.183 6.288 18 6 18s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L3.2 25.63 2.034 29.12c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L6 27.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L8.802 25.63l2.877-1.725c.24-.143.362-.42.31-.696-.053-.276-.27-.49-.546-.535zm9-9l-3.604-.6-1.21-3.62C15.543 9.183 15.288 9 15 9s-.542.184-.633.455l-1.206 3.62-3.602.6c-.276.047-.493.26-.545.534-.052.273.072.55.312.694L12.2 16.63l-1.165 3.492c-.094.28.01.588.25.758.116.08.25.12.382.12.148 0 .295-.05.417-.146L15 18.52l2.917 2.334c.12.097.268.146.416.146.134 0 .267-.04.382-.12.242-.17.344-.477.25-.757L17.8 16.63l2.878-1.725c.24-.143.363-.42.312-.696-.054-.276-.27-.49-.547-.535z" class="svg-color--primary" fill="#697379" fill-rule="evenodd"></path></svg></span></button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="inner-addon left-addon">
                                                <label for="aNoofRoomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.NoofRoom
                                                </label>
                                                <input class="range-slider" id="rstotalroom" type="hidden" value="0,6000" style="display: none;">
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="aNoofConferenceo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.NoofConference
                                                </label>
                                                <input class="range-slider" id="rstotalconfroom" type="hidden" value="0,700" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="aSizeofLargestroomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom
                                                </label>
                                                <input class="range-slider" id="rsconfsize" type="hidden" value="0,15000" style="display: none;">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="restaurant">
                                <div class="step2">

                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaRestauranttype" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.RestaurantType
                                                </label>
                                                <div id="multirestauranttype" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.RestaurantTypeDesc'>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaKitchen" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.Kitchen
                                                </label>
                                                <div id="multirestaurantkitchen" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.KitchenDesc'>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaSuitableFor" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.SuitableFor
                                                </label>
                                                <div id="multirestaurantsuitablefor" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SuitableForDesc'>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row mt20">

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaNoofRoomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.resNoofConference
                                                </label>
                                                <input class="range-slider" id="Rrstotalroom" type="hidden" value="0,40" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaSizeofLargestroomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.resSizeofLargestroom
                                                </label>
                                                <input class="range-slider" id="Rrsroomsize" type="hidden" value="0,3000" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaCapacityofroomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.resCapacityofLargestRoom
                                                </label>
                                                <input class="range-slider" id="Rrsroomcapacity" type="hidden" value="0,15000" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaCapacityofrestauranto" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant
                                                </label>
                                                <input class="range-slider" id="Rrsrestaurantcapacity" type="hidden" value="0,3000" style="display: none;">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="location">
                                <div class="step3">

                                    <div class="row">

                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaLocationtype" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.LocationType
                                                </label>
                                                <div id="multilocationtype" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.LocationTypeDesc'>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">

                                            <div class="inner-addon left-addon">
                                                <label for="RaSuitableFor" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.SuitableFor
                                                </label>
                                                <div id="multilocationsuitablefor" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SuitableForDesc'>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row mt20">

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="inner-addon left-addon">
                                                <label for="LaNoofConferenceo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.locNoofConference
                                                </label>
                                                <input class="range-slider" id="Lrstotalconfroom" type="hidden" value="0,220" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="LaSizeofLargestroomo" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.locSizeofLargestroom
                                                </label>
                                                <input class="range-slider" id="Lrsconfsize" type="hidden" value="0,86000" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="inner-addon left-addon">
                                                <label for="Laroomheighto" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.RoomHeight
                                                </label>
                                                <input class="range-slider" id="Lrsroomheight" type="hidden" value="0,50" style="display: none;">
                                            </div>

                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 ">

                                            <div class="inner-addon left-addon">
                                                <label for="Larentalcosto" class="labelheader mt-45">
                                                    @DCPPortalWeb.Localization.Home.Resource.RentalCost
                                                </label>
                                                <input class="range-slider" id="Lrsrentalcost" type="hidden" value="0,200000" style="display: none;">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*<hr class="af" />*@
    <div class="clear10 af"></div>
    <ul class="list-inline pull-right af">
        <li>
            <button type="button" class="btn draw-borderB fr mr5 search show-tooltip" id="btnsearch" title="@DCPPortalWeb.Localization.Home.Resource.Search"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.Search</button>
            <button type="button" onclick="$search.resetcontrols('O','A')" class="btn draw-borderO fr mr5 btnresetadvance show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Reset" id="btnresetoadvance"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.Reset</button>
        </li>
    </ul>
    <div class="clear10 af"></div>
    <div class="clear10 af"></div>
</section>
