﻿<div style="display:none">
    <input type="hidden" value="@DCPPortalWeb.Localization.Home.Resource.SortBy" id="hdnSortBy" />
    <input type="hidden" value="@DCPPortalWeb.Localization.Home.Resource.ResourceName" id="hdnResourceName" />
</div>
<div id="MexTab" class="tabback">

    <div class="nav nav-pills nav-bar bottomshadow">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 mtpb15" id="divshowtotal">
            <span class="bluefont ac"><span class="show-tooltip" title="@DCPPortalWeb.Localization.Common.Resource.ShownRecord" id="lbldisplayed"></span>(<span class="show-tooltip" title="@DCPPortalWeb.Localization.Common.Resource.MapRecord" id="lblmapdisplayed">-</span>) / <span class="show-tooltip" title="@DCPPortalWeb.Localization.Common.Resource.TotalRecord" id="lbltotal"> </span></span>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 mtpb15 ac" id="divshowsortby">
            <a class="dropdown-toggle btn-select ac linktextcss bluefont" id="sorted" data-toggle="dropdown" href="#"><span class="show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.SortBy"> @DCPPortalWeb.Localization.Home.Resource.SortBy</span> : @DCPPortalWeb.Localization.Home.Resource.ResourceName &nbsp;<span data-sort="resourceasc" class="sortby glyphicon glyphicon-arrow-up pointer bluefont"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu fr" id="sorting">

                <li class="psort" id="liResourceName"><span class="name">@DCPPortalWeb.Localization.Home.Resource.ResourceName</span>&nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="resourceasc" class="sortby glyphicon glyphicon-arrow-up pointer bluefont show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="resourcedesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liNoofRoom"><span class="name">@DCPPortalWeb.Localization.Home.Resource.NoofRoom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="roomasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="roomdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liNoofConference"><span class="name">@DCPPortalWeb.Localization.Home.Resource.NoofConference </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="confasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="confdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liSizeofLargestroom"><span class="name">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="capresasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="capresdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liHotelStar"><span class="name">@DCPPortalWeb.Localization.Home.Resource.Star </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="starasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="stardesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>

                <li class="psort" id="liResNoofConference"><span class="name">@DCPPortalWeb.Localization.Home.Resource.resNoofConference </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="restroomasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="restroomdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liResCapacityOflargestRoom"><span class="name">@DCPPortalWeb.Localization.Home.Resource.resCapacityofLargestRoom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="largestroomasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="largestroomdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liCapacityOfRestaurant"><span class="name">@DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="capacityofroomasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="capacityofroomdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>

                <li class="psort" id="lilocNoofConference"><span class="name">@DCPPortalWeb.Localization.Home.Resource.NoofConference </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="locconfasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="locconfdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="lilocSizeofLargestroom"><span class="name">@DCPPortalWeb.Localization.Home.Resource.locSizeofLargestroom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="locsizeofroomasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="locsizeofroomdesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>
                <li class="psort" id="liRentalCost"><span class="name">@DCPPortalWeb.Localization.Home.Resource.RentalCost </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="rentalasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="rentaldesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>

                @*<li class="psort" id="liDistance"><span class="name">@DCPPortalWeb.Localization.Home.Resource.Distance </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="distanceasc" class="sortby glyphicon glyphicon-arrow-up pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Ascending"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="distancedesc" class="sortby glyphicon glyphicon-arrow-down pointer show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Descending"></span></li>*@
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ptpb10" id="divshowstartrfp">
            <a href="/RFP/StartRFP" target="_self" class="btn draw-borderB fr mr5 show-tooltip" id="btnstartrfp" title="@DCPPortalWeb.Localization.Home.Resource.StartRFP"><i class="glyphicon glyphicon-send"></i>&nbsp;@DCPPortalWeb.Localization.Home.Resource.StartRFP</a>
        </div>

    </div>

    <div class="tab-content clearfix" id="main">

        <div class="row mo" id="drawcontents" data-state="1">
        </div>

        <div class="clearfix"></div>
        
        <div class="row mo displaynone" id="drawbutton">
            <div class="ac">
                <button type="button" class="btn draw-borderB ac btnloadmore show-tooltip w90 mb40" title="@DCPPortalWeb.Localization.Home.Resource.LoadMore" id="btnloadmore" onclick="$search.retrievedata(true);"><i class="glyphicon glyphicon-hourglass"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.LoadMore</button>
            </div>
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {
        $search.retrievedata(false);
    });

</script>