﻿<div id="modal-container">
    <div class="modal-background">
        <div class="modal modal-dialog modal-lg" role="dialog">

            <div class="modal-content">

                <div class="modal-header panelgrey">
                    <button type="button" class="close" data-dismiss="modal" onclick="$bind.closemodel();">&times;</button>
                    @*<a href="#" target="_blank" id="afurtherfilter" class="afurtherfilter displaynone"><span class="glyphicon glyphicon-list"></span>&nbsp;@DCPPortalWeb.Localization.Home.Resource.ListView</a>*@
                    <h4 class="modal-title fl h45"><span class="glyphicon glyphicon-bookmark"></span><span id="modeltitle"></span></h4>
                </div>

                <div class="modal-body p0">

                    <div class="row mrml0">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p0">

                            <div class="col-md-8 nomargin mapmsg" id="mapmsg">

                                <div class="col-md-6 nomargin ">

                                    <div class="col-md-6 txtcenter panel btn-primary">
                                        <b>
                                            <span class="glyphicon glyphicon-info-sign pt10"></span>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.NoMap
                                        </b>
                                    </div>

                                </div>

                            </div>

                            <div class="maplist" id="listview">

                                <ul class="list-group listellipsis scrolls" id="nearbylist"></ul>

                            </div>

                            <div id="map">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="infomodal">
    <div class="modal-dialog modal-lg" role="dialog">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-bookmark"></span><span id="infotitle"></span></h4>

            </div>
            <div class="modal-body p0">
                @*Start rfp detail page change on 17 april*@
                @*<div class="row mrml0">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p0" id="RFPDiv">
                <div class="clear10"></div>

                <div class="wrapper center-block">
                    <div class="panel-group prl10" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading active panelgrey" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-asterisk"></span>   @DCPPortalWeb.Localization.Home.Resource.Contingents
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in p10" role="tabpanel" aria-labelledby="headingOne">

                                <div id="material-tabs">
                                    <a id="Accotab-tab" href="#Accotab" class="active"> @DCPPortalWeb.Localization.RFP.Resource.AccomodationLabel</a>
                                    <a id="Conftab-tab" href="#Conftab"> @DCPPortalWeb.Localization.RFP.Resource.ConferenceRoomLabel</a>
                                    <a id="Grptab-tab" href="#Grptab"> @DCPPortalWeb.Localization.Home.Resource.GroupRoom</a>
                                    <span class="yellow-bar"></span>
                                </div>

                                <div class="tab-content">

                                    <div>
                                        <div class="row" id="Accotab">
                                            <div class="timeline-item col-lg-4">
                                                <div class="animated-background loaders">
                                                    <div class="background-masker header-top"></div>
                                                    <div class="background-masker header-left"></div>
                                                    <div class="background-masker header-right"></div>
                                                    <div class="background-masker header-bottom"></div>
                                                    <div class="background-masker subheader-left"></div>
                                                    <div class="background-masker subheader-right"></div>
                                                    <div class="background-masker subheader-bottom"></div>
                                                    <div class="background-masker content-top"></div>
                                                    <div class="background-masker content-first-end"></div>
                                                    <div class="background-masker content-second-line"></div>
                                                    <div class="background-masker content-second-end"></div>
                                                    <div class="background-masker content-third-line"></div>
                                                    <div class="background-masker content-third-end"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row" id="Conftab">
                                            <div class="timeline-item col-lg-4">
                                                <div class="animated-background loaders">
                                                    <div class="background-masker header-top"></div>
                                                    <div class="background-masker header-left"></div>
                                                    <div class="background-masker header-right"></div>
                                                    <div class="background-masker header-bottom"></div>
                                                    <div class="background-masker subheader-left"></div>
                                                    <div class="background-masker subheader-right"></div>
                                                    <div class="background-masker subheader-bottom"></div>
                                                    <div class="background-masker content-top"></div>
                                                    <div class="background-masker content-first-end"></div>
                                                    <div class="background-masker content-second-line"></div>
                                                    <div class="background-masker content-second-end"></div>
                                                    <div class="background-masker content-third-line"></div>
                                                    <div class="background-masker content-third-end"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row" id="Grptab">
                                            <div class="timeline-item col-lg-4">
                                                <div class="animated-background loaders">
                                                    <div class="background-masker header-top"></div>
                                                    <div class="background-masker header-left"></div>
                                                    <div class="background-masker header-right"></div>
                                                    <div class="background-masker header-bottom"></div>
                                                    <div class="background-masker subheader-left"></div>
                                                    <div class="background-masker subheader-right"></div>
                                                    <div class="background-masker subheader-bottom"></div>
                                                    <div class="background-masker content-top"></div>
                                                    <div class="background-masker content-first-end"></div>
                                                    <div class="background-masker content-second-line"></div>
                                                    <div class="background-masker content-second-end"></div>
                                                    <div class="background-masker content-third-line"></div>
                                                    <div class="background-masker content-third-end"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="infoplace">
                </div>
            </div>
        </div>*@

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> <span id="Usertitle"></span> </h4>
            </div>
            <div id="userbody" class="modal-body">

            </div>
        </div>
    </div>
</div>

