﻿@model DCPPortalWeb.Models.RestaurantModel

<div class="panel panel-default">
    <div class="panel-body active">
       
        <div id="divGeneral" class="panel-collapse collapsein tab-content">
            <div class="panel-body">
                
                <div class="row">
                    <div class="form-group col-sm-6 col-lg-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.RestaurantName
                        </label>
                        <div>

                            @Html.TextBoxFor(m => m.restaurant_name, new { @id = "txtinsiderestname", @class = "form-control pointernone" })

                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-lg-6">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Address
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.street, new { @id = "txtrestaurantstreet", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Country
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.country, new { @id = "txtcountry", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.State
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.state, new { @id = "txtrestaurantstate", @class = "form-control pointernone" })
                        </div>
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.City
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.city, new { @id = "txtrestaurantcity", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Zipcode
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.zipcode, new { @id = "txtrestaurantzipcode", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-11 col-lg-11">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.WebAddress
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.webaddress, new { @id = "txtrestaurantwebaddress", @class = "form-control pointernone" })
                        </div>
                    </div>
                    <div class="form-group col-sm-1 col-lg-1 col-md-1">
                        <label>
                            &nbsp;
                        </label>
                        <div>
                            @if (Model.webaddress != null)
                            {
                                if (Model.webaddress.Contains("http"))
                                {
                                    <a href="@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                                else
                                {
                                    <a href="http:\\@Model.webaddress" target="_blank" class="xlarge show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.WebAddress"><span class="glyphicon glyphicon-globe"></span></a>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.RestaurantInHotel
                        </label>
                        <div>

                            @if (Model.restaurant_in_hotel)
                            {
                                <div class="btn-group pointernone" id="OT2">

                                    <label for="yes_radioOT2" id="yes-lblOT2"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT2" id="yes_radioOT2" type="radio">
                                    <label for="maybe_radioOT2" id="maybe-lblOT2">?</label><input value="B" name="choice_radiOT2" checked="" id="maybe_radioOT2" type="radio">
                                    <label for="no_radioOT2" id="no-lblOT2"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="" name="choice_radiOT2" id="no_radioOT2" type="radio">
                                    <div class="toggleOT2"></div>

                                </div>
                            }
                            else
                            {
                                <div class="btn-group pointernone" id="OT2">

                                    <label for="yes_radioOT2" id="yes-lblOT2"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT2" id="yes_radioOT2" type="radio">
                                    <label for="maybe_radioOT2" id="maybe-lblOT2">?</label><input value="B" name="choice_radiOT2" id="maybe_radioOT2" type="radio">
                                    <label for="no_radioOT2" id="no-lblOT2"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT2" id="no_radioOT2" type="radio">
                                    <div class="toggleOT2"></div>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="form-group col-sm-9 col-lg-9">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.HotelName
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.hotelname, new { @id = "txtrestauranthotelname", @class = "form-control pointernone" })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">

                    <div class="form-group col-sm-12 col-lg-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.Kitchen
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.kitchen, new { @id = "multirestaurantkitchen", @class = "form-control pointernone ", @rows = 2 })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">

                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.resNoofConference
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.total_conference, new { @id = "txttotalconference", @class = "form-control pointernone" })
                        </div>
                    </div>

                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.resSizeofLargestroom
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.size_of_largest_conference, new { @id = "txtsizeoflargestroom", @class = "form-control pointernone " })
                        </div>
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.SqM
                        </label>
                    </div>

                    <div class="form-group col-sm-4 col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.resCapacityofLargestRoom
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.capacity_of_largest_room, new { @id = "txtcapacityoflargestroom", @class = "form-control pointernone " })
                        </div>
                    </div>


                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-4  col-lg-4">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.capacity, new { @id = "txtcapacity", @class = "form-control pointernone " })
                        </div>
                    </div>
                    <div class="form-group col-sm-8 col-lg-8">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.MinimumTurnover
                        </label>
                        <div>
                            @Html.TextBoxFor(m => m.minimum_turnover, new { @id = "txtminturnover", @class = "form-control pointernone " })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-3 col-lg-3">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility
                        </label>
                        <div>
                            @if (Model.outdoor_possibility.Value)
                            {
                                <div class="btn-group pointernone" id="OT1">

                                    <label for="yes_radioOT1" id="yes-lblOT1"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" checked="checked" name="choice_radiOT1" id="yes_radioOT1" type="radio">
                                    <label for="maybe_radioOT1" id="maybe-lblOT1">?</label><input value="B" name="choice_radiOT1" id="maybe_radioOT1" type="radio">
                                    <label for="no_radioOT1" id="no-lblOT1"><span class="glyphicon glyphicon-remove"></span></label><input value="N" name="choice_radiOT1" id="no_radioOT1" type="radio">
                                    <div class="toggleOT1"></div>

                                </div>
                            }
                            else
                            {
                                <div class="btn-group pointernone" id="OT1">

                                    <label for="yes_radioOT1" id="yes-lblOT1"><span class="glyphicon glyphicon-ok"></span></label><input value="Y" name="choice_radiOT1" id="yes_radioOT1" type="radio">
                                    <label for="maybe_radioOT1" id="maybe-lblOT1">?</label><input value="B" name="choice_radiOT1" id="maybe_radioOT1" type="radio">
                                    <label for="no_radioOT1" id="no-lblOT1"><span class="glyphicon glyphicon-remove"></span></label><input value="N" checked="checked" name="choice_radiOT1" id="no_radioOT1" type="radio">
                                    <div class="toggleOT1"></div>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="form-group col-sm-9 col-lg-9">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.OutdoorDetails
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.outdoor_details, new { @id = "txtoutdoordetails", @class = "form-control pointernone", @rows = 2 })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <div class="form-group col-sm-12 col-lg-12">
                        <label>
                            @DCPPortalWeb.Localization.Home.Resource.MiscellaneousInfo
                        </label>
                        <div>
                            @Html.TextAreaFor(m => m.miscellaneous_info, new { @id = "txtmiscellaneousinfo", @class = "form-control pointernone", @rows = 3 })
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
               
            </div>
        </div>
    </div>
</div>
