﻿@model DCPPortalWeb.Models.LeftFilters

<div id="exTab">

    <div class="clear10"></div>
    <div class="clear10"></div>

    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaRestaurantType" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.RestaurantType
                </label>
                <div id="multirestauranttypei" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.RestaurantTypeDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaKitchen" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.Kitchen
                </label>
                <div id="multirestaurantkitcheni" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.KitchenDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaSuitableFor" class="smalllabelheader">
                    @DCPPortalWeb.Localization.Home.Resource.SuitableFor
                </label>
                <div id="multirestaurantsuitablefori" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SuitableForDesc'>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt20">

        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="inner-addon left-addon">
                <label for="RaNoofRoom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.resNoofConference
                </label>
                <input class="range-slider" id="Rrslftotalroom" type="hidden" value="0,40" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaSizeofLargestroom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.resSizeofLargestroom
                </label>
                <input class="range-slider" id="Rrslfroomsize" type="hidden" value="0,3000" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaCapacityofroom" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.resCapacityofLargestRoom
                </label>
                <input class="range-slider" id="Rrslfroomcapacity" type="hidden" value="0,15000" style="display: none;">
            </div>
        </div>
    </div>


    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaCapacityofrestaurant" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant
                </label>
                <input class="range-slider" id="Rrslfrestaurantcapacity" type="hidden" value="0,3000" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="inner-addon left-addon">
                <label for="RaMinimumturnover" class="smalllabelheader mt-45">
                    @DCPPortalWeb.Localization.Home.Resource.MinimumTurnover
                </label>
                <input class="range-slider" id="Rrslfminimumturnover" type="hidden" value="0,15000" style="display: none;">
            </div>
        </div>
    </div>

    <div class="row mt20">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">


            <label for="lblop" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility
            </label>

            <div class="btn-group" id="OP">

                <label for="yes_radioOP" id="yes-lblOP"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radioop" id="yes_radioOP" onchange="$bind.commontxtevent();">
                <label for="maybe_radioOP" id="maybe-lblOP">?</label><input type="radio" value="B" name="choice_radioop" id="maybe_radioOP" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioOP" id="no-lblOP"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radioop" id="no_radioOP" onchange="$bind.commontxtevent();">
                <div class="toggleOP"></div>

            </div>


        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ">

            <label for="lblRIH" class="smalllabelheader">
                @DCPPortalWeb.Localization.Home.Resource.RestaurantInHotel
            </label>
            <div class="btn-group" id="RIH">
                <label for="yes_radioRIH" id="yes-lblRIH"><span class="glyphicon glyphicon-ok"></span></label><input type="radio" value="Y" name="choice_radiorih" id="yes_radioRIH" onchange="$bind.commontxtevent();">
                <label for="maybe_radioRIH" id="maybe-lblPP">?</label><input type="radio" value="B" name="choice_radiorih" id="maybe_radioRIH" checked="checked" onchange="$bind.commontxtevent();">
                <label for="no_radioRIH" id="no-lblRIH"><span class="glyphicon glyphicon-remove"></span></label><input type="radio" value="N" name="choice_radiorih" id="no_radioRIH" onchange="$bind.commontxtevent();">
                <div class="toggleRIH"></div>
            </div>


        </div>

    </div>

    <div class="row mt10">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr class="bhr" />
            <div class="clear10"></div>
            <button type="button" class="btn draw-borderO fr mr5 btnresetadvance show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.Reset" id="btnresetadvance" onclick="$search.resetcontrols('I','R')"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.Reset</button>
        </div>
    </div>

</div>
