﻿<div id="MexTab">

    <div class="nav nav-pills nav-bar">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ptpl5">
            <span class="bluefont ac show-tooltip" title="@DCPPortalWeb.Localization.Common.Resource.Total"><span id="lbldisplayed"></span>(<span id="lblmapdisplayed">-</span>) / <span id="lbltotal"> </span></span>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 ptpl5">
            <a class="dropdown-toggle btn-select fr show-tooltip" title="@DCPPortalWeb.Localization.Home.Resource.SortBy" id="sorted" data-toggle="dropdown" href="#">@DCPPortalWeb.Localization.Home.Resource.SortBy: @DCPPortalWeb.Localization.Home.Resource.Restaurants&nbsp;<span data-sort="restasc" class="sortby glyphicon glyphicon-arrow-up pointer bluefont"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu fr" id="sorting">
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.Restaurants</span>&nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="restasc" data-type="R" class="sortby glyphicon glyphicon-arrow-up pointer bluefont"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="R" data-sort="restdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.NoofRoom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="roomasc" data-type="R" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="R" data-sort="roomdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant </span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="capresasc" data-type="R" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="R" data-sort="capresdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.CapacityOfRoom</span> &nbsp;&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="caproomasc" data-type="R" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="R" data-sort="caproomdesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
                <li class="psort"><span class="name">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom </span> &nbsp;&nbsp;<span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-sort="sizeasc" data-type="R" class="sortby glyphicon glyphicon-arrow-up pointer"></span>&nbsp; <span onclick="$search.applysortby(this,'@DCPPortalWeb.Localization.Home.Resource.SortBy');" data-type="R" data-sort="sizedesc" class="sortby glyphicon glyphicon-arrow-down pointer"></span></li>
            </ul>
        </div>
    </div>

    <div class="tab-content clearfix" id="main">

        <div class="row mo" id="drawcontents" data-state="1">

        </div>
        <div class="clearfix"></div>
        <div class="row mo displaynone" id="drawbutton">
            <div class="ac">
                <button type="button" class="btn ac btnloadmore show-tooltip w90 blueback mb40" title="@DCPPortalWeb.Localization.Home.Resource.LoadMore" id="btnloadmore" onclick="$search.retrievedata('R', true);"><i class="glyphicon glyphicon-hourglass"></i>&nbsp;&nbsp;@DCPPortalWeb.Localization.Home.Resource.LoadMore</button>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

         var Istemp = '@TempData["RIsTemp"]';
        
         if ((Istemp != null && Istemp != '' && Istemp != undefined && Istemp == 'y') || ($v.variables.Isfurtherfilter == true)) {
             $search.retrievedata("R", true);
         } else {
             $search.retrievedata("R", false);
         }
        
    });
</script>