﻿@model DCPPortalWeb.Models.HomeModel

@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabSearchTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Contents/HomeCss")


@Html.Hidden("isFromHistory", TempData["history"])
<button type="button" class="btn-primary displaynone" id="btntoggle">
    <span class="glyphicon glyphicon-filter"></span>
</button>

<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 mt3">
    <div class="blurdiv">
        <div class="panel panel-default paneltransparent mtb0">
            <div class="panel-body" id="DivGeneralInfo">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="searchTab">
                            <ul class="nav nav-pills">
                                <li id="liSearchCountry" class="col-lg-6 col-md-6 col-xs-6 col-sm-6 active ml0 show-tooltipt" title="@DCPPortalWeb.Localization.Home.Resource.SearchWithCountryCity">
                                    <a href="#searchCountryContent" class="largemenu col-xs-12" data-toggle="tab" data-tabid="searchCountryContent"><span class="hidelabel">@DCPPortalWeb.Localization.Home.Resource.SearchWithCountryCity</span> </a>
                                </li>
                                <li id="liSearchDestination" class="col-lg-6 col-md-6 col-xs-6 col-sm-6 ml0 show-tooltipt" title="@DCPPortalWeb.Localization.Home.Resource.SearchWithDestinationRadius">
                                    <a href="#searchDestinationContent" class="largemenu col-xs-12" data-toggle="tab" data-tabid="searchDestinationContent"><span class="hidelabel">@DCPPortalWeb.Localization.Home.Resource.SearchWithDestinationRadius</span></a>
                                </li>
                                @*<span class="spanInfo">
                                        <i class="glyphicon glyphicon-info-sign icon show-tooltip" twipsy-content-set="true" id="iInformation" data-html="true" title="@DCPPortalWeb.Localization.Home.Resource.Information" data-original-title="@DCPPortalWeb.Localization.Home.Resource.Information"></i>
                                    </span>*@
                            </ul>
                            <div class="tab-content clearfix panelwhiteback mt20" id="tabContent">
                                <div class="tab-pane" id="searchDestinationContent">
                                    <div class="row">
                                        <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12 typeclass mb0">
                                            <div class="inner-addon left-addon">
                                                <label for="txtdestinationname" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.Destination
                                                </label>
                                                @Html.TextBoxFor(m => m._headersearch.destination, new { @id = "txtdestinationname", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Home.Resource.SearchDestination })
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 mt20 mb0">
                                            <div class="inner-addon left-addon">
                                                <label for="ddlradius" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.Radius
                                                </label>
                                                <div id="ddlradius" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SearchRadius'>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-12 displaynone naf mt15">
                                            <button type="button" class="btn draw-borderB fr mr5 show-tooltip" id="btnadvancehotel" title="@DCPPortalWeb.Localization.Home.Resource.Search" onclick="$search.applysearch('H')"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="searchCountryContent">
                                    <div class="row">

                                        <div class="form-group col-lg-8 col-md-8 col-sm-6 col-xs-12 typeclass mt23 mb0">
                                            <div class="inner-addon left-addon">
                                                <label for="ddlhotelcountry" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.Country
                                                </label>
                                                <div id="ddlcountry" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Home.Resource.SearchCountry'>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12 mb0" id="cityclass">
                                            <div class="inner-addon left-addon">
                                                <label for="txthotelcity" class="labelheader">
                                                    @DCPPortalWeb.Localization.Home.Resource.City
                                                </label>
                                                @Html.TextBoxFor(m => m._headersearch.city, new { @id = "txtcity", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Home.Resource.SearchCity })

                                            </div>
                                        </div>

                                        <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-12 displaynone naf mt15">
                                            <button type="button" class="btn draw-borderB fr mr5 show-tooltip" id="btnadvancehotel" title="@DCPPortalWeb.Localization.Home.Resource.Search" onclick="$search.applysearch('H')"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="Ccontainer mt3">
    <div class="row bhoechie-tab-container" id="bhoechie">
        <div id="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-11 col-xs-offset-1 mt3">

            <div class="col-md-12">
                @Html.Partial("_Menuheader", Model._headersearch)
            </div>

            <div class="Ccontainer displaynone">
                <hr />
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 PartialLeftFilter box" id="leftfilter" data-url="/Home/leftfilter">
                        <div class="timeline-wrapper">
                            <div class="timeline-item">
                                <div class="animated-background loaders">
                                    <div class="background-masker content-top"></div>
                                    <div class="background-masker content-first-end"></div>
                                    <div class="background-masker content-second-line"></div>
                                    <div class="background-masker content-second-end"></div>
                                    <div class="background-masker content-third-line"></div>
                                    <div class="background-masker content-third-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 PartialMiddleContent" id="middlecontent" data-url="/Home/middlecontent">
                        <div class="timeline-wrapper col-lg-12">
                            <div class="timeline-item col-lg-6">
                                <div class="animated-background loaders">
                                    <div class="background-masker header-top"></div>
                                    <div class="background-masker header-left"></div>
                                    <div class="background-masker header-right"></div>
                                    <div class="background-masker header-bottom"></div>
                                    <div class="background-masker subheader-left"></div>
                                    <div class="background-masker subheader-right"></div>
                                    <div class="background-masker subheader-bottom"></div>
                                    <div class="background-masker content-top"></div>
                                    <div class="background-masker content-first-end"></div>
                                    <div class="background-masker content-second-line"></div>
                                    <div class="background-masker content-second-end"></div>
                                    <div class="background-masker content-third-line"></div>
                                    <div class="background-masker content-third-end"></div>
                                </div>
                            </div>
                            <div class="timeline-item col-lg-6">
                                <div class="animated-background loaders">
                                    <div class="background-masker header-top"></div>
                                    <div class="background-masker header-left"></div>
                                    <div class="background-masker header-right"></div>
                                    <div class="background-masker header-bottom"></div>
                                    <div class="background-masker subheader-left"></div>
                                    <div class="background-masker subheader-right"></div>
                                    <div class="background-masker subheader-bottom"></div>
                                    <div class="background-masker content-top"></div>
                                    <div class="background-masker content-first-end"></div>
                                    <div class="background-masker content-second-line"></div>
                                    <div class="background-masker content-second-end"></div>
                                    <div class="background-masker content-third-line"></div>
                                    <div class="background-masker content-third-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-5 col-xs-5 sidemapwh displaynone" id="drawmap">

                        <a id="closewindow" class="removemap show-tooltipl" onclick="$bind.showhidemap();" title="@DCPPortalWeb.Localization.Home.Resource.Close"><span class="glyphicon glyphicon-remove"></span></a>

                        <div id="sidemap" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sidemapwh1 p0">
                            &nbsp;
                        </div>

                    </div>
                </div>
                <div class="clear10"></div>
                <div class="clear10"></div>
                <div class="clear10"></div>
                <div class="clear10"></div>
            </div>

        </div>
    </div>
</div>
@section scripts {

    <script>

        $(document).ready(function () {

            setTimeout(function () {

                $Map.autocompleteDestination();

            }, 100);
            if ($('#isFromHistory').val() != null && $('#isFromHistory').val() == "1") {
                // call api and get history and set filters
                //$($c.controls.btnsearch).click();
                $bind.setSearchFromHistory();
            }

        });

    </script>

}
