﻿<div class="row pa10">
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="txthotelcity">
            @DCPPortalWeb.Localization.Login.Resource.OldPassword
        </label>
        @Html.Password("txtoldpass", "", new { @id = "txtoldpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.OldPasswordDesc })
    </div>
    <div class="clear10"></div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 pt10">
        <label for="txthotelcity">
            @DCPPortalWeb.Localization.Login.Resource.NewPassword
        </label>
        @Html.Password("txtnewpass", "", new { @id = "txtnewpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.NewPasswordDesc })
    </div>
    <div class="clear10"></div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 pt10">
        <label for="txthotelcity">
            @DCPPortalWeb.Localization.Login.Resource.ConfirmPassword
        </label>
        @Html.Password("txtconfirmpass", "", new { @id = "txtconfirmpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.ConfirmPasswordDesc })
    </div>
</div>

<hr />
<div class="clear10"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <button type="button" class="btn draw-borderO fr mr5" id="btnClose" data-dismiss="modal" ><i class="glyphicon glyphicon-remove"></i>@DCPPortalWeb.Localization.Home.Resource.Cancel</button>
        <button type="button" class="btn draw-borderB fr mr5" id="btnupdate"><i class="glyphicon glyphicon-floppy-disk"></i>@DCPPortalWeb.Localization.Login.Resource.Update</button>
    </div>
</div>
<div class="clear10"></div>
@Html.Hidden("hdnOldPassMsg", DCPPortalWeb.Localization.Login.Resource.OldPasswordValidation)
@Html.Hidden("hdnConfirmPassMsg", DCPPortalWeb.Localization.Login.Resource.ConfirmPasswordValidation)

@Scripts.Render("~/bundles/InfoJs")