﻿<input type="hidden" value="@DCPPortalWeb.Localization.Login.Resource.ImageFileValidation" id="hdnImgValidation" />
<input type="hidden" value="@DCPPortalWeb.Localization.Login.Resource.ImageSizeValidation" id="hdnImageSizeValidation" />

<div class="clear10"></div>
<div class="row">
    <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6  pt10">
        <label for="txthotelcity">
            @DCPPortalWeb.Localization.Login.Resource.Email
        </label>
        @Html.TextBox("txtEmail", "", new { @id = "txtEmail", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.Email, @readOnly = "true", style = "background-color:transparent" })
    </div>
    <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label for="ddlGender">
            @DCPPortalWeb.Localization.Login.Resource.Gender
        </label>
        <select id="ddlGender">
            <option value="@DCPPortalWeb.Localization.Login.Resource.Male"> @DCPPortalWeb.Localization.Login.Resource.Male</option>
            <option value="@DCPPortalWeb.Localization.Login.Resource.Female">@DCPPortalWeb.Localization.Login.Resource.Female</option>
        </select>
        @*<div id="ddlGender" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Login.Resource.Gender'>
            </div>*@
    </div>
</div>
<div class="clear10"></div>

<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtFirstName">
            @DCPPortalWeb.Localization.Login.Resource.FirstName
        </label>
        @Html.TextBox("txtFirstName", "", new { @id = "txtFirstName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.FirstName })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtLastName">
            @DCPPortalWeb.Localization.Login.Resource.LastName
        </label>
        @Html.TextBox("txtLastName", "", new { @id = "txtLastName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.LastName })
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6  pt10">
        <label for="txtStreet">
            @DCPPortalWeb.Localization.Login.Resource.Street
        </label>
        @Html.TextBox("txtStreet", "", new { @id = "txtStreet", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.StreetDesc })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtPlace">
            @DCPPortalWeb.Localization.Login.Resource.Place
        </label>
        @Html.TextBox("txtPlace", "", new { @id = "txtPlace", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.PlaceDesc })
    </div>
</div>
<div class="clear10"></div>

<div class="row">
    <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtPinCode">
            @DCPPortalWeb.Localization.Login.Resource.PinCode
        </label>
        @Html.TextBox("txtPinCode", "", new { @id = "txtPinCode", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.PinCodeDesc })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="ddlLand">
            @DCPPortalWeb.Localization.Login.Resource.Land
        </label>
        <div id="ddlLand" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Login.Resource.LandDesc'>
        </div>
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtTelephone">
            @DCPPortalWeb.Localization.Login.Resource.Telephone
        </label>
        @Html.TextBox("txtTelephone", "", new { @id = "txtTelephone", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.TelephoneDesc })
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 pt10">
        <label for="txtTaxIdentificationNo">
            @DCPPortalWeb.Localization.Login.Resource.TaxIdentificationNo
        </label>
        @Html.TextBox("txtTaxIdentificationNo", "", new { @id = "txtTaxIdentificationNo", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.TaxIdentificationNoDesc })
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
        <img id="imgPhoto" style="width:100px;height:100px" />
    </div>
</div>
<div class="clear10"></div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <input type="file" id="lnkFileUpload" style="display:none" />
        <input type="button" id="btnFileUpload" class="btn btn-default" value="@DCPPortalWeb.Localization.Login.Resource.Upload" onclick="$('#lnkFileUpload').click()" />
    </div>
</div>


<div class="clear10"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <button type="button" class="btn draw-borderO fr mr5" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>@DCPPortalWeb.Localization.Home.Resource.Cancel</button>
        <button type="button" class="btn draw-borderB fr mr5" id="btnupdate"><i class="glyphicon glyphicon-floppy-disk"></i>@DCPPortalWeb.Localization.Login.Resource.Update</button>
    </div>
</div>
<div class="clear10"></div>
@Html.Hidden("hdnSelectGender", @DCPPortalWeb.Localization.Login.Resource.SelectGender)
@Html.Hidden("hdnMale", @DCPPortalWeb.Localization.Login.Resource.Male)
@Html.Hidden("hdnMale", @DCPPortalWeb.Localization.Login.Resource.Female)
@Html.Hidden("hdnLandDesc", @DCPPortalWeb.Localization.Login.Resource.LandDesc)

@Html.Hidden("hdnOldPassMsg", DCPPortalWeb.Localization.Login.Resource.OldPasswordValidation)
@Html.Hidden("hdnConfirmPassMsg", DCPPortalWeb.Localization.Login.Resource.ConfirmPasswordValidation)

@Scripts.Render("~/bundles/EditProfileJs")


@Scripts.Render("~/bundles/InfoJs")