﻿@{
    ViewBag.Title = "Get Hotel Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Info/Info.css" rel="stylesheet" />
@Scripts.Render("~/bundles/InfoJs")
<input type="hidden" id="infoId" value="@(ViewBag.id.ToString())" />
<div class="panel">
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">

                <div class="col-lg-12">
                    <div id="addtocart">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ac p0">
                        <img class="fl" src="\Images\hotel_circle.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="hotelname ellipsis CONTENTLink">
                            <span id="infoHotelName"></span><br /><span id="infoHotelChain"></span>
                        </div>
                        <div class="ellipsis">
                            <div id="divinfoHotelAddress">
                                @*<span class="glyphicon glyphicon-map-marker"></span>*@
                                <span id="infoHotelAddr" class="show-tooltip"></span>
                            </div>
                            <div id="infoHotelRating" class="info-rating">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 amenities col-lg-offset-2 col-sm-offset-3">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-sm-2 d-none" id="infoHotelGreen">
                        <div class="color-green">
                            <img src="~/Images/green.png" class="show-tooltip"/>
                        </div>
                        @*<p>@DCPPortalWeb.Localization.Home.Resource.Green</p>*@
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-2 col-xs-4 d-none" id="infoHotelReOpen">
                        <div>
                            <img src="~/Images/new.png" class="show-tooltip"/>
                        </div>
                        @*<p class="imageText">@DCPPortalWeb.Localization.Home.Resource.Reopen</p>*@
                    </div>
                    @*<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 d-none" id="infoHotelClosed">
                <div class="amenities-icon"> <i class="glyphicon glyphicon-remove-circle"></i> </div>
                <p>@DCPPortalWeb.Localization.Home.Resource.Closed</p>
            </div>*@
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div id="infoModalBtn">

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0 show-tooltip">@DCPPortalWeb.Localization.Home.Resource.NoofRoom</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoHotelNoOfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0 show-tooltip">@DCPPortalWeb.Localization.Home.Resource.NoofConference</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoHotelNoOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0 show-tooltip">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoHotelSizeOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0 show-tooltip">@DCPPortalWeb.Localization.Home.Resource.ParkingSpaces</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoHotelParkingSpace" class="numeric"></span></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div class='CONTENTLink' id="divAdditionalInfo">@DCPPortalWeb.Localization.Home.Resource.AdditionalInformation</div>
                    <hr id="hrAdditionalInfo" />
                    <p id="infoHotelMiscInfo">
                    </p>
                </div>
                @*<div class="">

            <div id="divinfoHotelsite">
                <span class="glyphicon glyphicon-globe"></span>
                <span id="infoHotelWebsite"><a href="#" target='_blank'>@DCPPortalWeb.Localization.Home.Resource.VisitWebsite</a></span>
            </div>
            <div id="divinfoHotelAirport">
                <span class="glyphicon glyphicon-plane"></span>
                @DCPPortalWeb.Localization.Home.Resource.DistanceFrom <span id="infoHotelAirportName"></span>: <span id="infoHotelAirportHours"></span> @DCPPortalWeb.Localization.Home.Resource.Hours <span id="infoHotelAirportMin"></span> @DCPPortalWeb.Localization.Home.Resource.MIn/<span id="infoHotelAirportDistance"></span> @DCPPortalWeb.Localization.Home.Resource.KM
            </div>
        </div>*@
            </div>

            <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8 p0 mt-35">
                <div id="imageGallery" class="imageGallery"></div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 info-content">
                <div class="info-extra-detail">
                    <div class="col-md-12 uiListRound">
                        <div id="infoHotelType">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $info.GetInfo($('#infoId').val(), 'H');
    });
</script>
