﻿
@{
    ViewBag.Title = "Get Location Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Info/Info.css" rel="stylesheet" />
@Scripts.Render("~/bundles/InfoJs")
<input type="hidden" id="infoId" value="@(ViewBag.id.ToString())" />
<div class="panel">
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">

                <div class="col-lg-12">
                    <div id="addtocart">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ac p0">
                        <img class="fl" src="\Images\location_circle.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="locationname ellipsis show-tooltip CONTENTLink">
                            <span id="infoLocName"></span>
                        </div>
                        <div class="ellipsis show-tooltip">
                            <div id="divinfoLocAddress">
                                <span id="infoLocAddr"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 amenities col-lg-offset-2 col-sm-offset-3">

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-sm-2 d-none" id="infoLocGreen">
                        <div class="color-green">
                            <img src="~/Images/green.png" class="show-tooltip" />
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-2 col-xs-4 d-none" id="infoLocReOpen">
                        <div >
                            <img src="~/Images/new.png" class="show-tooltip" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div id="infoModalBtn">

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.RoomHeight</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoLocRoomHeight" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.NoofConference</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoLocNoOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoLocSizeOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.RentalCost</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoLocRentBegining" class="numeric"></span></div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div id="infoModalBtn">
                        <div class="show-tooltip plr2 modal-buttons col-md-2 d-none" id="infoLocCatering">
                            <div class="amenities-icon">
                                <img src="~/Images/catering-partner.png" class="show-tooltip" />
                            </div>
                        </div>
                        <div class="show-tooltip plr2 modal-buttons col-md-2 d-none" id="infoLocTechnik">
                            <div class="amenities-icon">
                                <img src="~/Images/technical-partner.png" class="show-tooltip" />
                            </div>
                        </div>
                        <div class="show-tooltip plr2 modal-buttons col-md-2 d-none" id="infoLocCarDrive">
                            <div class="amenities-icon">
                                <img src="~/Images/Accessible-For-Cars.png" class="show-tooltip" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8 p0 mt-35">
                <div id="imageGallery" class="imageGallery"></div>
            </div>

        </div>

        <div class="row mtb15">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 info-content">
                <div class='CONTENTLink' id="divLocAdditionalInfo">@DCPPortalWeb.Localization.Home.Resource.AdditionalInformation</div>
                <hr id="hrLocAdditionalInfo" />
                <p id="infoLocMiscInfo">
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 info-content" id="divinfoLocOutdoorPossibility">
                <div class='CONTENTLink col-md-12'>@DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility<hr></div>
                <div class="col-md-12">
                    <p id="infoLocOutdoorDetail">

                    </p>
                </div>
            </div>
        </div>

        <div class="row mtb15">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 info-content">
                <div id="infoLocType" class="uiListRound">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 info-content">
                <div id="infoLocSuitable" class="uiListRound">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $info.GetInfo($('#infoId').val(), 'L');
    });
</script>
