﻿
@{
    ViewBag.Title = "Get Restaurant Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Info/Info.css" rel="stylesheet" />
@Scripts.Render("~/bundles/InfoJs")
<input type="hidden" id="infoId" value="@(ViewBag.id.ToString())" />

<div class="panel">
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">

                <div class="col-lg-12">
                    <div id="addtocart">

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ac p0">
                        <img class="fl" src="\Images\restaurant_circle.png">
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="hotelname ellipsis show-tooltip CONTENTLink">
                            <span id="infoRestName"></span>
                        </div>
                        <div class="ellipsis show-tooltip">
                            <div id="divinfoRestAddress">
                                <span id="infoRestAddr"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 amenities col-lg-offset-2 col-sm-offset-3">

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-sm-2 d-none" id="infoRestGreen">
                        <div class="color-green">
                            <img src="~/Images/green.png" class="show-tooltip" />
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-2 col-xs-4 d-none" id="infoRestReOpen">
                        <div >
                            <img src="~/Images/new.png" class="show-tooltip" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div id="infoModalBtn">

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.CapacityOfRestaurant</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoRestCapacity" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.NoofConference</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoRestNoOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.SizeofLargestroom</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoRestSizeOfConfRoom" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.CapacityOfRoom</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoRestLargeRoomCapacity" class="numeric"></span></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 lh20 pl0">@DCPPortalWeb.Localization.Home.Resource.MinimumTurnover</div>
                        <div class="badge col-lg-3 col-md-3 col-sm-3 col-xs-3"><span id="infoRestMinTurnover" class="numeric"></span></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15">
                    <div class='CONTENTLink' id="divRestAdditionalInfo">@DCPPortalWeb.Localization.Home.Resource.AdditionalInformation</div>
                    <hr id="hrRestAdditionalInfo" />
                    <p id="infoRestMiscInfo">
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mtb15" id="divinfoRestOutdoorPossibility">
                    <div class='CONTENTLink col-md-12'>@DCPPortalWeb.Localization.Home.Resource.OutdoorPossibility</div>
                    <hr id="hrRestAdditionalInfo" />
                    <div class="col-md-12">
                        <p id="infoRestOutdoorDetail">
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-8 col-sm-6 col-xs-12 col-lg-8 p0 mt-35">
                <div id="imageGallery" class="imageGallery"></div>
            </div>

        </div>

        <div class="row mtb15">
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 info-content">
                <div id="infoRestType" class="uiListRound">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 info-content">
                <div id="infoRestSuitable" class="uiListRound">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 info-content">
                <div id="infoRestKitchen" class="uiListRound">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $info.GetInfo($('#infoId').val(), 'R');
    });
</script>
