﻿@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabSettingTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Contents/InfoCss")
@*<link href="~/Content/Info/Info.css" rel="stylesheet" />*@

<input type="hidden" value="@DCPPortalWeb.Localization.Login.Resource.ImageFileValidation" id="hdnImgValidation" />
<input type="hidden" value="@DCPPortalWeb.Localization.Login.Resource.ImageSizeValidation" id="hdnImageSizeValidation" />
<input type="hidden" value="@DCPPortalWeb.Localization.Login.Resource.DeletePhotoConfirmationMsg" id="hdnDeletePhotoConfirmationMsg" />
@Html.Hidden("E721", @DCPPortalWeb.Localization.ManageCode.Resource.E721)
@Html.Hidden("E712", @DCPPortalWeb.Localization.ManageCode.Resource.E712)
@Html.Hidden("E718", @DCPPortalWeb.Localization.ManageCode.Resource.E718)
@Html.Hidden("hdnPasswordValidationMsg", DCPPortalWeb.Localization.Common.Resource.PasswordValidation)
<div class="clear10"></div>
<div class="row mt15">
    <div class="col-xs-12 col-md-12 mt15">
        <div class="pull-left">
            <label class="CONTENTHEADER">&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<b>@DCPPortalWeb.Localization.Home.Resource.Profile</b></label>
        </div>
    </div>
</div>
<div class="clear10"></div>

<div class="Ccontainer mt15p">
    <div class="row bhoechie-tab-container" id="">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="row nav nav-pills nav-bar bottomshadow">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ptpl5 ml10">
                    <h4><span class="glyphicon glyphicon-edit">&nbsp;</span><span id="lblUserName" class="pageTitle"></span></h4>
                </div>
            </div>
            <div class="clear10"></div>

            <div class="row">
                <div class="col-lg-4 col-md-3 col-xs-12 col-sm-6 ptpl5">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 imagediv">
                            <div class="tos-wrapper tos-fx-slide tos-fit tos-opening tos-hover tos-opened">
                                <div class="tos-slider">
                                    <div class="tos-slide">
                                        <img id="imgPhoto" src="~/Images/no-images.png" class="radius10" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row mt15">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                            <input type="file" id="lnkFileUpload" style="display:none" />
                            <button type="button" id="btnFileUpload" class="btn draw-borderB" value="@DCPPortalWeb.Localization.Login.Resource.Upload" onclick="$('#lnkFileUpload').click()"> <i class="glyphicon glyphicon-saved"></i>&nbsp;@DCPPortalWeb.Localization.Login.Resource.Upload</button>
                            <button type="button" id="btnDeletePhoto" class="btn draw-borderO" value="@DCPPortalWeb.Localization.Login.Resource.DeletePhoto"> <i class="glyphicon glyphicon-trash"></i>&nbsp;@DCPPortalWeb.Localization.Login.Resource.DeletePhoto</button>


                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9 col-xs-12 col-sm-6 ptpl5">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <span class="bluefont">
                                @DCPPortalWeb.Localization.Login.Resource.AccountSetting
                            </span>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row mt15">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.OldPassword
                                </label>
                                @Html.Password("txtoldpass", "", new { @id = "txtoldpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.OldPasswordDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 mt20 p0">
                            <img src="~/Images/password.png" class="hw_2228" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.NewPassword 
                                </label>
                                @Html.Password("txtnewpass", "", new { @id = "txtnewpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.NewPasswordDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 mt20 p0">
                            <img src="~/Images/password.png" class="hw_2228" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.ConfirmPassword
                                </label>
                                @Html.Password("txtconfirmpass", "", new { @id = "txtconfirmpass", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.ConfirmPasswordDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 mt20 p0">
                            <img src="~/Images/password.png" class="hw_2228" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <button type="button" class="btn draw-borderB fr mr5 show-tooltip" id="btnUpdateChangePwd"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;@DCPPortalWeb.Localization.Login.Resource.Update</button>
                            <button type="button" class="btn draw-borderO fr mr5 show-tooltip btnCloseProfile" id="btnClose" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;@DCPPortalWeb.Localization.Home.Resource.Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clear10"></div>

        <hr />

        <div class="clear10"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 ptpl5 col-lg-offset-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <span class="bluefont">
                                @DCPPortalWeb.Localization.Login.Resource.ProfileSetting
                            </span>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row mt15">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Email
                                </label>
                                @Html.TextBox("txtEmail", "", new { @id = "txtEmail", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.Email, @readOnly = "true", style = "background-color:transparent" })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/email.png" class="hw_3232" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 mt20">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Gender
                                </label>
                                <select id="ddlGender" class="add-form-elements">
                                    <option value="male"> @DCPPortalWeb.Localization.Login.Resource.Male</option>
                                    <option value="female">@DCPPortalWeb.Localization.Login.Resource.Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0 mt13">
                            <img src="~/Images/gender.png" class="hw_2427" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.FirstName
                                </label>
                                @Html.TextBox("txtFirstName", "", new { @id = "txtFirstName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.FirstName })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/name.png" class="hw_2427" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.LastName
                                </label>
                                @Html.TextBox("txtLastName", "", new { @id = "txtLastName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.LastName })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/name.png" class="hw_2424" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Street
                                </label>
                                @Html.TextBox("txtStreet", "", new { @id = "txtStreet", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.StreetDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/street.png" class="hw_2828" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Place
                                </label>
                                @Html.TextBox("txtPlace", "", new { @id = "txtPlace", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.PlaceDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/place.png" class="hw_2628" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.PinCode
                                </label>
                                @Html.TextBox("txtPinCode", "", new { @id = "txtPinCode", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.PinCodeDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/pincode.png" class="hw_3018" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 mt20">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Land
                                </label>
                                <div id="ddlLand" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Login.Resource.LandDesc'>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/land.png" class="hw_2426" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.Telephone
                                </label>
                                @Html.TextBox("txtTelephone", "", new { @id = "txtTelephone", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.TelephoneDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/phone.png" class="hw_2429" />
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                            <div class="inner-addon left-addon">
                                <label class="labelheader">
                                    @DCPPortalWeb.Localization.Login.Resource.TaxIdentificationNo
                                </label>
                                @Html.TextBox("txtTaxIdentificationNo", "", new { @id = "txtTaxIdentificationNo", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.Login.Resource.TaxIdentificationNoDesc })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 mt20 p0">
                            <img src="~/Images/taxid_no.png" class="hw_2624" />
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row mb15">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                            <button type="button" class="btn draw-borderB fr mr5" id="btnupdate"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;@DCPPortalWeb.Localization.Login.Resource.Update</button>
                            <button type="button" class="btn draw-borderO fr mr5 btnCloseProfile" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;@DCPPortalWeb.Localization.Home.Resource.Cancel</button>

                        </div>
                    </div>
                    <div class="clear10"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdnSelectGender", @DCPPortalWeb.Localization.Login.Resource.SelectGender)
@Html.Hidden("hdnMale", @DCPPortalWeb.Localization.Login.Resource.Male)
@Html.Hidden("hdnMale", @DCPPortalWeb.Localization.Login.Resource.Female)
@Html.Hidden("hdnLandDesc", @DCPPortalWeb.Localization.Login.Resource.LandDesc)
@Html.Hidden("hdnUploadPhotoSuccessMsg", DCPPortalWeb.Localization.Login.Resource.UploadPhotoSuccessMsg)


@Html.Hidden("hdnOldPassMsg", DCPPortalWeb.Localization.Login.Resource.OldPasswordValidation)
@Html.Hidden("hdnConfirmPassMsg", DCPPortalWeb.Localization.Login.Resource.ConfirmPasswordValidation)


@Scripts.Render("~/bundles/EditProfileJs")
