﻿body {
    background-image: url(../../Images/img_banner_rfp.png);
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.panel-default > .panel-heading-custom {
    background: #FF4619;
    color: #FFFFFF;
}


.panel-default-custom {
    border-color: #FF4619 !important;
}

.rfp-label {
    top: 0px !important;
    font-size: 14px !important;
}

.rfp-rp-label {
    font-size: 14px !important;
}

.rfp-left-overlapping-75px {
    margin-left: -75px !important;
}

.rfp-left-overlapping-25px {
    margin-left: -25px !important;
}

.rfp-left-overlapping-20px {
    margin-left: -20px !important;
}

.rfp-right-overlapping-25px {
    margin-right: -25px !important;
}

.rfp-right-overlapping-20px {
    margin-right: -20px !important;
}

.rfp-right-overlapping-50px {
    margin-right: -50px !important;
}

.rfp-textarea {
    height: 100px !important;
    padding: 3px !important;
    border-radius: 10px;
    border: solid 1px rgb(111, 111, 111) !important;
    background-color: #ffffff;
}

.rfp-addroom {
    margin: 10px !important;
}


.rfp-addresource .search-result {
    margin-left: 0px;
    margin-right: 0px;
    min-height: 90px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 32px;
    background-color: #f4f3ef;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
}
.rfpAddResources {
    max-height: 350px;
    overflow-y: auto;
    padding-top: 10px;
}
.pos-relative {
    position: relative;
    
}
.pos-relative .card-5{
    min-height: 220px;
}

.rfpRemove, .rfpAdd {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgb(255, 211, 8);
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 15000;
}
.rfpAdd {
    right: 15px !important;
    font-size: 20px;
}

.rfp-addroom-text {
    padding: 0px !important;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

    .panel-heading div span {
        margin-left: 5px;
    }



.panel-heading a:after {
    content: none !important;
}

.notification .badge {
    position: absolute;
    top: -15px;
    text-align: center;
    font-size: 20px;
    min-width: 35px;
    min-height: 30px !important;
    z-index: 99;
    background-color: #ffd308 !important;
    font-size: 15px;
    right: -15px;
    padding: 10px 10px 8px 12px;
    border-radius: 25%;
    /* background: RGB(111,111,111) !important; */
    color: white;
}

.notification .badgeC {
    position: absolute;
    top: 25%;
    z-index: 99;
    left: -20px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    padding: 0px 0px;
    border-radius: 5%;
    background-color: #ff4619;
    color: white;
}

.padl0 {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.hf205 {
    height: 225px !important;
    width: 100%;
    overflow-y: scroll !important;
}



.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -30px;
    top: 10px;
    border-top: 30px solid transparent;
    border-right: 30px solid #ff4619;
    border-left: none;
    border-bottom: 30px solid transparent;
}

/*.panel-footer {
    background: none ;
    border-top: none ;
}*/

/*.mt-15 {
    margin-top: 15px !important;
}*/

.vat {
    vertical-align: top !important;
}

.rfp-addconferenceroom {
    margin-top: 10px;
}

    .rfp-addconferenceroom .collapse.in {
        padding: 0px !important;
    }

    .rfp-addconferenceroom .panel-heading a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        transition: all 0.5s;
    }

    .rfp-addconferenceroom .panel-heading.active a:after {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .rfp-addconferenceroom .panel-heading .panel-title {
        font-weight: bold;
    }

.checkbox-pad-note {
    margin-left: 10px !important;
}

.lblcheckbox-pad-note {
    padding-left: 0px !important;
    font-weight: bold;
}

#divRoomEquipment .form-group {
    margin-bottom: 25px !important;
}

#divRoomEquipment .checkmark {
    top: unset !important;
    left: unset !important;
    right: 1%;
}

#divConferenceFoods .checkbox-inline {
    color: #6b6868 !important;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}

.euroSign {
    font-size: 10px;
    padding: 3px !important;
    padding-right: 6px !important;
}

.euroSign-space {
    font-size: 10px;
    padding-left: 1px;
}

table {
    border-spacing: 0;
    width: 100%;
    /*border: 1px solid #ddd;*/
}

th.sortable {
    position: relative;
    cursor: pointer;
}

    th.sortable::before {
        font-family: 'Glyphicons Halflings';
        content: "\e119";
        position: relative;
        /*right: 3px;*/
        color: #999;
    }

    th.sortable.asc::before {
        content: "\e093";
        color: rgb(250, 206, 3) !important
    }

    th.sortable.desc::before {
        content: "\e094";
        color: rgb(255, 211, 8) !important;
    }

    th.sortable:hover::before {
        color: #444 !important;
    }
/* enable absolute positioning */


.hide {
    display: none !important;
}

th {
    cursor: pointer;
}


.hide {
    display: none;
}

.tab-content {
    padding: 25px;
}

#material-tabs {
    position: relative;
    display: block;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}

    #material-tabs > a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #424f5a;
        text-align: center;
        width: 250px;
    }

        #material-tabs > a.active {
            font-weight: 700;
            outline: none;
        }

        #material-tabs > a:not(.active):hover {
            background-color: inherit;
            color: #7c848a;
        }

@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs > li > a {
        font-size: 11px;
    }
}

.yellow-bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3px;
    background: #FF4619;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

#Accotab-tab.active ~ span.yellow-bar {
    left: 0px;
    width: 250px;
}

#Conftab-tab.active ~ span.yellow-bar {
    left: 250px;
    width: 250px;
}

#Grptab-tab.active ~ span.yellow-bar {
    left: 500px;
    width: 250px;
}



.panelred {
    background-color: #FF4619 !important;
    color: white !important;
}

.displaycontents {
    display: contents;
}

/*.tos-inline {
    width: 85px !important;
    height: 85px !important;
}*/

.fixfooter {
    height: 290px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.table > thead > tr > th {
    border-bottom: 1px solid #ddd !important;
    color: black !important;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.0px;
    text-align: left;
}

.bootstrap-timepicker-widget {
    width: 15% !important;
}

.timepickerspan {
    border: none !important;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0 !important;
    cursor: text;
    padding-top: 4px;
}

.input-group-addon {
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important
}

/*.select2-container .select2-choice {
    border: none !important;
    border-bottom: solid 1px #e0e0e0 !important;
    height: 33px !important;
}*/


.blurdiv {
    padding: 20px !important;
    background: #233b557d !important;
    border-radius: 10px 10px 10px 10px;
}

.z-indexmax {
    z-index: 99999999;
    opacity: 1;
}

.list-group-item {
    border-radius: 10px 10px 0px 0px !important;
    padding: 5px 15px !important;
}

    .list-group-item.active {
        border: 1px solid #ffd200 !important;
        background-color: white !important;
        border-bottom: 0px !important;
        color: black;
        opacity: 1.0 !important;
        border-radius: 10px 10px 0px 0px !important;
        box-shadow: none !important;
    }

    .list-group-item:hover {
        border: 1px solid #ffd200 !important;
        background-color: white !important;
        border-bottom: 0px !important;
        box-shadow: none !important;
        color: black;
        opacity: 1.0 !important;
    }

.rfpbox {
    border-radius: 10px !important;
    box-shadow: 0 0 9.5px 0.5px rgba(176, 190, 193, 0.53);
    background-color: #ffffff;
}

#divRFPInfo .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.pointernone .Rounded-Rectangle {
    border-color: transparent !important;
}

.Rounded-Rectangle {
    padding: 6px 6px;
    text-align: left;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 9.5px 0.5px rgba(176, 190, 193, 0.53);
    background-color: #ffffff;
    border-color: #ffd308;
}

.badgeN {
    border-radius: 10px !important;
    box-shadow: 3px -0.1px 7.4px 0.6px rgba(176, 190, 193, 0.63) !important;
    background-color: #ffffff !important;
    color: black !important;
    min-height: 25px !important;
    padding: 3px 7px;
    padding-top: 7px !important;
    display: inline-block;
    min-width: 35px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}


.labelbox {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -5px !important;
}

#divMyRFPInfo .panel-footer {
    background-color: #f4f3ef !important;
    border-top: none;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#divMyRFPInfo .panel-heading {
    background-color: #f4f3ef !important;
    border-top: none;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.redirectlink {
    font-size: 30px !important;
    top: 5px !important;
    color: #979797;
    margin-top: -11px !important;
    margin-right: -18px !important;
    right: 0px !important;
    cursor: pointer;
}

@media (max-width: 375px) {

    #divMyRFPInfo .fl, #divMyRFPInfo .fr, #divMyRFPInfo .pull-right {
        float: left !important;
        margin-top:10px !important;
    }
}
