﻿body {
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.mt15p {
    margin-top: 15%
}

#RFPDiv .panel-heading a:after {
    color: #ffd827 !important;
    font-size: medium;
}

#material-tabs .active {
    border: 1px solid #ffd308 !important;
}

.largemenu {
    text-align: center !important;
}

.Contingents {
    box-shadow: 0 0 9.5px 0.5px rgba(176, 190, 193, 0.53);
    min-height: 50px;
}

.minw50 {
    min-width: 50px;
}

.panel-default {
    border-color: #f4f3ef !important;
}

.mt-8 {
    margin-top: -8px;
}

.panel-footer {
    background-color: white !important;
}

.badgeY {
    background-color: #ffd200 !important;
}

.infoplace {
    display: inline-block;
}
.failStatusColor {
    color: #f78638;
}

.StatusLabel {
    color: #ffd200 ;
}

.add-more-to-cart {
    padding: 3px 6px 3px 7px;
    line-height: 18px;
    float: right;
}