﻿body {
    font-family: Helvetica !important;
    overflow-x:hidden !important;
}

.Error {
    /*border: none !important;*/
    border: 1px solid red !important;
}

.BGO {
    color: rgb(111, 111, 111) !important;
}

.BGW {
    color: white !important;
}

.RenderUser {
    color: #eee;
    padding-top: 8px;
    padding-left: 2%;
}

.Rendercopyright {
    color: #eee;
    padding-top: 8px;
    padding-left: 8px;
    text-align: center;
}

.Renderlang {
    float: left !important;
}

.d-none {
    display: none;
}

.lmask {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    opacity: 0.4;
}

    .lmask.fixed {
        position: fixed;
    }

    /*.lmask:before {
        content: "";
        background-color: rgba(0, 0, 0, 0);
        border: 5px solid rgb(111, 111, 111);
        opacity: 0.9;
        border-right: 5px solid rgba(0, 0, 0, 0);
        border-left: 5px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
        box-shadow: 0 0 35px rgb(255, 211, 8);
        width: 50px;
        height: 50px;
        -moz-animation: spinPulse 1s infinite ease-in-out;
        -webkit-animation: spinPulse 1s infinite linear;
        margin: -25px 0 0 -25px;
        position: absolute;
        top: 50%;
        left: 50%;
    }*/

    .lmask:after {
        content: "";
        background-color: rgba(0, 0, 0, 0);
        border: 5px solid #fdfdfd;
        /* opacity: 0.9; */
        border-left: 5px solid rgba(177, 102, 102, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
        box-shadow: 0 0 15px rgb(253, 253, 253);
        width: 60px;
        height: 60px;
        -moz-animation: spinoffPulse 1s infinite linear;
        -webkit-animation: spinoffPulse 1s infinite linear;
        margin: -15px 0 0 -15px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px rgb(255, 211, 8);
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px rgb(255, 211, 8);
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}


/* The container */
.chkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.can-togglesmall .chkcontainer {
    display: flow-root !important;
    position: inherit;
    left: 0px;
    bottom: 70px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    /* Hide the browser's default checkbox */
    .chkcontainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #ffd200;
}

/* On mouse-over, add a grey background color */
.chkcontainer:hover input ~ .checkmark {
    background-color: #444;
}

/* When the checkbox is checked, add a blue background */
.chkcontainer input:checked ~ .checkmark {
    background-color: #ffd200;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chkcontainer .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5e6062;
}

.scrolls::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrolls::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrolls::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5e6062;
}

.min440 {
    min-height: 440px !important;
}

.CONTENTHEADER {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 20px;
}

.BCONTENTHEADER {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #767676;
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px !important;
}

.mt23 {
    margin-top: 23px !important;
}

.mt-45 {
    top: -45px !important;
}

.mt2 {
    margin-top: 3px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 8px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    right: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


.panelgrey {
    background-color: #f4f3ef !important;
    color: black !important;
    box-shadow: 0 0 9.5px 0.5px rgba(176, 190, 193, 0.53);
    border: none;
}

.pt20 {
    padding-top: 20px;
}

.disablelayout {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

/*CheckBox*/

.can-toggle {
    position: relative;
}

    .can-toggle *, .can-toggle *:before, .can-toggle *:after {
        box-sizing: border-box;
    }

    .can-toggle input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

        .can-toggle input[type="checkbox"][disabled] ~ label {
            pointer-events: none;
        }

            .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
                opacity: 0.4;
            }

        .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
            content: attr(data-unchecked);
            left: 0;
        }

        .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
            content: attr(data-checked);
        }

    .can-toggle label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: -webkit-box;
        display: inline-flex;
        /* -webkit-box-align: unset; */
        right: 75px;
        top: 0px;
        /* align-items: center;*/
    }

    .can-togglesmall label {
        right: 65px;
    }



        .can-toggle label .can-toggle__label-text {
            -webkit-box-flex: 1;
            flex: 1;
            padding-left: 32px;
        }

        .can-toggle label .can-toggle__switch {
            position: relative;
            cursor: pointer;
        }

            .can-toggle label .can-toggle__switch:before {
                content: attr(data-checked);
                position: absolute;
                top: 0;
                text-transform: uppercase;
                text-align: center;
            }

            .can-toggle label .can-toggle__switch:after {
                content: attr(data-unchecked);
                position: absolute;
                z-index: 5;
                text-transform: uppercase;
                text-align: center;
                background: white;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

    .can-toggle input[type="checkbox"][disabled] ~ label {
        color: rgba(119, 119, 119, 0.5);
    }

    .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
        background-color: #777;
    }

        .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
            color: #5e5e5e;
        }

    .can-toggle input[type="checkbox"]:hover ~ label {
        color: #6a6a6a;
    }

    .can-toggle input[type="checkbox"]:checked ~ label:hover {
        color: #55bc49;
    }

    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
        background-color: #ffd308;
    }

        .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
            color: #4fb743;
        }

    .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
        background-color: #5fc054;
    }

        .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
            color: #47a43d;
        }

    .can-toggle label .can-toggle__label-text {
        -webkit-box-flex: 1;
        flex: 1;
    }

    .can-toggle label .can-toggle__switch {
        -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
        transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
        background: #848484;
    }

        .can-toggle label .can-toggle__switch:before {
            color: rgba(255, 255, 255, 0.5);
        }

        .can-toggle label .can-toggle__switch:after {
            -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
            transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
            transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
            transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
            color: #777;
        }



    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
        -webkit-transform: translate3d(65px, 0, 0);
        transform: translate3d(65px, 0, 0);
    }

    .can-toggle label .can-toggle__switch {
        height: 36px;
        -webkit-box-flex: 0;
        flex: 0 0 134px;
        border-radius: 4px;
    }

        .can-toggle label .can-toggle__switch:before {
            left: 67px;
            font-size: 12px;
            line-height: 36px;
            width: 67px;
            padding: 0 12px;
        }

        .can-toggle label .can-toggle__switch:after {
            top: 2px;
            left: 2px;
            border-radius: 2px;
            width: 65px;
            line-height: 32px;
            font-size: 12px;
        }



    .can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
        color: rgba(68, 68, 68, 0.5);
    }

    .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
        background-color: #444;
    }

        .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
            color: #2b2b2b;
        }

    .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
        color: #373737;
    }

    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
        color: #62b125;
    }

    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
        background-color: #ffd308;
    }

        .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
            color: black;
        }

    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
        background-color: #ffd308;
    }

        .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
            color: black;
        }

    .can-toggle.demo-rebrand-2 label .can-toggle__label-text {
        -webkit-box-flex: 1;
        flex: 1;
    }

    .can-toggle.demo-rebrand-2 label .can-toggle__switch {
        -webkit-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
        transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
        background: #444;
    }

        .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
            color: rgba(255, 255, 255, 0.7);
        }

        .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
            -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
            color: #444;
        }



    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
        /*-webkit-transform: translate3d(58px, 0, 0);
        transform: translate3d(58px, 0, 0);*/
        -webkit-transform: translate3d(35px, 0, 0);
        /*transform: translate3d(51px, 0, 0);*/
        transform: translate3d(35px, 0, 0);
    }

.can-togglesmall.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    -webkit-transform: translate3d(32px, 0, 0) !important;
    transform: translate3d(32px, 0, 0) !important;
}

    .can-toggle.demo-rebrand-2 label .can-toggle__switch {
        /*height: 36px;
        -webkit-box-flex: 0;
        flex: 0 0 100px;
        border-radius: 10px;*/
        height: 30px;
        -webkit-box-flex: 0;
        flex: 0 0 75px;
        border-radius: 10px;
    }

.can-togglesmall.demo-rebrand-2 label .can-toggle__switch {
    height: 25px !important;
    flex: 0 0 65px !important;
}

        .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
            /*left: 60px;
            font-size: 13px;
            line-height: 35px;
            width: 35px;
            padding: 0 10px;*/
            left: 40px;
            font-size: 11px;
            line-height: 30px;
            width: 35px;
            padding: 0 10px;
        }

.can-togglesmall.demo-rebrand-2 label .can-toggle__switch:before {
    font-size: 10px !important;
    line-height: 25px !important;
    width: 25px !important;
    padding: 0 5px !important;
}

        .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
            /*top: 2px;
            left: 2px;
            border-radius: 10px;
            width: 45px;
            line-height: 32px;
            font-size: 13px;*/
            top: 2px;
            left: 2px;
            border: 2px;
            border-radius: 10px;
            width: 36px;
            line-height: 26px;
            font-size: 11px;
        }

.can-togglesmall.demo-rebrand-2 label .can-toggle__switch:after {
    top: 1px;
    left: 1px;
    border: 2px;
    border-radius: 10px;
    width: 31px;
    line-height: 23px;
    font-size: 10px;
}

/*.can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
            }*/


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent !important;
}

.bootstrap-dialog-message, .bootstrap-dialog-title {
    font-size: 20px !important;
}

.bootoast.alert {
    padding: 30px 20px !important;
    box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.33);
    /*background-color: #777;
    color: white;*/
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.bootoast.alert-success {
    border: 5px solid rgb(255, 211, 8);
}
.bootoast.alert-danger {
    border: 5px solid #FF0000;
}
.bootoast.alert .close {
    opacity: 1 !important;
    top: -25px !important;
    right: -12px !important;
}

    .gly-spin {
        -webkit-animation: spin 2s infinite linear;
        -moz-animation: spin 2s infinite linear;
        -o-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
    }

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
