﻿label {
    font-size: .8125em; /* 13/16 */
    position: absolute;
    top: -15px;
    opacity: 1;
}

input, textarea {
    padding: 2.25em 1em 1em;
    outline: 0;
}

textarea {
    height: 16em;
    resize: none;
}

.js-hide-label label {
    opacity: 0;
    top: 1.5em
}

.js-unhighlight-label label {
    color: rgb(255, 211, 8)
}

.js-error {
    border-color: #f13b3b !important; /* override all cases */
}

    .js-error + li {
        border-top-color: #f13b3b;
    }

    .js-error label {
        color: #f13b3b;
    }

.form-control:not(.numericfield) {
    border: none;
    border-bottom: solid 1px #e0e0e0;
}

.select2-container .select2-choice {
    border: none !important;
    border-bottom: solid 1px #e0e0e0 !important;
    height: 33px !important;
}

    .select2-container .select2-choice .select2-arrow {
        display: inline-block;
        width: 18px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: none !important;
        background: none !important;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
        background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
        background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
        background-image: none !important;
    }


.menu .accordion-heading {
    position: relative;
    margin-bottom: 25px;
}

    .menu .accordion-heading .edit {
        position: absolute;
        top: 8px;
        right: 30px;
    }

.menu .area {
    border-left: 4px solid rgb(255, 211, 8);
}

.menu .collapse.in {
    overflow: visible;
}


.fl-group__btn--stars-active {
    border-color: #e0e0e0 !important;
}

.fl-group__btn {
    border: 1px solid #697379;
    border-radius: 2px;
    float: left;
    height: 36px;
    margin-left: 9px;
    width: 36px;
    padding: 0px;
    background-color: transparent;
}

.fl-btnlg {
    height: 45px !important;
    width: 45px !important;
}

.fl-group__btn-icn {
    height: 34px;
    width: 34px;
}

.icon-center {
    background-position: 50%;
    text-align: center;
}

.icon-ic {
    background-repeat: no-repeat;
    background-position: 50%;
    line-height: 2;
    display: inline-block;
    text-indent: 0;
}

.icon-center > svg {
    vertical-align: middle;
}

.fl-group__btn--stars-active .svg-color--primary {
    fill: #f6ab3f;
}

.fl-group__btn--stars-active .svg-color--secondary {
    fill: #f9c77f;
}

#exTab .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    text-decoration: none !important;
}

#exTab .tab-content {
    color: black;
    /*border: solid 1px rgb(255, 211, 8) !important;*/
    padding: 0px 0px;
    /*min-height: 500px;*/
}

.bottomshadow {
    box-shadow: 0px 0px 12px -4px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0) !important;
}

#MexTab .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    text-decoration: none !important;
}

#MexTab .tab-content {
    color: black;
    /*border-top: solid 1px rgb(255, 211, 8) !important;*/
    padding: 10px 10px;
    min-height: 500px;
}

#MexTab .nav-pills > li.active > a, #MexTab .nav-pills > li.active > a:hover, #MexTab .nav-pills > li.active > a:focus {
    color: rgb(255, 211, 8);
    background-color: transparent;
}

.badge {
    border-radius: 10px !important;
    box-shadow: 3px -0.1px 7.4px 0.6px rgba(176, 190, 193, 0.63) !important;
    background-color: #ffffff !important;
    color: black !important;
    min-height: 25px !important;
    padding-top: 7px !important;
}

.card {
    background: #fff;
    display: inline-block;
    margin-bottom: 15px;
}

.h75 {
    min-height: 75px !important;
}
.card-info-height {
    min-height: 120px !important;
}

.card-5 {
    min-height: 150px;
    max-height: 470px;
    max-width: 100%;
    border-radius: 10px !important;
    box-shadow: 0 0 9.5px 0.5px rgba(176, 190, 193, 0.53) !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    /*min-height: 150px !important;
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.22), 10px 5px 12px rgba(160, 147, 147, 0.22);
    border-radius: 10px !important;
    border: solid 1px #ffd200 !important;
    background-color: #ffffff !important;*/
}

#sidemap .card-5 {
    min-height: 150px;
}
#sidemap .card-info-height {
    min-height: 90px !important;
}

.removemap {
    position: absolute;
    width: 40px;
    padding-top: 6px;
    padding-left: 8px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    top: 10%;
    cursor: pointer;
    left: 15px !important;
    font-size: x-large;
    background-color: white;
    z-index: 999 !important;
}

.addtocart {
    position: absolute;
    right: 10px;
    z-index: 999;
    top: -7px;
}

.smalladdtocart {
    /*right: 3px !important;
    top: 3px !important;*/
}

.mapaddtocart {
    position: absolute;
    right: 25px;
    z-index: 999;
    top: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: unset;
    z-index: 1000;
    display: none;
    min-width: 300px !important;
    padding: 5px 0;
    margin: 2px 10px 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.icon-ic > svg {
    pointer-events: none;
}

.icon-center > svg {
    vertical-align: middle;
}

.icon-ic > svg {
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    outline-width: 0;
}

.loading {
    min-width: 147px;
    min-height: 103px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.largeimage .loading {
    width: 225px;
    height: 125px;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lh20 {
    line-height: 20px !important;
}

.deleteresource {
    position: absolute;
    right: 45px;
    font-size: 25px;
    z-index: 999;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    margin-left: 17% !important;
    height: 18px;
    margin-top: 24%;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

    .loading-bar:nth-child(1) {
        background-color: #3498db;
        animation-delay: 0;
        margin-left: 0px !important;
    }

    .loading-bar:nth-child(2) {
        background-color: #c0392b;
        animation-delay: 0.09s;
    }

    .loading-bar:nth-child(3) {
        background-color: #f1c40f;
        animation-delay: .18s;
    }

    .loading-bar:nth-child(4) {
        background-color: #27ae60;
        animation-delay: .27s;
    }

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}


.Mloader {
    height: 3px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    position: fixed;
    opacity: 1;
    top: 0px;
    z-index: 99999999999;
}

    .Mloader:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 3px;
        background-color: rgb(255, 211, 8);
        animation: loadings 2s linear infinite;
    }

.box1 {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards
}

@keyframes loadings {
    from {
        left: -200px;
        width: 50%;
    }

    50% {
        width: 70%;
    }

    70% {
        width: 90%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 70%;
    }

    to {
        left: 100%;
    }
}



/*POPUP*/
#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1000;
}

    #modal-container.one {
        transform: scaleY(0.01) scaleX(0);
        animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

        #modal-container.one .modal-background .modal {
            transform: scale(0);
            animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }

        #modal-container.one.out {
            transform: scale(1);
            animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }

            #modal-container.one.out .modal-background .modal {
                animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }

    #modal-container .modal-background {
        display: table-cell;
        background: rgba(0, 0, 0, 0.8);
        padding-left: 0% !important;
        padding-top: 5% !important;
        /*vertical-align: middle;*/
    }

        #modal-container .modal-background .modal {
            background: white;
            padding: 0px;
            display: inline-block;
            border-radius: 10px;
            position: relative;
        }


.modal {
    overflow-y: auto !important;
}

.dialog-primary {
    background-color: rgb(255, 211, 8);
    color: white;
}

#infomodal {
    z-index: 9999 !important;
}

#modal-container {
    z-index: 99999 !important;
}

/*#infoplace {
    height: 530px;
    overflow-x: hidden;
    overflow-y: scroll !important;
}*/

#modal-container .modal-dialog, #infomodal .modal-dialog {
    right: 12% !important;
    left: 11% !important;
    width: 1500px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#modal-container .modal-dialog {
    right: 5% !important;
    left: 5% !important;
    width: 90% !important;
}

#infomodal .modal-dialog {
    right: 5% !important;
    left: 1% !important;
    width: 90% !important;
}

#reviewmodal .modal-dialog {
    right: 5% !important;
    left: 5% !important;
    width: 50% !important;
}

#mytripmodal .modal-dialog {
    width: 20% !important;
    left: 5% !important;
    top: 10% !important;
}


/*.sidemapwh {
    width: 39% !important;
}*/

.sidemapwh1 {
    width: 1300px;
    height: 100%;
}

#drawmap {
    bottom: 4% !important;
    top: 2% !important;
    z-index: 9999 !important;
}

.shortellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 190px !important;
}

.largeellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 205px !important;
}
.ellipsis-2-line {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}



@media screen and (max-width: 2500px) {
    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px !important;
    }
}

@media screen and (max-width: 1500px) {

    /*.modal-dialog {
        right: 12% !important;
        left: 12% !important;
        width: 1000px !important;
    }*/

    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 550px;
    }

    .ribbon-top-left {
        top: -8px;
        left: 3% !important;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px !important;
    }

    /*.sidemapwh {
        width: 39% !important;
    }*/

    #copyurl {
        top: 23% !important;
    }

    #savefilter {
        top: 29% !important;
    }

    #MyTripList {
        top: 35% !important;
    }

    #sharefilter {
        top: 35% !important;
    }
}

@media screen and (max-width: 1200px) {
    /*.modal-dialog {
        right: 10% !important;
        left: 10% !important;
        width: 900px !important;
    }*/

    /*.funkyradio label {
        width: 100% !important;
    }*/

    .wizard li.active:after {
        left: 40% !important;
    }

    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 550px;
    }

    .ribbon-top-left {
        top: -8px;
        left: 10% !important;
    }

    /*.sidemapwh {
        width: 95% !important;
    }*/

    /*.sidemapwh {
        width: 39% !important;
    }*/

    #savefilter {
        top: 37% !important;
    }

    #MyTripList {
        top: 35% !important;
    }


    #sharefilter {
        top: 44% !important;
    }
}

@media screen and (max-width: 1100px) {
    /*.modal-dialog {
        right: 8% !important;
        left: 7% !important;
        width: 800px !important;
    }*/

    #sidemap {
        width: 100% !important;
    }

    .bluefont {
        font-size: 12px;
    }

    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 550px;
    }

    /*.sidemapwh {
        width: 68% !important;
    }*/

    #copyurl {
        top: 20% !important;
    }

    #savefilter {
        top: 25% !important;
    }

    #MyTripList {
        top: 30% !important;
    }

    #sharefilter {
        top: 30% !important;
    }

    .sidepanel .button {
        margin-right: 8px !important;
    }

    .ellipsis {
        max-width: 125px !important;
    }

    .cardellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 160px !important;
    }
}

@media screen and (max-width: 900px) {
    /*.modal-dialog {
        right: 8% !important;
        left: 12% !important;
        width: 600px !important;
    }*/

    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 770px;
    }

    /*.sidemapwh {
        width: 95% !important;
    }*/

    .ellipsis {
        max-width: 150px !important;
    }
}

@media screen and (max-width: 760px) {
    /*.modal-dialog {
        right: 8% !important;
        left: 7% !important;
        width: 400px !important;
    }*/
    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 550px;
    }

    .sidemapwh {
        width: 95% !important;
    }
}

@media screen and (max-width: 500px) {

    #modal-container .modal-background {
        padding-top: 1% !important;
    }

    #divGeneral {
        overflow: scroll;
        height: 550px;
    }

    .sidemapwh {
        width: 90% !important;
    }

    .pl30 {
        padding-left: 30% !important;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 160px !important;
    }

    #copyurl {
        top: 74% !important;
    }

    #savefilter {
        top: 80% !important;
    }

    #MyTripList {
        top: 86% !important;
    }

    #sharefilter {
        top: 86% !important;
    }

    .sidepanel .button {
        margin-right: 8px !important;
    }
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }
}


/*Slow div*/

.box {
    animation: slide-up 1s ease-in;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    25% {
        opacity: 0.25;
        transform: translateY(0px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(0px);
    }

    75% {
        opacity: 0.75;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Slide panel*/

.ui-slideouttab-panel {
    border: 1px solid rgb(255, 211, 8);
}

.ui-slideouttab-handle, .ui-slideouttab-panel {
    background-color: white;
    padding: 0.4em;
    box-sizing: border-box;
}

.ui-slideouttab-handle {
    cursor: pointer;
    color: white;
    background-color: rgb(255, 211, 8);
}

.ui-slideouttab-handle-image {
    transform: rotate(0);
}

.ui-slideouttab-right .ui-slideouttab-handle {
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translate(-100%,-100%);
}

.ui-slideouttab-right .ui-slideouttab-handle-reverse {
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
}

.ui-slideouttab-left .ui-slideouttab-handle {
    transform-origin: 100% 0%;
    transform: rotate(-90deg);
}

.ui-slideouttab-left .ui-slideouttab-handle-reverse {
    transform-origin: 100% 100%;
    transform: rotate(-90deg) translate(100%,100%);
}

/* turn font awesome icon in a tab upright */
.ui-slideouttab-left .ui-slideouttab-handle > .fa-icon,
.ui-slideouttab-right .ui-slideouttab-handle > .fa-icon {
    transform: rotate(90deg);
}

.ui-slideouttab-handle > .fa-icon {
    margin-left: 0.5em;
}

.ui-slideouttab-top .ui-slideouttab-handle-rounded,
.ui-slideouttab-left .ui-slideouttab-handle-rounded {
    border-radius: 0px 0px 4px 4px;
}

.ui-slideouttab-right .ui-slideouttab-handle-rounded,
.ui-slideouttab-bottom .ui-slideouttab-handle-rounded {
    border-radius: 0px 0px 4px 4px;
}

.w120 {
    width: 120px !important;
    left: 30px !important;
}

.b40 {
    bottom: 45% !important;
    text-align: center;
}

.zindex {
    z-index: 999999 !important;
}

.button-checkbox {
    pointer-events: none;
}


/*Toggle Button*/

.btn-group {
    width: 99px;
    height: 30px;
    position: relative;
    margin: 0.5rem auto;
    border-radius: 10px;
    background: #ffd200;
}

#PP .togglePP, #Close .toggleClose, #Black .toggleBlack, #Green .toggleGreen, #Reopen .toggleReopen, #OP .toggleOP, #RIH .toggleRIH, #CP .toggleCP, #TP .toggleTP, #CD .toggleCD, #OT1 .toggleOT1, #OT2 .toggleOT2, #OT3 .toggleOT3, #OT4 .toggleOT4 {
    width: 33px;
    height: 28px;
    position: absolute;
    left: 33px;
    top: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    /* border: 0.1rem solid #444; */
    background: #fff;
    /* box-shadow: 0 0 0.3rem 0.2rem #444 inset, 0 0 0.3rem 0.2rem #444; */
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-group label {
    cursor: pointer;
    width: 33px;
    height: 30px;
    position: absolute;
    margin: 0;
    top: 1px;
    font-size: 15px;
    padding: 0;
    z-index: 1;
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    text-transform: uppercase;
    color: black;
    -webkit-animation: 6s rot-label ease-in-out infinite;
    -moz-animation: 6s rot-label ease-in-out infinite;
    -o-animation: 6s rot-label ease-in-out infinite;
    animation: 6s rot-label ease-in-out infinite;
}

.btn-group input {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#yes_radioPP:checked, #yes_radioClose:checked, #yes_radioBlack:checked, #yes_radioGreen:checked, #yes_radioReopen:checked, #yes_radioOP:checked, #yes_radioRIH:checked, #yes_radioCP:checked, #yes_radioTP:checked, #yes_radioCD:checked, #yes_radioOT1:checked, #yes_radioOT2:checked, #yes_radioOT3:checked, #yes_radioOT4:checked {
    background: red;
}

    #yes_radioPP:checked ~ .togglePP, #yes_radioClose:checked ~ .toggleClose, #yes_radioBlack:checked ~ .toggleBlack, #yes_radioGreen:checked ~ .toggleGreen, #yes_radioReopen:checked ~ .toggleReopen, #yes_radioRIH:checked ~ .toggleRIH, #yes_radioOP:checked ~ .toggleOP, #yes_radioCP:checked ~ .toggleCP, #yes_radioTP:checked ~ .toggleTP, #yes_radioCD:checked ~ .toggleCD, #yes_radioOT1:checked ~ .toggleOT1, #yes_radioOT2:checked ~ .toggleOT2, #yes_radioOT3:checked ~ .toggleOT3, #yes_radioOT4:checked ~ .toggleOT4 {
        left: 0.1rem;
        width: 3.5rem;
        height: 28px;
        position: absolute;
        border-radius: 10px;
        box-sizing: border-box;
        /* border: 0.1rem solid #444; */
        background: rgb(255, 255, 255);
        /* box-shadow: 0 0 0.3rem 0.2rem #444 inset, 0 0 0.3rem 0.2rem #444; */
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

#no_radioPP:checked, #no_radioClose:checked, #no_radioBlack:checked, #no_radioGreen:checked, #no_radioReopen:checked, #no_radioRIH:checked, #no_radioOP:checked, #no_radioCP:checked, #no_radioTP:checked, #no_radioCD:checked, #no_radioOT:checked {
    background: red;
}

    #no_radioPP:checked ~ .togglePP, #no_radioClose:checked ~ .toggleClose, #no_radioBlack:checked ~ .toggleBlack, #no_radioGreen:checked ~ .toggleGreen, #no_radioReopen:checked ~ .toggleReopen, #no_radioRIH:checked ~ .toggleRIH, #no_radioOP:checked ~ .toggleOP, #no_radioCP:checked ~ .toggleCP, #no_radioTP:checked ~ .toggleTP, #no_radioCD:checked ~ .toggleCD, #no_radioOT1:checked ~ .toggleOT1, #no_radioOT2:checked ~ .toggleOT2, #no_radioOT3:checked ~ .toggleOT3, #no_radioOT4:checked ~ .toggleOT4 {
        left: 65px;
        width: 33px;
        height: 28px;
        position: absolute;
        border-radius: 10px;
        box-sizing: border-box;
        /* border: 0.1rem solid #444; */
        background: rgb(255, 255, 255);
        /* box-shadow: 0 0 0.3rem 0.2rem #444 inset, 0 0 0.3rem 0.2rem #444; */
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

#maybe_radioPP, #maybe-lblPP, #maybe_radioClose, #maybe-lblClose, #maybe_radioBlack, #maybe-lblBlack, #maybe_radioGreen, #maybe-lblGreen, #maybe_radioReopen, #maybe-lblReopen, #maybe-lblOP, #maybe-lblRIH, #maybe-lblCP, #maybe-lblTP, #maybe-lblCD, #maybe-lblOT1, #maybe-lblOT2, #maybe-lblOT3, #maybe-lblOT4 {
    left: 33.33333%;
}

#no_radioPP, #no-lblPP, #no_radioClose, #no-lblClose, #no_radioBlack, #no-lblBlack, #no_radioGreen, #no-lblGreen, #no_radioReopen, #no-lblReopen, #no-lblRIH, #no-lblOP, #no-lblTP, #no-lblCP, #no-lblCD, #no-lblOT1, #no-lblOT2, #no-lblOT3, #no-lblOT4 {
    left: 66.66667%;
}

#maybe-lblPP, #maybe-lblClose, #maybe-lblBlack, #maybe-lblGreen, #maybe-lblReopen, #maybe-lblOP, #maybe-lblRIH, #maybe-lblCT, #maybe-lblCP, #maybe-lblCD, #maybe-lblOT1, #maybe-lblOT2, #maybe-lblOT3, #maybe-lblOT4 {
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

#no-lblPP, #no-lblClose, #no-lblBlack, #no-lblGreen, #no-lblReopen, #no-lblOP, #no-lblRIH, #no-lblTP, #no-lblCP, #no-lblCD, #no-lblOT1, #no-lblOT2, #no-lblOT3, #no-lblOT4 {
    -webkit-animation-delay: 4s;
    -o-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}

.tos-next, .tos-prev {
    opacity: 0.2 !important;
}

    .tos-next:not(.tos-disabled), .tos-prev:not(.tos-disabled) {
        opacity: 0.5 !important;
    }

.select2-container-multi .select2-choices {
    display: block !important;
    outline: none !important;
    border-radius: 10px !important;
    border: solid 1px rgb(111, 111, 111) !important;
    background-color: #ffffff !important;
}

    .select2-container-multi .select2-choices .select2-search-choice {
        border: none !important;
        border: 1px solid rgb(255, 211, 8) !important;
    }

.maploader {
    width: 25%;
    text-align: center;
    height: 20px;
    border: 1px solid rgb(111, 111, 111);
    border-radius: 3px;
    background-image: repeating-linear-gradient( -45deg, #6f6f6f, rgb(111, 111, 111) 11px, #eee 10px, #eee 20px );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
    margin-top: 1%;
    margin-left: 37%;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 28px 0;
    }
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-Grey {
    background-color: rgb(111,111,111) !important;
    color: white !important;
    border: none;
    /*opacity: 0.8;*/
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.info-box-icon {
    background: #fff;
    border: 2px solid #dadbdd;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: black !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress {
    background: rgba(0,0,0,0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.progress, .progress > .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-description {
    margin: 0;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.advancelable {
    list-style: none;
    overflow: hidden;
    margin-top: 15px;
    float: right;
    opacity: 1.0;
    padding: 0;
    z-index: 200;
}

    .advancelable li {
        float: left;
    }

        .advancelable li span {
            color: white;
            text-decoration: none;
            opacity: 0.8;
            padding: 10px 15px 10px 15px;
            background-color: rgb(255, 211, 8);
            position: relative;
            display: block;
            z-index: 200;
            float: left;
            animation-name: animati;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

@keyframes animati {

    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.8;
    }
}


/*My Fav Trip*/

.Trip-card {
    background-size: cover;
    background-position: 0% 24%;
    background-repeat: no-repeat;
    width: 45%;
    float: left;
    /* max-width: 804px; */
    height: 100px;
    display: block;
    margin: 0px 10px 10px 10px;
    /* border-radius: 8px; */
    -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
    /* box-shadow: 0px 8px 12px 0px rgb(26, 33, 41); */
    cursor: pointer;
}

.color-overlay {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 30%, #374756 70%, #21262b 100%);
    background-blend-mode: multiply;
}


.Trip-content {
    width: 100%;
    display: block;
    position: relative;
    float: right;
}

    .Trip-content .Trip-title {
        color: #ffffff;
        margin-bottom: .25em;
        opacity: .9;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Trip-content .Trip-info {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .8em;
        color: #ffffff;
        line-height: 1;
        margin: 0;
        font-weight: 700;
        opacity: .5;
    }

.Trip-share {
    padding: 10px 10px 2px 2px;
    /* display: none; */
    position: absolute;
    text-align: center;
    /* float: right; */
    /* margin-right: 10px; */
    width: 100%;
}

.Trip-share__icon i {
    font-size: 1.2em;
    margin-left: .5em;
    color: #ffffff;
    mix-blend-mode: lighten;
    opacity: 0.8;
}

    .Trip-share__icon i:hover {
        opacity: 1;
        mix-blend-mode: lighten;
    }

@media (max-width: 1000px) {
    .Trip-content {
        width: 50%;
        max-width: 95%;
    }
}

@media (max-width: 800px) {
    .Trip-card {
        width: 95%;
        max-width: 95%;
    }
}

@media (max-width: 600px) {
    .color-overlay {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
        background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    }

    .Trip-content {
        margin-top: 4.2em;
        width: 90%;
    }

    .Trip-share {
        display: block;
        width: 100%;
    }
}


.hoverimg:hover {
    opacity: 1;
    -webkit-animation: flash 1.7s;
    animation: flash 1.7s;
}


@-webkit-keyframes flash {
    0% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}

.mypopover {
    left: auto !important;
    z-index: 99999 !important;
}

.wrapper-trip {
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #697379;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9;
    cursor: pointer;
}

.MTclose {
    position: absolute;
    top: 0;
    /* left: 0; */
    right: 5px;
    float: right;
}

.triploader {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #f6ab3f;
    border-top: 10px solid #4c91cd;
    -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
    animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@-webkit-keyframes loader5 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
    }
}

.wrapper-trip .glyphicon.glyphicon-heart {
    color: rgb(111, 111, 111);
}

.tos-wrapper.tos-fixed {
    z-index: 9999999999 !important;
}


/*Side Menu*/

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
    color: white;
}

.panel-heading a.collapsed:after {
    content: "\2b";
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\2212";
    float: right;
    color: white;
}

.panel-heading a.collapsed:after {
    content: "\2b";
}

.collapse.in {
    padding: 10px !important;
    z-index: 999;
}

#RFPDiv .collapse.in {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 4px;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}
.left-menu-filter .collapse-arrow:after {
    font-family: "Glyphicons Halflings";
    content: "\e113";
    vertical-align: middle;
    font-size: 20px;
    color: #867e7e;
}
.left-menu-filter .collapsing {
    -webkit-transition: none !important;
    transition: none !important;
    display: none;
}
.left-menu-filter .collapsed .collapse-arrow:after {
    content: "\e080";
}
.collapse-arrow {
    position: absolute;
    left: 20px;
    line-height: 20px;
}
/*Loaders*/
@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.timeline-wrapper {
    background-color: #e9eaed;
    color: #141823;
    padding: 20px;
    border: 1px solid rgb(255, 211, 8)47;
}

.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 12px -4px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0);
    /* max-width: 484px; */
    min-height: 200px;
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outlined .background-masker {
    border: 1px solid #ddd;
}

.outlined:hover .background-masker {
    border: none;
}

    .outlined:hover .background-masker:hover {
        border: 1px solid #ccc;
        z-index: 1;
    }

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}

.refresh {
    font-size: 16px;
    padding-top: 30px;
    color: #6f6f6f;
    padding-left: 12px;
}

.mw75 {
    min-width: 68px !important;
}


.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container .select2-choice, .select2-container-multi .select2-choices {
    background-image: none !important;
}
.card .largeimage.imagediv{
    min-height: 145px !important;
}
/*#searchTab .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    text-decoration: none !important;
    background-color: RGB(111,111,111) !important;
    color: #fff;
}*/

/*#searchTab .tab-content {
    color: black;
    border: solid 1px #e0e0e0 !important;
    padding: 0px 0px;
   
}*/

#searchTab .nav-pills > li.active > a, #searchTab .nav-pills > li.active > a:hover, #searchTab .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: rgb(255, 211, 8) !important;
    position: static !important;
}

.p20 {
    padding: 25px 20px 0px 20px;
}

.pbottom12 {
    padding-bottom: 12px
}

.spanInfo {
    float: right;
    padding-right: 5px;
}

.mt-50 {
    margin-top: 50px !important;
}

#liSearchCountry > .largemenu {
    background-color: white;
    background-image: url(../../Images/searchwithcountry.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: left;
    padding-left: 70px;
    vertical-align: middle;
}

#liSearchDestination > .largemenu {
    background-color: white;
    background-image: url(../../Images/searchwithdestination.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: left;
    padding-left: 70px;
    vertical-align: middle;
}

.smallmenu {
    width: 40px !important;
    padding: 0px !important;
    border-radius: 4px 4px 0px 0px !important;
    margin-left: 10px !important;
    padding-left: 40px !important;
    height: 40px !important;
    background-size: 40px 40px !important;
}

#searchTab .nav-pills > #liSearchCountry.active > a.largemenu {
    background-image: url(../../Images/searchwithcountry_selected.png);
}

#searchTab .nav-pills > #liSearchDestination.active > a.largemenu {
    background-image: url(../../Images/searchwithdestination_selected.png);
}


.norecord {
    padding: 15px !important;
    color: black !important;
    border-radius: 10px !important;
    border-color: #f1f1f1 !important;
    background-color: rgb(255, 211, 8) !important;
}

.f20 {
    font-size: 20px;
}

@media only screen and (max-width: 375px) {

    .Cartsidebar {
        display: none;
    }

    #accordion .chkcontainer {
        display: flow-root;
        position: relative;
        padding-left: 35px;
        bottom: 60px !important;
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}


.pl10 {
    padding-left: 10px;
}

.cardellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.nearbyellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 185px;
    display: inline-block;
}


.linearheader {
    height: 40px;
    padding-top: 10px !important;
}

.w16 {
    width: 16px;
    vertical-align: baseline !important;
}

.h80 {
    min-height: 80px !important;
}

.borderradius10 {
    border-radius: 10px !important;
}

.yellow {
    color: #ffd200 !important;
}