﻿.table-responsive {
    border: none !important;
}

.INFORMATION {
    width: 275px;
    bottom: 200px !important;
    right: 30% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}

.LEGEL {
    width: 275px;
    bottom: 0% !important;
    left: 16% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}

.COMMENTS {
    width: 215px;
    bottom: 250px !important;
    left: 16% !important;
    position: absolute;
    z-index: 99999;
    float: left;
}

.CONTENT1 {
    font-family: Helvetica;
    font-size: 38px;
    position: relative;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffd200;
}

.CONTENT2 {
    font-family: Helvetica;
    font-size: 27px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffd200;
    position: relative;
}

.CONTENT3 {
    font-family: Helvetica;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.58px;
    text-align: left;
    color: #000000;
    position: relative;
    margin-top: 20px;
}

.CONTENT4 {
    font-family: Helvetica;
    font-size: 11.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: #000000;
    position: initial;
}

.flags {
    height: 32px;
    bottom: 40px !important;
    right: 0px !important;
    position: absolute;
    z-index: 99999;
    float: right;
}

    .flags ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .flags ul li {
            display: inline;
            padding-right: 12px;
        }

/*header*/

.logo {
    width: 150px;
    object-fit: contain;
    height: 35px;
    margin-top: 4px;
}

.navbar-brand {
    padding: 0px 0px !important;
}

header {
    align-items: center;
    display: flex;
    font-size: 18px;
    /*height: 100vh;*/
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 100px;
}

    header:before {
        animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
        background-size: cover;
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    header:after {
        animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
        background: #F9FCFF;
        content: "";
        /*height: 40rem;*/
        left: -5%;
        position: absolute;
        right: -5%;
        top: 90%;
        transform-origin: 0 0;
        z-index: 0;
    }

.header-subtitle {
    margin-bottom: 5rem;
    font-size: .7125em;
}


.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

.rocky-dashed {
    animation-delay: .6s;
}

.header-title {
    animation-delay: .8s;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #6b6868;
}

.header-subtitle {
    animation-delay: 1s;
    padding-left: 6%;
    color: #6b6868;
}



/* Animations */

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}

.rw-words {
    display: inline;
    text-indent: 10px;
}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    padding-top: 2px;
    font-size: .8125em;
    overflow: hidden;
    color: #0f63c1;
    font-weight: bold;
    animation-delay: 1s;
    -webkit-animation: rotateWord 9s linear infinite 0s;
    -ms-animation: rotateWord 9s linear infinite 0s;
    animation: rotateWord 9s linear infinite 0s;
}

    .rw-words-1 span:nth-child(2) {
        -webkit-animation-delay: 3s;
        -ms-animation-delay: 3s;
        animation-delay: 3s;
        color: #0f63c1;
    }

    .rw-words-1 span:nth-child(3) {
        -webkit-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
        color: #0f63c1;
    }


@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*header*/

@media only screen and (max-width: 1400px) {
    .COMMENTS {
        width: 215px;
        bottom: 250px !important;
        left: 23% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .INFORMATION {
        width: 275px;
        bottom: 200px !important;
        right: 20% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }
}

@media only screen and (max-width: 1030px) {

    .flags {
        bottom: 225px !important;
    }

    .LEGEL {
        width: 275px;
        bottom: 200px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .table > thead > tr > th {
        font-size: 10px !important;
    }

    .largemenu {
        font-size: 15px !important;
    }

    #bihotel > .largemenu {
        background-position: 8% !important;
        font-size: 25px !important;
        padding-top: 30px !important;
    }

    #birestaurant > .largemenu {
        background-position: 8% !important;
        font-size: 25px !important;
        padding-top: 30px !important;
    }

    #bilocation > .largemenu {
        background-position: 8% !important;
        font-size: 25px !important;
        padding-top: 30px !important;
    }

    .fl-group__btn {
        margin-left: 5px;
    }

    .labelheader {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 770px) {


    .COMMENTS {
        width: 215px;
        bottom: 250px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .INFORMATION {
        width: 275px;
        bottom: 215px !important;
        right: 18% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .flags {
        bottom: 180px !important;
    }

    .LEGEL {
        width: 275px;
        bottom: 150px !important;
        left: 8% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .bluefont {
        font-size: 12px !important;
    }

    .CONTENTLink {
        font-size: 12px !important;
    }

    .deleteresource {
        position: absolute;
        right: 40px;
        font-size: 15px;
        z-index: 9999;
    }

    .ellipsis {
        width: 125px !important;
    }

    .CONTENTHEADER, .BCONTENTHEADER {
        font-size: 15px !important;
    }

    .labelheader {
        font-size: 12px !important;
    }

    .btn {
        font-size: 11px !important;
    }

    .table-responsive {
        width: 100% !important;
        margin-bottom: 15px !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        -webkit-overflow-scrolling: touch !important;
        -ms-overflow-style: -ms-autohiding-scrollbar !important;
    }

    #bihotel > .largemenu {
        background-position: 5% !important;
        font-size: 15px !important;
        padding-top: 40px !important;
        padding-left: 50px;
    }

    #birestaurant > .largemenu {
        background-position: 5% !important;
        font-size: 15px !important;
        padding-top: 40px !important;
        padding-left: 50px;
    }

    #bilocation > .largemenu {
        background-position: 5% !important;
        font-size: 15px !important;
        padding-top: 40px !important;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 375px) {

    .Cartsidebar{
        display:none;
    }

    .flags {
        height: 32px;
        bottom: 45px !important;
        right: 20% !important;
        position: absolute;
        z-index: 99999;
        float: right;
    }

    .LEGEL {
        width: 275px;
        bottom: 100px !important;
        left: 15% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .INFORMATION {
        width: 275px;
        bottom: 145px !important;
        right: 18% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }

    .COMMENTS {
        width: 215px;
        bottom: 300px !important;
        left: 20% !important;
        position: absolute;
        z-index: 99999;
        float: left;
    }


    .navbar-toggler {
        display: block !important;
    }

    .navbar-nav {
        margin: 7.5px 0px !important;
    }

    #limyrfp {
        width: 50%;
        float: left;
    }

    #liname {
        width: 100%;
        float: left;
        top: 10px;
        left: -10px;
    }

    #licart {
        width: 50%;
        float: right;
    }

    #limenu {
        width: 25%;
        float: left;
        left: 20px;
    }

    .dropdown-menu {
        border-top: 1px solid grey !important;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #7a7777 !important;
    }

    .hidelabel {
        display: none;
    }

    #searchTab .nav-pills > li > a.largemenu:not(.smallmenu) {
        background-position: 12px !important;
    }

    .largechk {
        right: -10px !important;
    }


    #bihotel > .largemenu {
        height: 120px !important;
    }

    #birestaurant > .largemenu {
        height: 120px !important;
    }

    #bilocation > .largemenu {
        height: 120px !important;
    }

    .largechk {
        right: 7px !important;
        border-radius: 0px 0px 10px 10px !important;
    }

    .can-toggle label {
        right: 62px !important;
        top: -10px !important;
    }

}
