﻿body {
    background-image: url(../../Images/img_banner_home.png);
    background-repeat: no-repeat;
    background-size: 100% 550px;
}

.blurdiv {
    padding: 20px !important;
    background: #0606068c !important;
    border-radius: 10px 10px 10px 10px;
}

#bihotel > .largemenu {
    background-color: white;
    background-image: url(../../Images/hotel.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 10%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    border-radius: 10px;
    padding-top: 25px;
}

#hotelpanel .largemenu {
    background-color: white;
/*    background-image: url(../../Images/hotel_request.png);*/
/*    background-repeat: no-repeat;*/
    display: inline-block;
/*    background-position: 10%;*/
    font-size: 20px;
/*    text-align: center;*/
    vertical-align: middle;
    height: 70px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25%;
    text-decoration: none !important;
}

#birestaurant > .largemenu {
    background-color: white;
    background-image: url(../../Images/restaurant.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 10%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    border-radius: 10px;
    padding-top: 25px;
}

#restaurantpanel .largemenu {
    background-color: white;
/*    background-image: url(../../Images/restaurant_request.png);*/
/*    background-repeat: no-repeat;*/
    display: inline-block;
/*    background-position: 10%;*/
    font-size: 20px;
    /*    text-align: center;*/
    vertical-align: middle;
    height: 70px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25%;
    text-decoration: none !important;
}

#bilocation > .largemenu {
    background-color: white;
    background-image: url(../../Images/location.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 10%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    border-radius: 10px;
    padding-top: 25px;
}

#locationpanel .largemenu {
    background-color: white;
/*    background-image: url(../../Images/location_request.png);*/
/*    background-repeat: no-repeat;*/
    display: inline-block;
/*    background-position: 10%;*/
    font-size: 20px;
    /*    text-align: center;*/
    vertical-align: middle;
    height: 70px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 25%;
    text-decoration: none !important;
}

.wizard-inner .nav-tabs > li > a {
    border: 3px solid transparent;
}
.wizard-inner .nav-tabs > li.active > a {
    border: 3px solid rgb(255, 211, 8) !important;
}

.largechk {
    right: 0px;
    left: auto;
    border-radius: 0px 10px 0px 0px;
    height: 30px;
    width: 30px;
}

.chkcontainer .largechk:after {
    left: 10px !important;
    top: 5px !important;
    width: 10px !important;
    height: 15px !important;
}

.bookmarkfont {
    font-size: 20px !important;
    padding-top: 2px !important;
}

.whitefont {
    color: white !important;
}

.h300 {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}
