﻿.wizard {
    margin: 5px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        /*position: relative;
        margin: 0px auto;
        margin-bottom: 0;
        border-bottom-color: rgb(255, 211, 8);*/
        border:none !important;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

/*.connecting-line {
    height: 1px;
    background: #e0e0e0;
    position: absolute;
    width: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
    display: none;
}*/

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    /* border-radius: 100px; */
    background: #fff;
    border: 1px solid #6b6868;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 1px solid rgb(255, 211, 8);
}

    .wizard li.active span.round-tab i {
        color: rgb(255, 211, 8);
    }

span.round-tab:hover {
    color: #6b6868;
    border: 1px solid rgb(255, 211, 8);
}

/*.wizard .nav-tabs > li {
    width: 7%;
}*/

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: rgb(255, 211, 8);
    transition: 0.1s ease-in-out;
}

/*.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 25%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: rgb(255, 211, 8);
}*/

/*.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    margin: 0px 10px 15px 10px;
    border-radius: 100%;
    padding: 0;
}*/

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 25px;
}

.wizard h3 {
    margin-top: 0;
}

.step1 .row {
    margin-bottom: 10px;
}

.step_21 {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}

.step33 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #6b6868;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}

.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #6b6868;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}

.mar_ned {
    margin-bottom: 10px;
}

.wdth {
    width: 25%;
}

.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #6b6868;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size: 13px
}

.accordion-header {
    font-size: 13px;
    background: #ebebeb;
    margin: 5px 0 0;
    padding: 7px 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.unselect_img {
    width: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active-header {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #F53B27;
}

    .active-header:after {
        content: "\f068";
        font-family: 'FontAwesome';
        float: right;
        margin: 5px;
        font-weight: 400
    }

.inactive-header {
    background: #6b6868;
}

    .inactive-header:after {
        content: "\f067";
        font-family: 'FontAwesome';
        float: right;
        margin: 4px 5px;
        font-weight: 400
    }

.accordion-content {
    display: none;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px
}

    .accordion-content a {
        text-decoration: none;
        color: #6b6868;
    }

    .accordion-content td {
        border-bottom: 1px solid #dcdcdc;
    }

.t5 {
    padding-bottom: 5px;
}

.navbar {
    min-height: 85px !important;
}

@media( max-width : 585px ) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    /*.wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }*/

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 67%;
    }

}

.sectionclass .wizard {
    width: 90%;
    height: auto !important;
}

.sectionclass span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.sectionclass .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.sectionclass .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
}

.sectionclass .wizard .tab-pane {
    position: relative;
    padding-top: 14px;
}

.sectionclass .wizard {
    margin: 6px auto;
    background: #fff;
}

/*.fixheaders .navbar-brand {
    background-color: white;
}*/

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-inverse {
    background-color: white !important;
    opacity: 1;
    border: none !important;
    -webkit-box-shadow: 0px 7px 12px -7px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0px 7px 12px -7px #6b6868, 5px 5px 15px 5px rgba(0,0,0,0);
}

/*.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: white !important;
        background-color: rgb(111, 111, 111) !important;
    }*/

/*footer*/

footer.navbar-default.navbar-fixed-bottom {
    opacity: 0.9;
    height: 400px;
    /* width: 100%; */
    background-position: bottom;
    background-position-x: left;
    position: relative;
    bottom: 0px !important;
    background-color: transparent;
    background-image: url(../../Images/img_footer.png);
    background-repeat: no-repeat;
}

    footer.navbar-default.navbar-fixed-bottom p {
        margin: 0;
    }


.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}

.outerborder {
    border: 1px solid #6f6f6f2b !important;
    margin-top: 0px !important;
}

.cg {
    color: rgb(111, 111, 111) !important;
}

.fs20 {
    font-size: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}


.navbar-brand {
    margin: 17px 17px 17px 17px;
}

.myrequestheader {
    background-color: transparent;
    background-image: url(../../Images/myrequest_header.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: left;
    padding-left: 25px !important;
    vertical-align: middle;
}

.bookmarkheader {
    background-color: transparent;
    background-image: url('../../Images/bookmark_header.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position: left;
    padding-left: 25px !important;
    vertical-align: middle;
}

.font16header {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000 !important;
}

.navbar-right {
    margin-top: 17px !important;
}

.carets {
    background-color: transparent;
    background-image: url('../../Images/dropdown_header.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-position: right;
    padding-right: 25px !important;
    vertical-align: middle;
}

.navbar-nav > li > .dropdown-menu {
    top: 66px;
    border-radius: 10px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 50%;
}

.m0p0 {
    margin-right: 10px;
    padding: 0px !important;
    padding-right: 20px !important;
}

/*CheckBox*/
.funkyradio label {
    width: 30%;
    float: left;
    border-radius: 3px;
    border: 1px solid #6f6f6f2b;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 1em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .funkyradio input[type="radio"]:empty ~ label:before,
        .funkyradio input[type="checkbox"]:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            text-align: left;
            left: 0;
            content: '';
            width: 2.5em;
            background: rgb(111,111,111);
            border-radius: 3px 0 0 3px;
        }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: white;
    }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: rgb(255, 211, 8);
}


.navbar-toggler {
    display: none;
    right: 23px;
    text-align: right;
    position: static;
    margin-top: 7%;
    font-size: 30px;
}

#bookmarkCartCount, #cartCountloader {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: #e94e39;
    color: white;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
}