﻿
.add-form-elements, .iadd-form-elements, #s2id_ddltemplate, #s2id_ddlusers {
    width: 100% !important;
}

.chzn-container {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.chzn-choices {
    border: none !important;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.bluefont {
    color: black !important;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.0px;
    text-align: left;
}

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    background-color: #ffffff;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    -webkit-box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    -moz-box-shadow: 0px 3px 14.7px 1.3px rgba(74, 74, 74, 0.89);
    background-clip: padding-box;
    opacity: 1.0;
    filter: alpha(opacity=97);
}

.blueback {
    background-color: rgb(255, 211, 8) !important;
    color: white !important;
}

.clear10 {
    clear: both;
    height: 10px;
}

.prl10 {
    padding-right: 10px;
    padding-left: 10px;
}

.r5 {
    right: 5px;
}
/*#region Language flags*/

.langEng {
    background: url(/Content/custom/img/flgUS.png) no-repeat top left;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.langDE {
    background: url(/Content/custom/img/flgDE.png) no-repeat top left;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.langES {
    background: url(/Content/custom/img/flgES.png) no-repeat top left;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
/*#endregion*/


.btn-primary {
    /*color: rgb(255, 211, 8) !important;
    border-color: rgb(255, 211, 8) !important;
    background-color: transparent !important;*/
    color: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    background-color: rgb(255, 211, 8) !important;
}

    .btn-primary:hover {
        background-color: rgb(255, 211, 8) !important;
    }

.btn-danger {
    color: rgb(111, 111, 111) !important;
    border-color: rgb(111, 111, 111) !important;
    background-color: transparent !important;
}

    .btn-danger:hover {
        background-color: rgb(111, 111, 111) !important;
    }

.draw-borderB, .btn-primary {
    box-shadow: inset 0 0 0 1px #ffd200;
    color: black !important;
    position: relative;
    border-radius: 10px !important;
    background-color: #ffd200 !important;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.draw-borderW {
    box-shadow: inset 0 0 0 1px white;
    color: white;
    transition: color 0.25s 0.08333s;
    position: relative;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.draw-borderO, .btn-default {
    box-shadow: inset 0 0 0 1px #f4f3ef;
    color: black;
    /*transition: color 0.25s 0.08333s;*/
    position: relative;
    border-radius: 10px !important;
    background-color: #f4f3ef !important;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    border: none !important;
}

/*.draw-borderB::before, .draw-borderB::after, .draw-borderO::before, .draw-borderO::after, .draw-borderW::before, .draw-borderW::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
    }*/

/*.draw-borderB::before, .draw-borderO::before, .draw-borderW::before {
        border-bottom-width: 1px;
        border-left-width: 1px;
    }*/

/*.draw-borderB::after, .draw-borderO::after, .draw-borderW::after {
        border-top-width: 1px;
        border-right-width: 1px;
    }*/

.draw-borderB:hover, .btn-primary:hover {
    /*color: rgb(255, 211, 8) !important;*/
    box-shadow: inset 0 0 0 1px #444;
    background-color: #444 !important;
    color: #ffffff !important;
}

.draw-borderO:hover, .btn-default:hover {
    box-shadow: inset 0 0 0 1px #444;
    background-color: #444 !important;
    color: #ffffff !important;
}

.draw-borderW:hover {
    color: white !important;
}

/*.draw-borderB:hover::before, .draw-borderB:hover::after {
    border-bottom: 1px solid;
    border-bottom-color: rgb(255, 211, 8);
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}*/

.draw-borderO:hover::before, .draw-borderO:hover::after, .btn-default:hover::before, .btn-default:hover::after {
    border-bottom: 1px solid;
    border-bottom-color: rgb(111, 111, 111);
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-borderW:hover::before, .draw-borderW:hover::after {
    border-bottom: 1px solid;
    border-bottom-color: white;
    border-top-color: rgb(111, 111, 111);
    border-left-color: rgb(111, 111, 111);
    border-right-color: rgb(111, 111, 111);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}


/*.draw-borderB:hover::before, .draw-borderO:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}*/

/*.draw-borderB:hover::after, .draw-borderO:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}*/

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

    .btn:focus {
        outline: 1px dotted #55d7dc !important;
    }

hr {
    margin-top: 1px !important;
    margin-bottom: 3px !important;
    border: 0 !important;
    border-top: 1px solid #e0e0e0 !important;
}

.border-topred {
    border-top: 1px solid rgb(255, 211, 8) !important;
}

.fr {
    float: right;
}

.displaynone {
    display: none;
}

@media (min-width: 1600px) {

    .Ccontainer {
        max-width: 1570px;
    }
}

.Ccontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Background*/
.layer {
    background: #f6f7f8;
    background: url(/Content/custom/img/Preloader_m.gif) no-repeat center center;
    position: relative;
    border: solid 1px rgb(255, 211, 8) !important;
}

.PartialLeftFilter {
    min-height: 500px !important;
}

/*Background*/

#exTab .slider-container {
    padding-left: 11px;
}

.bhr {
    border-top: 1px solid rgb(255, 211, 8) !important;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.mr5 {
    margin-right: 5px;
}

.mt6 {
    margin-top: 6%;
}

.ptpb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtpb15 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.ptpl5 {
    margin-top: 5px !important;
    padding-left: 5px !important;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px !important;
}

.w100 {
    min-width: 100px;
}

.w100p {
    min-width: 100%;
}

.w85 {
    width: 95px;
}

.btnpad53 {
    padding: 5px 3px !important;
}

.mo {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.bborder {
    color: black;
    border: solid 1px #c1c1c1 !important;
}

.oborder {
    color: black;
    border: solid 1px rgb(255, 211, 8);
}

.m5 {
    margin: 5px !important;
}

.p5 {
    padding: 5px !important;
}

.plr2 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.p0 {
    padding: 0px !important;
}

.psort {
    padding: 3px 20px;
}

.imgwh {
    max-width: 120px;
    width: 100%;
    height: 100%;
}

.fs14 {
    font-size: 10px !important;
}

.headertitle {
    font-weight: bold;
    font-size: 13px;
    color: rgb(255, 211, 8);
}

.pr0 {
    padding-right: 0px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.mb5 {
    margin-bottom: 5px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.sidebar {
    border-left: 1px solid rgb(255, 211, 8);
}

.borderright {
    border-right: 1px solid #6b6868;
}

.smallfont {
    font-size: 12px !important;
}

@media (max-width: 500px) {
    .smallfont {
        font-size: 8px !important;
    }

    .fs14 {
        font-size: 8px !important;
    }

    .ribbon-top-left {
        top: -8px;
        left: 7% !important;
    }
}

.smallimg {
    width: 16px;
    height: 16px;
}

.h150 {
    min-height: 150px !important;
}



.pt10 {
    padding-top: 10px !important;
}

.p10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fontred {
    color: rgb(111, 111, 111) !important;
}

.fontgrey {
    color: rgb(250, 72, 25) !important;
}

.h237 {
    min-height: 210px;
}

.h245 {
    min-height: 245px;
}

.al {
    text-align: left;
}

.img-fluid, .img-strip {
    object-fit: cover !important;
    max-width: 147px;
    max-height: 103px;
    border-radius: 4px;
}

.largeimage .img-fluid, .largeimage .img-strip {
    object-fit: fill !important;
    max-width: 215px;
    max-height: 125px;
    width: 215px;
    height: 125px;
    border-radius: 4px;
}

/*.tos-inline {
    width: 100px !important;
    height: 100px !important;
}*/
.tos-close, .tos-next {
    right: 0px !important;
}

.tos-prev {
    left: 0px !important;
}

/*.tos-next, .tos-prev {
    height: 20px !important;
    top: 40% !important;
    margin-top: 0px !important;
}*/

.PartialMiddleContent .tos-next, .PartialMiddleContent .tos-prev, .Cartsidebar .tos-next, .Cartsidebar .tos-prev, #divRFPInfo .tos-next, #divRFPInfo .tos-prev {
    height: 30px !important;
    width: 28px !important;
    margin-top: 0px !important;
}
.PartialMiddleContent .tos-next, .PartialMiddleContent .tos-prev {
    top: 32% !important;
}
.PartialMiddleContent .tos-slide {
    vertical-align: middle !important;
}
.Cartsidebar .tos-next, .Cartsidebar .tos-prev, #divRFPInfo .tos-next, #divRFPInfo .tos-prev {
    top: 27% !important;
}

.tos-slider .tos-prev {
    left: 10px !important;
}

.tos-slider .tos-next, .tos-slider .tos-prev {
    position: absolute !important;
    top: 38% !important;
}

/*.tos-next, .tos-prev {
    width: 25px !important;
}*/

.tos-close {
    border: 1px solid #666;
    right: 10px !important;
    height: 50px !important;
    width: 50px !important;
    background-color: rgb(255, 211, 8) !important;
    opacity: unset !important;
}
    .tos-close span:after, .tos-close span:before {
        width: 10px !important;
        height: 10px !important;
    }
    .tos-close span:after {
         border-top: 3px solid #000 !important;
        border-right: 3px solid #000 !important;
    }
    .tos-close span:before {
        border-bottom: 3px solid #000 !important;
        border-left: 3px solid #000 !important;
    }

    .defaultBorder {
        border: 3px solid transparent;
    }
.border {
    border: 3px solid #ffd200 !important;
}

.fr {
    float: right !important;
}

.pointer {
    cursor: pointer;
}

#map {
    min-height: 500px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
}

#drawmap {
    z-index: 2;
    height: 100vh;
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    padding-right: 0px;
}

#sidemap {
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    width: 100%;
}


.modal-footer {
    padding: 5px 15px 5px !important;
    margin-top: 15px !important;
}

.mrml0 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.mapmsg {
    z-index: 1;
    position: absolute !important;
    left: 40%;
    right: 10%;
    top: 40%;
    display: none
}

.maplist {
    z-index: 1;
    position: absolute !important;
    right: 2.8%;
    top: 5%;
    float: right !important;
}

.modal-header {
    padding: 10px !important;
}


.listellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width: 350px !important;*/
    float: right !important;
    overflow-y: scroll !important;
    max-height: 450px;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    position: relative;
    display: block;
    color: black;
    width: 350px;
    /*padding: 0px !important;*/
    /*margin-bottom: -1px;*/
    background-color: white !important;
    opacity: 1.0 !important;
    /*border: 1px solid #dddddd;*/
}

    .list-group-item.active {
        border-color: #444 !important;
        background-color: #444 !important;
        /*border: 3px solid;*/
        border-bottom: 0px;
        color: white;
        opacity: 1.0 !important;
        border-radius: 10px 10px 0px 0px !important;
    }

    .list-group-item:hover {
        background-color: #444 !important;
        color: white !important;
        opacity: 0.8 !important;
        box-shadow: inset 0 0 0 1px #444;
    }

.list-group {
    margin-bottom: 0px !important;
}

.pointernone {
    pointer-events: none;
}


/*stop Bar*/

@media only screen and (max-width: 800px) {

    #accordion .chkcontainer {
        display: flow-root;
        position: relative;
        padding-left: 35px;
        bottom: 70px;
        margin-bottom: 5px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #leftfilter, #lifiltermenu,#limapicon {
        display: none;
    }

    .showtoggledmenu {
        display: block !important;
        position: absolute !important;
        top: 0;
        /*left: -10px;*/
        /*width: 350px !important;*/
        z-index: 9999;
        background-color: #ffffff;
    }

    .showbtntoggle {
        z-index: 99999 !important;
    }
}

@media only screen and (min-width: 800px) {
    #btntoggle {
        display: none !important;
    }
}


#btntoggle {
    margin-left: 5px;
    border: none;
    width: 50px;
    position: absolute;
    z-index: 999;
    left: -7px;
    margin-top: 20px;
    border-radius: 0px 10px 10px 0px !important;
    height: 50px;
}

.pt31 {
    padding-top: 31px !important;
}


/*Fixed Top*/

.borderbottom {
    border-bottom: 1px solid rgb(255, 211, 8);
}

#guide-template #intro-container {
    /*height: 100vh;*/
    width: 100%;
    background-size: cover;
    position: relative;
}


#guide-template .nav-bar {
    position: relative;
    top: 0px;
    width: 100%;
    left: 5px;
    right: 5px;
    /*height: 50px;*/
    /*z-index: 3;*/
    /*background-color: #dcdcdc;*/
    background-color: white;
}

#guide-template.fixed .nav-bar {
    position: fixed;
    z-index: 99999;
}


#guide-template.fixed #main {
    position: relative;
    top: 50px;
}

#exTab .glyphicon {
    line-height: 0px !important;
}

.bgtop {
    background-color: #dadbdd !important
}

.mb20 {
    margin-bottom: 20px !important;
}

.blbr5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: -10px !important;
    font-size: 8px !important;
}

.blbr51 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 1px !important;
    font-size: 8px !important;
}

.xlarge {
    font-size: x-large !important;
}

.w75 {
    width: 75px !important;
}

.alink {
    color: rgb(255, 211, 8) !important;
    cursor: pointer;
    text-decoration: underline !important;
}

.popover {
    border: 1px solid rgb(255, 211, 8) !important;
}

    .popover.top .arrow {
        border-top-color: rgb(255, 211, 8) !important;
        left: 10% !important;
    }

.maindiv .popover {
    min-width: 280px !important;
    left: 0px !important;
    z-index: 9 !important;
}

.popover {
    min-width: 300px !important;
}

.t10 {
    top: -5px !important;
}

.popover-title {
    display: none !important;
}

.popstype {
    top: -12px !important;
    right: -12px;
    float: right;
}

#back-to-top {
    position: fixed;
    bottom: 10%;
    /* padding-top: 16px; */
    right: 0.5%;
    z-index: 10000;
    padding-top: 10px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 12px !important;
    background: #ffd308;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: small;
    /* background-color: rgba(0,0,0,0.25); */
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
}

#refreshmap {
    position: fixed;
    bottom: 80px;
    left: 40px;
    z-index: 99;
    width: 50px;
    height: 27px;
    opacity: 0.8;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    color: #3e80b9;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 35px;
}

#back-to-top:hover {
    background: #444 !important;
}

#back-to-top.show {
    opacity: 1;
}

#refreshmap.hide {
    opacity: 0;
    display: none !important;
}

.sidepanel {
    position: fixed;
    right: 0px;
    float: right;
    z-index: 1000 !important;
}

#copyurl {
    top: 16%;
}

#savefilter {
    top: 20%;
}

#MyTripList {
    top: 24%;
}

#sharefilter {
    top: 24%;
}

.sidepanel .slide {
    float: right;
    width: 475px;
    height: auto;
    background-color: #e3e1e1;
    border: 1px solid rgb(255, 211, 8);
    border-right: none !important;
}

.slideinside {
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    margin: 10px 10px 10px 10px;
    min-height: 150px;
    background-color: white !important;
}

#slidemytripdiv .slideinside {
    box-shadow: 0px 10px 20px 0px rgb(227, 225, 225);
    margin: 10px 10px 10px 10px;
    min-height: 150px;
    text-align: center;
    background-color: transparent !important;
}


.sidepanel .button {
    color: white !important;
    background-color: rgb(255, 211, 8) !important;
    color: white;
    float: right;
    height: 31px;
    width: 30px;
    padding-left: 2px;
    margin-right: 2px;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    font-size: 17px;
}

#slidemytripdiv {
    overflow-y: scroll;
    height: 400px;
}

.sidepanel .button:hover {
    cursor: pointer;
}

.manualslider {
    float: right;
    padding-top: 5px;
    cursor: pointer;
}

.w250 {
    width: 250px;
}

.copyicon {
    margin-left: -3px;
    margin-top: -5px;
}

.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}


.ribbon {
    width: 60px;
    height: 19px;
    overflow: hidden;
    position: absolute;
}

.ribbon-top-left {
    top: -8px;
    left: 8%;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: rgb(111,111,111);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}


.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -35px;
    top: 31px;
    transform: rotate(-45deg);
}

.inhotel {
    float: right;
    width: 110px;
    transform: rotate(45deg);
    font-size: 10px;
    padding-left: 5px;
}

.w90 {
    width: 90%;
}

.pb20 {
    padding-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px !important;
}

.prplmrml0 {
    padding-left: 15px !important;
    margin-left: 0px !important;
    padding-top: 10px !important;
    /* margin-right: 0px !important; */
}

/*.fix140 {
    min-height: 150px !important;
}*/

.btn-white {
    background-color: white !important;
    border-color: white !important;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-menu-item {
    padding: 3px 20px;
    cursor: pointer;
}

.keyboard.icon {
    float: right !important;
    color: rgb(255, 211, 8);
    /* position: relative; */
    /* margin-left: 1px; */
    /* margin-top: 4px; */
    width: 17px;
    height: 17px;
    margin-right: 0px;
    /* border-radius: 1px; */
    /* border: solid 1px rgb(255, 211, 8); */
    background-image: url(/Images/keyboard.png);
    background-repeat: no-repeat;
}

.select2-container-multi .select2-choices .select2-search-field input {
    width: 100% !important;
    padding-left: 15px !important;
    font-family: Helvetica !important;
}

.afurtherfilter {
    float: right !important;
    color: white !important;
    margin-right: 12px !important;
    /*text-decoration:underline !important;*/
}

.hw1515 {
    height: 15px !important;
    width: 15px !important;
}

.notify-bubble {
    position: absolute;
    top: -1px;
    margin-left: -7px;
    padding: 2px 5px 2px 6px;
    background-color: #697379;
    color: white;
    font-size: 0.65em;
    border-radius: 15%;
    box-shadow: 1px 1px 1px #aaa;
    display: none;
}

.overlayH {
    border-bottom: 45px solid rgb(255, 86, 86);
    border-left: 45px solid transparent;
    bottom: 20px;
    height: 0;
    /* opacity: .95; */
    position: absolute;
    right: 15px;
}

.overlayR {
    border-bottom: 45px solid rgb(0, 191, 95);
    border-left: 45px solid transparent;
    bottom: 20px;
    height: 0;
    /* opacity: .95; */
    position: absolute;
    right: 15px;
}

.overlayL {
    border-bottom: 45px solid rgb(95, 0, 191);
    border-left: 45px solid transparent;
    bottom: 20px;
    height: 0;
    /* opacity: .95; */
    position: absolute;
    right: 15px;
}

.corner-overlay-content {
    bottom: 20px;
    color: #6b6868;
    position: absolute;
    right: 20px;
    font-size: large;
    color: white !important;
    text-decoration: underline;
}

.overlayadd {
    border: 14px solid rgb(111, 111, 111);
    /* border-right: 25px solid transparent; */
    bottom: 20px !important;
    height: 18px !important;
    width: 100px !important;
    position: absolute !important;
    left: 31px !important;
    cursor: pointer;
}

    .overlayadd.remove {
        border: 14px solid rgb(255, 211, 8) !important;
        /* border-right: 25px solid transparent; */
        bottom: 20px !important;
        height: 18px !important;
        width: 100px !important;
        position: absolute !important;
        left: 31px !important;
        cursor: pointer;
    }

    .overlayadd:hover {
        border: 14px solid rgb(255, 211, 8);
    }

    .overlayadd.remove:hover {
        border: 14px solid rgb(111, 111, 111) !important;
    }

.corner-overlayadd-content {
    bottom: -11px !important;
    /* color: #6b6868; */
    width: 100px !important;
    position: absolute !important;
    left: -15px !important;
    /* text-align: left; */
    /* font-size: large; */
    color: white !important;
    /* text-decoration: underline; */
    cursor: pointer;
}

.corner-overlayadd-content-remove {
    bottom: -11px !important;
    /* color: #6b6868; */
    position: absolute !important;
    /* left: 14px !important; */
    /* font-size: large; */
    color: white !important;
    /* text-decoration: underline; */
    cursor: pointer;
    width: 80px !important;
}

.rotate45 {
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
    float: left;
    text-align: center;
}


.glyphicon-stop.blue:before {
    color: rgb(255, 211, 8) !important;
}

.glyphicon-stop.grey:before {
    color: white !important;
}

.round-button {
    width: 25%;
}

.round-button-circle {
    width: 100%;
    height: 100%;
    min-height: 225px !important;
    /*padding-bottom: 100%;*/
    /* border-radius: 89%; */
    border-radius: 20px 0px 0px;
    border: 10px solid #c1c1c1;
    overflow: hidden;
    background: #4679BD;
    box-shadow: 0 0 3px grey;
}

.round-button-circlew {
    width: 100%;
    height: 100%;
    min-height: 225px !important;
    /*padding-bottom: 100%;*/
    /* border-radius: 89%; */
    border-radius: 0px 0px 20px 0px;
    border: 10px solid #c1c1c1;
    border-left: none;
    overflow: hidden;
    box-shadow: 0 0 3px grey;
}

.round-button-circle:hover {
    background: #30588e;
}

.round-button .classblue {
    display: block;
    float: left;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 1em;
    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.round-button .classwhite {
    padding-top: 10%;
    text-decoration: none;
}

.newlabel {
    font-size: .8125em !important;
    position: absolute !important;
    top: 5px !important;
    color: rgb(255, 211, 8) !important;
    opacity: 1 !important;
}

.ml5 {
    margin-left: 5px !important;
}

.statictype {
    color: white !important;
    font-size: small !important;
}

.ApplyLastSearch {
    display: inline-block !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.w25 {
    width: 25px;
}

.pt45 {
    margin-top: 50px !important;
}

.p03 {
    padding: 0px 3px !important;
}

#advancemap {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#mycartmap {
    height: 100%;
    top: 0;
    left: 0;
}


.applyadvancefilter {
    position: fixed;
    width: 50px;
    border: 1px #4774a9 solid;
    border-right: none;
    height: 157px;
    cursor: pointer;
    z-index: 1;
    /*opacity: 0.8;*/
    right: 0px;
    background-color: #dadbdd;
    color: #FFF;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.bbwhite {
    border-bottom: 1px #4774a9 solid;
}

.b10p {
    bottom: 10%;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb2 {
    padding-bottom: 5px !important;
}


.pt2 {
    padding-top: 2px !important;
}

.advanceromove {
    background: URL(/Content/custom/img/Common/Cancel.gif) center no-repeat;
}

.opacity5 {
    opacity: 0.5;
}


#arefreshmap {
    background-color: #dadbdd;
    border: 1px solid;
    color: #3e80b9;
    text-align: center;
    opacity: 1.0;
    z-index: 2;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}




.custom-bullet {
    margin-left: -40px;
    list-style: none;
    counter-reset: counter;
}

    .custom-bullet > li:before {
        counter-increment: counter;
        content: counter(counter);
    }

.custom-bullet--c > li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #b3bbc1;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

    .custom-bullet--c > li:before {
        float: right;
        display: none;
        text-align: center;
        color: #f3883c;
    }

.Cartwrapper {
    display: flex;
    height: 101vh;
}

.Cartsidebar {
    width: 30%;
    /*background: #87888a;
    color: white;*/
    overflow-y: scroll;
    padding: 10px;
}

.a-white {
    color: white !important;
}

/*.Tripcontent {
    background: #0074D9;
    color: hsla(208, 100%, 85%, 1.0);
    overflow-y: scroll;
    padding: 10px;
}*/

.Tripsidebar::-webkit-scrollbar {
    width: 10px;
    background-color: #3e80b9;
}

.Tripsidebar::-webkit-scrollbar-thumb {
    background-color: #8e8c88;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.Tripcontent::-webkit-scrollbar {
    width: 10px;
    background-color: #16487c;
}

.Tripcontent::-webkit-scrollbar-thumb {
    background-color: hsla(210, 100%, 75%, 1.0);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.tripul {
    position: absolute !important;
    top: 15px !important;
    right: 0px !important;
}

#ddlmytrip {
    width: 200px !important;
}

.fwb {
    font-weight: bold !important
}

.panel-title {
    font-size: 14px !important;
}

.ml-35 {
    margin-left: -35% !important;
}

.ddldistance {
    color: #6f6f6f !important;
    border-radius: 15px !important;
}

.pa10 {
    padding: 10px !important;
}

.sr_header--map {
    text-align: center;
    width: 50px;
    font-size: 23px;
    color: #867e7e;
    float: left;
    margin: 0px 0px 0px 0px !important;
    height: 48px;
    background: URL('../../Images/mapview.jpg') no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    /* border: 1px solid #bababa; */
    border-radius: 3px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    /* min-height: 50px; */
    /* max-height: 150px;*/
}

.disable {
    z-index: 09;
    opacity: 0.5;
    pointer-events: none;
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fontbold {
    font-weight: bold;
}

.w125 {
    width: 125px;
}

.liback {
    background-color: #444 !important;
    color: white !important;
    opacity: 0.8 !important;
}

.smtop {
    margin-top: 35px;
}

.sliderlowtextbox {
    top: -46px;
    width: 65px !important;
    font-size: 12px !important;
    padding: 2px 2px 2px 3px !important;
    position: relative;
    border: 1px solid rgb(111, 111, 111);
    border-radius: 10px;
}

.sliderhightextbox {
    top: -46px;
    width: 65px !important;
    font-size: 12px !important;
    padding: 2px 2px 2px 3px !important;
    position: relative;
    float: right;
    border: 1px solid rgb(111, 111, 111);
    border-radius: 10px;
}


.resourcecheckboxwidth {
    width: 120px !important
}

.icon {
    color: rgb(255, 211, 8) !important
}

.corner-overlayadd-content-remove-left {
    left: -12px;
}

.linktextcss {
    text-decoration: none !important;
}

.select2-search-field {
    width: 100% !important;
}

.gm-style .gm-style-mtc label {
    display: none !important;
}

.gm-style .gm-style-mtc span {
    display: none !important;
}

/*.gm-style .gm-style-mtc div[title='Show imagery with street names'] {
    display: none !important;
    background-color:transparent !important;
}*/
.gm-style .gm-style-mtc div:nth-child(2)[aria-label='Show satellite imagery']:hover {
    display: none !important;
    background-color: transparent !important;
}

.form-control {
    display: block !important;
    margin: 20px 0 !important;
    padding: 15px !important;
    outline: none !important;
    border-radius: 10px !important;
    border: solid 1px rgb(111, 111, 111) !important;
    background-color: #ffffff !important;
}

.labelheader {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -5px !important;
}

.smalllabelheader {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
    margin-top: -5px !important;
}

.modal-header {
    border-radius: 10px 10px 0px 0px;
}

.ml20 {
    margin-left: 20px !important;
}

.modal-content {
    border-radius: 10px !important;
}

.list-view-toggle {
    background-image: none !important;
    background-color: white !important;
}

.CONTENTLink {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000000 !important;
}

.CONTENT11 {
    /*font-size: 10px;*/
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
    text-align: left;
    /*For Elipsis*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tos-fx-slide {
    margin-top: 0px !important;
}

.tos-slider, .tos-wrapper {
    width: 100% !important;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.largeimage .tos-slider, .largeimage .tos-wrapper {
    width: 300px !important;
    height: 100%;
    margin: auto;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.largeimage .tos-close, .largeimage .tos-next, .largeimage .tos-prev {
    width: 30px !important;
}

.largeimage .tos-next, .largeimage .tos-prev {
    height: 50px !important;
    top: 30% !important;
    margin-top: 0px !important;
}


.mtb0 {
    margin: 0px !important;
}

.mt3 {
    margin-top: 3% !important;
}

.ml0 {
    margin-left: 0px !important;
}

.largemenu {
    height: 70px;
    border-radius: 10px;
    padding-top: 25px !important;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000 !important;
    box-shadow: 3px -0.1px 14.7px 1.3px rgba(176, 190, 193, 0.63);
}

#searchTab .nav-pills > li.active > a.largemenu {
    color: black !important;
}


.paneltransparent {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.panelwhiteback {
    background-color: white !important;
    /*margin-top: 20px !important;*/
    padding: 15px !important;
    border-radius: 10px !important;
}

.theme-green .back-bar .pointer {
    border: 1px solid #ffd308 !important;
    background-color: #ffd308 !important;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff) !important;
    box-shadow: 3px -0.1px 14.7px 1.3px rgba(176, 190, 193, 0.63) !important;
}

.theme-green .back-bar {
    height: 2px !important;
    padding-top: 1px !important;
}

.slider-container .scale {
    top: 10px !important;
}

.mt20p {
    margin-top: 20% !important;
}

#leftfilter {
    /*height: 25vh;*/
    min-height: 200px;
    /*overflow: auto;*/
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

#middlecontent {
    /*height: 200vh;*/
    min-height: 1000px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.tabback {
    border-radius: 10px;
    box-shadow: 3px -0.1px 14.7px 1.3px rgba(176, 190, 193, 0.63);
    background-color: #ffffff;
}

/*.modal-buttons {
    margin: 5px;
    font-size: 22px;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #f4f3ef;
}*/

.amenities-icon {
    color: #fd5e38;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    /* line-height: 45px; */
    font-size: 22px;
    padding: 15px;
    /* width: 87px; */
    font-weight: bold;
    border-radius: 10px;
    background-color: #f4f3ef;
}
