﻿<div id="divControls" style="display:none">
    @Html.Hidden("hdnUserId")
    @Html.Hidden("hdnLandDesc", @DCPPortalWeb.Localization.User.Resource.LandDesc)
    @Html.Hidden("hdnEditUserLabel", @DCPPortalWeb.Localization.User.Resource.EditUserLabel)
    @Html.Hidden("hdnAddUserLabel", @DCPPortalWeb.Localization.User.Resource.AddUserLabel)
</div>
<div>
    <div class="row">

        <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2 pt20">
            <div class="inner-addon left-addon">
                <label for="ddlGender" class="labelheader">
                    @DCPPortalWeb.Localization.Login.Resource.Gender
                </label>
                <select id="ddlGender">
                    <option value="" disabled selected> @DCPPortalWeb.Localization.Login.Resource.Gender</option>
                    <option value="@DCPPortalWeb.Localization.Login.Resource.Male"> @DCPPortalWeb.Localization.Login.Resource.Male</option>
                    <option value="@DCPPortalWeb.Localization.Login.Resource.Female">@DCPPortalWeb.Localization.Login.Resource.Female</option>
                </select>
            </div>
        </div>

        <div class="form-group  col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.FirstName
                </label>
                @Html.TextBox("txtFirstName", "", new { @id = "txtFirstName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.FirstNameDesc })
            </div>
        </div>
        <div class="form-group  col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.LastName
                </label>
                @Html.TextBox("txLastName", "", new { @id = "txLastName", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.LastNameDesc })
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Company
                </label>
                @Html.TextBox("txtCompany", "", new { @id = "txtCompany", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.CompanyDesc })
            </div>
        </div>
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Department
                </label>
                @Html.TextBox("txtDepartment", "", new { @id = "txtDepartment", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.DepartmentDesc })
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Street
                </label>
                @Html.TextBox("txtStreet", "", new { @id = "txtStreet", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.StreetDesc })
            </div>
        </div>
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.PostCode
                </label>
                @Html.TextBox("txtPostCode", "", new { @id = "txtPostCode", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.PostCodeDesc })
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Place
                </label>
                @Html.TextBox("txtPlace", "", new { @id = "txtPlace", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.PlaceDesc })
            </div>
        </div>
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6 pt20">
            <div class="inner-addon left-addon">
                <label for="ddlLand" class="labelheader">
                    @DCPPortalWeb.Localization.Login.Resource.Land
                </label>
                <div id="ddlLand" class="add-form-elements" data_placeholder='@DCPPortalWeb.Localization.Login.Resource.LandDesc'>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Email
                </label>
                @Html.TextBox("txtEmail", "", new { @id = "txtEmail", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.EmailDesc })
            </div>
        </div>
        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.Telephone
                </label>
                @Html.TextBox("txtTelephone", "", new { @id = "txtTelephone", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.TelephoneDesc })
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">

        <div class="form-group  col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.TaxIdentifactionNo
                </label>
                @Html.TextBox("txtTaxIdentifactionNo", "", new { @id = "txtTaxIdentifactionNo", @class = "form-control", @placeholder = @DCPPortalWeb.Localization.User.Resource.TaxIdentifactionNoDesc })
            </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner-addon left-addon">
                <label for="" class="labelheader">
                    @DCPPortalWeb.Localization.User.Resource.InActive
                </label>
                <label class="checkbox-inline chkcontainer mt20">
                    <input type="checkbox" id="chkIsActive" checked>&nbsp;
                    <span class="checkmark mt-15"></span>
                </label>
            </div>
        </div>

    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <button type="button" class="btn draw-borderO fr mr5" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>@DCPPortalWeb.Localization.Home.Resource.Cancel</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnUpdate"><i class="glyphicon glyphicon-floppy-disk"></i>@DCPPortalWeb.Localization.Login.Resource.Update</button>
            <button type="button" class="btn draw-borderB fr mr5" id="btnSubmit"><i class="glyphicon glyphicon-floppy-save"></i>@DCPPortalWeb.Localization.User.Resource.AddUser </button>
        </div>
    </div>
</div>
