﻿
@{
    ViewBag.Title = @DCPPortalWeb.Localization.Common.Resource.TabManageUserTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Ccontainer">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="pull-left BCONTENTHEADER">
                &nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@DCPPortalWeb.Localization.User.Resource.UserHeader
            </div>
            <button type="button" class="btn draw-borderB fr mr5 pull-right mt-15" id="btnAddUser"><i class="glyphicon glyphicon-plus"></i> @DCPPortalWeb.Localization.User.Resource.AddUser</button>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="panel panel-default mt-15">
        <div class="panel-heading panelgrey"><i class="bluefont glyphicon glyphicon-th-list"></i>&nbsp;<b>@DCPPortalWeb.Localization.User.Resource.UserInformation</b></div>
        <div class="panel-body">
            <div class="clear10"></div>
            <div class="row">
                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-8 typeclass mb0">
                    <div class="inner-addon left-addon">
                        <label class="labelheader">
                            @DCPPortalWeb.Localization.User.Resource.FilterUser
                        </label>
                        <input class="form-control" type="text" id="txtFilterUser" placeholder="@DCPPortalWeb.Localization.User.Resource.FilterUser" />
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-left">
                    <div>
                        <label>
                            &nbsp;
                        </label>
                        <button type="button" class="btn draw-borderB mt20" id="btnSearch"><i class="glyphicon glyphicon-search"></i> @DCPPortalWeb.Localization.User.Resource.Search</button>
                    </div>
                </div>

            </div>
            <div class="clear10"></div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-responsive dataTable" id="tblUserInfo">
                            <thead>
                                <tr>
                                    <th class="sortable asc" id="First_Name">
                                        @DCPPortalWeb.Localization.User.Resource.FirstName
                                    </th>
                                    <th class="sortable" id="Last_Name">
                                        @DCPPortalWeb.Localization.User.Resource.LastName
                                    </th>
                                    <th class="sortable" id="Salutation">
                                        @DCPPortalWeb.Localization.User.Resource.Gender
                                    </th>
                                    <th class="sortable" id="Email">
                                        @DCPPortalWeb.Localization.User.Resource.Email
                                    </th>
                                    <th class="sortable" id="Company_Name">
                                        @DCPPortalWeb.Localization.User.Resource.Company
                                    </th>
                                    <th>
                                        @DCPPortalWeb.Localization.User.Resource.Status
                                    </th>
                                    <th>
                                        @DCPPortalWeb.Localization.User.Resource.Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbUserInfo"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addusermodelcontainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panelgrey">
                <button type="button" class="close" data-dismiss="modal" id="btnCloseModal">&times;</button>
                <h4 class="modal-title fl h45"><span id="lblUserModeltitle"><i class="glyphicon glyphicon-edit"></i>&nbsp;@DCPPortalWeb.Localization.User.Resource.UserHeader</span></h4>
            </div>
            <div id="rfpmodelbody" class="modal-body">
                @Html.Partial("_AddUser")
            </div>
        </div>
    </div>
</div>

@Html.Hidden("hdnActive", @DCPPortalWeb.Localization.User.Resource.Active)
@Html.Hidden("hdnInActive", @DCPPortalWeb.Localization.User.Resource.InActive)


@Scripts.Render("~/bundles/UserJs")

@Styles.Render("~/Contents/VerticalTabCss")



